.item_mng_header {
    margin: 0px auto 60px;

    h2 {
        font-size: 15px;
        text-align: center;
    }

    .divider {
        width: 70px;
        height: 1px;
        background: #aaa;
        margin: 20px auto;
    }
}

.item_mng_body {
    margin: 0 auto;

    form {
        table {
            font-size: 12px;

            thead {
                th {
                    padding: 15px 0 14px;
                    border-bottom: 1px solid #e5e5e5;
                    color: #353535;
                    vertical-align: middle;
                    font-weight: normal;
                    background: #fff;
                    text-align: center;
                }
            }

            tbody {
                vertical-align: middle;
                text-align: center;

                tr {
                    td {
                        padding: 15px 5px 14px;
                        border-top: 1px solid #e5e5e5;
                        color: #353535;

                        a {
                            width: 90px;
                            margin: 1px 0;
                        }

                        a:hover {
                            text-decoration: underline;
                            color: rgb(107, 107, 107);
                        }
                    }

                    td:nth-child(2) {
                        text-align: left;
                    }
                }
            }
        }
    }

    .search_box {
        margin-top: 40px;
        display: flex;
        justify-content: end;
        align-items: center;

        select {
            border: 1px solid #d3d3d3;
            font-size: 12px;
            margin-right: 2px;
            height: 40px;
        }

        input {
            width: 240px;
            border: none;
            height: 40px;
            border: 1px solid #d3d3d3;
            padding-left: 10px;
            font-size: 12px;
            margin-right: 2px;
        }

        input:focus {
            outline: none;
        }

        input:focus::placeholder {
            opacity: 0;
        }
    }
}