.admin_main_body {
    .row {
        width: 100%;

        .info_box {
            background-color: white;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 3px;
            width: 100%;
            // box-shadow: 1px 1px 20px -10px rgb(0, 0, 0, 0.2);

            .txt_box {
                .title {
                    display: block;
                    color: #6b6b6b;
                    font-size: 12px;
                }

                .txt {
                    font-size: 12px;
                    color: #6b6b6b;
                }

                strong {
                    font-size: 18px;
                }
            }

            .icon_box {
                svg {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    padding: 15px;
                }

                svg.fa-user {
                    color: #0090F4;
                    background-color: #EBF4FC;
                }

                svg.fa-cart-shopping {
                    color: #FCBB0F;
                    background-color: #FDF5D8;
                }

                svg.fa-envelope {
                    color: #6C41E8;
                    background-color: #F2EEFF;
                }

                svg.fa-coins {
                    color: #14C470;
                    background-color: #E6FFEB;
                }
            }
        }

        .chart_box {
            background-color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 3px;
            width: 100%;
            min-height: 300px;
            max-height: 300px;

            .header {
                width: 100%;
                text-align: left;
                padding: 0 0 15px 0;

                span {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .body {
                width: 100%;
                flex: 1 1 0;
            }
        }

        .table_box {
            background-color: white;
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 3px;
            width: 100%;
            min-height: 300px;
            max-height: 300px;

            .header {
                width: 100%;
                text-align: left;
                padding: 0 0 15px 0;

                span {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .body {
                width: 100%;
                overflow-x: auto;

                .message_wrap {
                    @include board_message_wrap();
                }
            }
        }

        .big_table_box {
            min-height: 500px;
            max-height: 500px;
        }
    }
}