/* admin_main page start */
.admin_main_body {
    .card-header {
        position: relative;

        span {
            margin-left: 5px;
        }

        .fa-bars {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 18px;
            cursor: pointer;
        }
    }

    .card-body {
        table {
            font-size: 12px;

            thead {
                th {
                    padding: 15px 0 14px;
                    border-top: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                    color: #353535;
                    vertical-align: middle;
                    font-weight: normal;
                    background: #fff;
                    text-align: center;
                }
            }

            tbody {
                vertical-align: middle;
                text-align: center;

                tr {
                    td {
                        padding: 15px 5px 14px;
                        border-top: 1px solid #e5e5e5;
                        color: #353535;

                        a {
                            width: 90px;
                            margin: 1px 0;
                        }

                        a:hover {
                            text-decoration: underline;
                            color: rgb(107, 107, 107);
                        }

                        &.thumb {
                            img {
                                width: 80px;
                                height: 110px;
                            }
                        }

                        &.product {
                            .name a {
                                color: #353535 !important;
                            }

                            .option {
                                color: #757575;
                                margin-top: 9px;
                            }
                        }

                        &.left_top {
                            text-align: left;
                            vertical-align: top;
                        }

                        button {
                            font-size: 12px !important;
                            padding: 0 !important;
                        }
                    }

                    td.left {
                        text-align: left;
                    }
                }
            }
        }
    }
}