@import "../abstracts/variables";

.pagination-container {
    // width: 100%;
    margin: 70px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        font-size: 13px;
        display: inline-block;

        li {
            margin: 0 15px;
            display: inline-block;

            a {
                color: black;
            }
        }

        li.disabled {
            pointer-events: none;
        }

        .page {
            text-align: center;
        }

        .page:hover a {
            color: #000;
            font-weight: bold;
        }

        .page.active a {
            color: #000;
            font-weight: bold;
            text-decoration-line: underline;
        }

        .prev,
        .next {
            color: rgba(50, 50, 50, 1);
            font-size: 13px;
        }

        .prev {
            margin-right: 20px;

        }

        .next {
            margin-left: 20px;
        }
    }
}