/* cart page start */
.cart_body {
    width: 100%;
    margin: 0 auto 60px;

    .table_box {
        .title {
            margin: 40px 0 10px 10px;

            h3 {
                color: #353535;
                font-size: 13px;
                font-weight: bold;
            }
        }

        table {
            table-layout: fixed;
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
            position: relative;
            margin: 10px 0 0;
            border: 1px solid #e5e5e5;
            border-top: 1px solid #e5e5e5;
            border-right: none;
            border-left: none;
            line-height: 1.7;
            font-size: 12px;
            letter-spacing: 0.0em !important;
            color: #353535;

            thead {
                tr {
                    th {
                        text-align: center;
                        padding: 15px 0 14px;
                        vertical-align: middle;
                        font-weight: normal;
                        background-color: #fff;

                        input[type=checkbox] {
                            position: relative;
                            top: 3px;
                        }
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border-top: 1px solid #e5e5e5;
                        text-align: center;
                        vertical-align: middle;
                        padding: 15px 0;
                        height: 135px;

                        &.order_date {
                            letter-spacing: -0.5px;
                        }

                        &.thumb {
                            img {
                                width: 80px;
                                height: 110px;
                            }
                        }

                        &.product {
                            .name a {
                                color: #353535 !important;
                            }

                            .option {
                                color: #757575;
                                margin-top: 9px;
                            }
                        }

                        &.left_top {
                            text-align: left;
                            vertical-align: top;
                        }

                        button {
                            font-size: 12px !important;
                            padding: 0 !important;
                            margin-bottom: 2px;
                            height: 28px !important;
                        }

                        &.item_price {
                            span {
                                display: block;
                            }
                        }

                        &.delivery_price {
                            span {
                                display: block;
                            }

                            span.text {
                                font-size: 11px;
                                color: #353535;
                            }
                        }

                        &.item_price {
                            span {
                                display: block;
                            }
                        }

                        .cnt_box {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            input {
                                width: 35px;
                                height: 25px;
                                line-height: 20px;
                                border: 1px solid #CCCCCC;
                                border-top-left-radius: 2px;
                                border-bottom-left-radius: 2px;
                                padding-left: 2px;
                            }

                            .cnt_btn {
                                display: flex;
                                flex-direction: column;

                                i {
                                    background: transparent;
                                    outline: none;
                                    border: 1px solid #CCCCCC;
                                    width: 25px;
                                    height: 12.5px;
                                    text-align: center;
                                    vertical-align: middle;
                                    border-top-right-radius: 2px;
                                    border-bottom-right-radius: 2px;
                                    border-left: none;
                                    cursor: pointer;

                                    &::before {
                                        font-size: 10px;
                                        vertical-align: top;
                                    }
                                }
                            }
                        }
                    }
                }

                &.center {
                    text-align: center;
                }
            }
        }

        p {
            margin: -1px 0 0;
            border-bottom: 1px solid #ddd;
            padding: 50px 0;
            text-align: center;
            color: #757575;
            font-weight: normal;
            font-size: 12px;
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 20px;
                line-height: 50px;
                font-size: 13px;

                li {
                    margin: 0 15px;

                    a {
                        color: #999;
                    }
                }

                li.disabled {
                    pointer-events: none;
                }

                .page {
                    text-align: center;
                }

                .page:hover a {
                    color: #000;
                    font-weight: bold;
                }

                .page.active a {
                    color: #000;
                    font-weight: bold;
                    text-decoration-line: underline;
                }

                .prev,
                .next {
                    color: rgba(50, 50, 50, 1);
                    font-size: 13px;
                }

                .prev {
                    margin-right: 20px;

                }

                .next {
                    margin-left: 20px;
                }
            }
        }
    }

    .cart_null {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 80px;
        text-align: center;
        font-size: 11px;
        color: #707070;
        font-weight: bold;
    }

    .cart_total {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 60px;

        table {
            font-size: 12px;
            text-align: center;

            thead {
                vertical-align: middle;

                tr {
                    th {
                        padding: 15px 0 14px;
                        border-bottom: 1px solid #e5e5e5;
                        color: #353535;
                        font-weight: normal;
                        background: #fff;
                        font-size: 15px;
                        font-weight: bold;
                    }
                }

            }

            tbody {
                vertical-align: middle;

                tr {
                    td {
                        padding: 15px 5px 14px;
                        border-top: 1px solid #e5e5e5;
                        color: #353535;
                        font-size: 16px;
                        font-weight: bold;

                        span {
                            font-size: 23px;
                            font-weight: bold;
                        }

                        a {
                            width: 90px;
                            margin: 1px 0;

                            img {
                                // margin: 20px;
                            }
                        }

                        a.btn_submit {
                            display: inline-block;
                            padding: 4px 8px;
                            border: 1px solid transparent;
                            border-radius: 0px;
                            font-size: 12px;
                            line-height: 18px;
                            font-weight: normal;
                            text-decoration: none;
                            word-spacing: -0.5px;
                            letter-spacing: 0;
                            white-space: nowrap;
                            color: #fff;
                            background-color: #000;
                        }

                        a.btn_normal {
                            display: inline-block;
                            padding: 4px 8px;
                            border: 1px solid #e2e2e2;
                            border-radius: 0px;
                            font-size: 12px;
                            line-height: 18px;
                            font-weight: normal;
                            text-decoration: none;
                            word-spacing: -0.5px;
                            letter-spacing: 0;
                            white-space: nowrap;
                            color: #222;
                            background-color: #fff;
                        }
                    }

                    td.left {
                        padding-left: 20px;
                        text-align: left;
                    }
                }
            }
        }
    }
}

.cart_btn {
    position: relative;
    margin: 10px 0 40px;
    text-align: center;

    span {
        position: absolute;
        top: 0px;
        right: 0;
    }
}

.user_help {
    margin-top: 80px;
    border: 1px solid #ddd;

    h3 {
        padding: 20px 0 20px 20px;
        border-bottom: 1px solid #e8e7e7;
        color: #101010;
        font-size: 15px;
        font-weight: bold;
        background: #fff;
    }

    .inner {
        padding: 5px 9px 20px;
        font-size: 12px;

        h4 {
            margin: 20px 0 15px 10px;
            color: #111;
            font-size: 13px;
        }

        ol {
            padding: 0;
            margin: 10px 0 10px 11px;

            li {
                padding-left: 15px;
                color: #707070;
                line-height: 10px;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 3px;
                    height: 3px;
                    margin: 2px 9px 0 -12px;
                    vertical-align: top;
                    border-radius: 50%;
                    background: #6d6d6d;
                    line-height: 10px;
                }
            }

        }
    }
}