/* item page start */
.item_body {
    margin: 40px auto 0;

    .img {
        display: flex;

        .item-small-img {
            img {
                height: 95px;
                margin: 10px 0;
                cursor: pointer;
                display: block;
                opacity: 0.6;
            }

            img:hover {
                opacity: 1;
            }
        }

        .img-container {
            padding: 10px;

            img {
                height: 515px;
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        max-width: 470px;

        .item_title {
            margin-bottom: 20px;

            h3 {
                font-size: 17px;
                font-weight: bold;
            }
        }

        .item_desc {
            margin-bottom: 20px;

            p {
                font-size: 14px;

            }
        }

        .item_price {
            .title {
                display: inline-block;
                width: 20%;
                margin: 7px 20px 7px 0;
                vertical-align: middle;
                font-size: 11px;

                span {
                    font-size: 12px;
                    color: #555555;
                }
            }

            .con {
                display: inline-block;
                width: auto;
                margin: 7px 20px 7px 0;
                vertical-align: middle;
                font-size: 11px;

                span {
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }

        .total_price {
            margin: 0;
            padding: 25px 4px 25px;
            color: #333;
            border-top: 1px solid #ddd;
            vertical-align: middle;
            background: #fff;
            text-align: right;

            span {
                font-size: 12px;
                color: #000;

                strong em {
                    font-style: normal;
                    font-size: 17px;
                    padding: 0 5px 0 20px;
                }
            }
        }

        .item_option {
            font-size: 12px;

            .item_color {
                margin: 15px 0;
                display: flex;
                align-items: center;

                .title {
                    display: inline-block;
                    width: 25%;
                }

                .con {
                    display: inline-block;
                    width: auto;

                    select {}
                }
            }

            .item_size {
                margin: 15px 0;
                display: flex;

                .title {
                    display: inline-block;
                    width: 25%;
                }

                .con {
                    display: inline-block;
                    width: auto;

                    select {}
                }
            }
        }

        .btn_inner {
            .big_btn {
                button {
                    display: inline-block;
                    border: 1px solid transparent;
                    border-radius: 0;
                    line-height: 18px;
                    vertical-align: middle;
                    word-spacing: -0.5px;
                    text-align: center;
                    color: #fff;
                    background-color: #151515;
                    width: 100%;
                    padding: 14px;
                    font-size: 12px;
                    letter-spacing: 1px;
                }
            }

            .small_btn {
                width: 100%;
                display: flex;
                margin-top: 2%;
                clear: both;
                justify-content: space-between;

                button {
                    display: inline-block;
                    border: 1px solid #e2e2e2;
                    border-radius: 0;
                    line-height: 18px;
                    vertical-align: middle;
                    word-spacing: -0.5px;
                    text-align: center;
                    color: #000;
                    background-color: #fff;
                    width: 49%;
                    padding: 14px 0;
                    font-size: 12px;
                    letter-spacing: 1px;
                }
            }
        }
    }
}