/* itemDtl page start */
.item_dtl_body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .item_dtl {
        .item_img_wrap {
            display: flex;
            flex-direction: column;

            .main_img_box {
                margin-bottom: 5px;

                .main_img {
                    height: 576px;
                    width: 432px;
                }
            }

            .thumb_img_box {
                .thumb_img {
                    height: 125px;
                    width: 95px;
                    opacity: 0.6;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .item_info_wrap {
            display: flex;
            flex-direction: column;
            padding: 20px 20px;
            min-width: 400px;

            .item_title {
                margin-bottom: 20px;

                h3 {
                    font-size: 17px;
                    font-weight: bold;
                }
            }

            .item_desc {
                margin-bottom: 20px;

                p {
                    font-size: 14px;

                }
            }

            .item_price {
                display: flex;

                .title {
                    display: inline-block;
                    width: 30%;
                    font-size: 12px;
                    margin: 7px 20px 7px 0;

                    span {
                        font-size: 12px;
                        color: #555555;
                    }
                }

                .con {
                    display: inline-block;
                    width: auto;
                    font-size: 12px;
                    margin: 7px 0;

                    span {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
            }

            .discount_price {
                display: flex;

                .title {
                    display: inline-block;
                    width: 30%;
                    font-size: 12px;
                    margin: 7px 20px 7px 0;

                    span {
                        font-size: 12px;
                        color: #333333;
                        font-weight: bold;
                    }
                }

                .con {
                    display: inline-block;
                    font-size: 12px;
                    margin: 7px 0;

                    span {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }

                .discount_rate {
                    display: inline-block;
                    font-size: 12px;
                    margin: 7px 0 0 7px;

                    span {
                        font-size: 12px;
                        color: #e06f18;
                        font-weight: bold;
                    }

                }
            }

            .point {
                display: flex;

                .title {
                    display: inline-block;
                    width: 30%;
                    font-size: 12px;
                    margin: 7px 20px 7px 0;

                    span {
                        font-size: 12px;
                        color: #555555;
                    }
                }

                .con {
                    display: inline-block;
                    width: auto;
                    font-size: 12px;
                    margin: 7px 0;

                    span {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
            }

            .total_box {
                margin: 0;
                padding: 25px 4px 25px;
                color: #333;
                border-top: 1px solid #ddd;
                vertical-align: middle;
                background: #fff;
                text-align: right;
                font-size: 12px;
                color: #000;

                strong em {
                    font-style: normal;
                    font-size: 17px;
                    padding: 0 5px 0 20px;
                }
            }

            .item_option {
                font-size: 12px;

                .item_color {
                    margin: 15px 0;
                    display: flex;
                    justify-content: space-between;

                    .title {
                        display: inline-block;
                        width: 25%;
                    }

                    .con {
                        display: inline-block;
                        width: auto;

                        select {
                            height: 20px;
                            line-height: 20px;
                            border: 1px solid #CCCCCC;
                            padding-left: 2px;
                            border-radius: 2px;
                        }
                    }
                }

                .item_size {
                    margin: 15px 0;
                    display: flex;
                    justify-content: space-between;

                    .title {
                        display: inline-block;
                        width: 25%;
                    }

                    .con {
                        display: inline-block;
                        width: auto;

                        select {
                            height: 20px;
                            line-height: 20px;
                            border: 1px solid #CCCCCC;
                            padding-left: 2px;
                            border-radius: 2px;
                        }
                    }
                }

                .item_cnt {
                    margin: 15px 0;
                    display: flex;
                    justify-content: space-between;

                    .title {
                        display: inline-block;
                        width: 25%;
                    }

                    .con {
                        display: inline-block;
                        vertical-align: middle;
                        display: flex;

                        input {
                            width: 35px;
                            height: 25px;
                            line-height: 20px;
                            border: 1px solid #CCCCCC;
                            border-top-left-radius: 2px;
                            border-bottom-left-radius: 2px;
                            padding-left: 2px;
                        }

                        .cnt_btn {
                            display: flex;
                            flex-direction: column;

                            i {
                                background: transparent;
                                outline: none;
                                border: 1px solid #CCCCCC;
                                width: 25px;
                                height: 12.5px;
                                text-align: center;
                                vertical-align: middle;
                                border-top-right-radius: 2px;
                                border-bottom-right-radius: 2px;
                                border-left: none;
                                cursor: pointer;

                                &::before {
                                    font-size: 10px;
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                }
            }

            .btn_inner {
                .buy_btn {
                    button {
                        display: inline-block;
                        border: 1px solid transparent;
                        border-radius: 0;
                        line-height: 18px;
                        vertical-align: middle;
                        word-spacing: -0.5px;
                        text-align: center;
                        color: #fff;
                        background-color: #151515;
                        width: 100%;
                        padding: 14px;
                        font-size: 12px;
                        letter-spacing: 1px;
                    }
                }

                .cart_btn {
                    button {
                        display: inline-block;
                        border: 1px solid #e2e2e2;
                        border-radius: 0;
                        line-height: 18px;
                        vertical-align: middle;
                        word-spacing: -0.5px;
                        text-align: center;
                        color: #000;
                        background-color: #fff;
                        width: 100%;
                        padding: 14px;
                        font-size: 12px;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }

    .item_additional {
        margin: 100px auto 0;

        .item_review_warp {
            .item_review_header {
                h3 {
                    padding: 0 10px 0 9px;
                    font-size: 17px;
                    color: #222222;
                    text-align: center;
                    margin-bottom: 25px;
                    font-weight: bold;
                }
            }

            .item_review_body {
                .review_table {
                    table-layout: fixed;
                    width: 100%;
                    border-spacing: 0;
                    border-collapse: collapse;
                    position: relative;
                    margin: 10px 0 0;
                    border: 1px solid #e5e5e5;
                    border-top: 1px solid #e5e5e5;
                    border-right: none;
                    border-left: none;
                    line-height: 1.7;
                    font-size: 12px;
                    letter-spacing: 0.0em !important;
                    color: #353535;

                    thead {
                        tr {
                            th {
                                text-align: center;
                                padding: 15px 0 14px;
                                vertical-align: middle;
                                font-weight: normal;
                                background-color: #fff;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                border-top: 1px solid #e5e5e5;
                                text-align: center;
                                vertical-align: middle;
                                padding: 15px 0;

                                &.left_top {
                                    text-align: left;
                                    vertical-align: top;
                                }

                                a:hover {
                                    text-decoration: underline;
                                    color: #555555;
                                }
                            }

                            &.center {
                                text-align: center;
                            }
                        }
                    }
                }

                .message_wrap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 110px 0;
                    text-align: center;
                    border-bottom: 1px solid #e5e5e5;

                    .message {
                        font-size: 11px;
                        color: #707070;
                        font-weight: bold;
                    }
                }

                .btn_wrap {
                    margin: 20px 0;
                    display: flex;
                    justify-content: end;
                    align-items: center;

                    button {
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}