/* index page start */
#items {
    overflow: hidden;

    .items_header {
        margin: 0px auto 60px;

        h2 {
            font-size: 15px;
            text-align: center;
        }

        .divider {
            width: 70px;
            height: 1px;
            background: #aaa;
            margin: 20px auto;
        }
    }

    .items_body {
        width: 80%;
        margin: 0 auto;

        .search_result {
            padding: 50px;
            text-align: center;
            font-size: 12px;

            .search_input {
                position: relative;
                width: 400px;
                display: inline-block;
                padding: 0 36px 5px 0;
                border-bottom: 2px solid #444;

                input {
                    border: 0;
                    font-size: 17px;
                    padding: 0 10px;
                    width: 100%;
                    outline: 0;
                    background: #fff;
                }

                button {
                    position: absolute;
                    top: -10px;
                    right: 5px;
                    outline: 0;
                    background: none;
                    border: none;

                    .icon {
                        font-size: 25px;
                        color: #333;
                        margin: 5px 5px 0 0;
                    }
                }
            }

            .content_count {
                font-size: 12px;
            }
        }

        .img_box {
            margin-bottom: 7%;

            .desc {
                padding: 10px 0;
                background-color: #fff;
                color: #000;

                .name {
                    font-size: 12px;
                    color: #222222;
                }

                .discount,
                .no_discount {
                    .item_price {
                        font-size: 12px;
                        color: #000000;
                    }

                    .discount_price {
                        font-size: 12px;
                        color: #333333;
                        font-weight: bold;
                    }

                    .discount_rate {
                        font-size: 12px;
                        color: #e06f18;
                        font-weight: bold;
                    }
                }

                .no_discount {
                    .item_price {
                        text-decoration: line-through;
                    }
                }
            }
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 20px;
                line-height: 50px;
                font-size: 13px;

                li {
                    margin: 0 15px;

                    a {
                        color: #999;
                    }
                }

                li.disabled {
                    pointer-events: none;
                }

                .page {
                    text-align: center;
                }

                .page:hover a {
                    color: #000;
                    font-weight: bold;
                }

                .page.active a {
                    color: #000;
                    font-weight: bold;
                    text-decoration-line: underline;
                }

                .prev,
                .next {
                    color: rgba(50, 50, 50, 1);
                    font-size: 13px;
                }

                .prev {
                    margin-right: 20px;

                    &:hover a {
                        color: #000;
                        font-weight: bold;
                    }
                }

                .next {
                    margin-left: 20px;

                    &:hover a {
                        color: #000;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}