/* orderHist page start */
.order_hist_body {
    width: 90%;
    margin: 0 auto;

    .table_wrap {
        width: 100%;
        overflow-x: auto;

        table {
            tbody {
                tr {
                    td {
                        height: 135px;

                        &.order_date {
                            letter-spacing: -0.5px;
                        }

                        &.thumb {
                            img {
                                width: 80px;
                                height: 110px;
                            }
                        }

                        &.product {
                            padding-left: 20px;

                            .name a {
                                color: #353535 !important;
                            }

                            .option {
                                color: #757575;
                                margin-top: 9px;
                            }
                        }

                        &.left_top {
                            text-align: left;
                            vertical-align: top;
                        }

                        &.item_price {
                            span {
                                display: block;
                            }
                        }

                        &.delivery_price {
                            span {
                                display: block;
                            }

                            span.text {
                                font-size: 11px;
                                color: #353535;
                            }
                        }

                        button {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .message_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 110px 0;
        text-align: center;
        border-bottom: 1px solid #e5e5e5;

        .message {
            font-size: 11px;
            color: #707070;
            font-weight: bold;
        }
    }
}