/* profile page start */
.message_box {
    width: 80%;
    margin: 45px auto 15px;
}

.modify_body {
    display: flex;
    justify-content: center;

    form {
        width: 80%;

        table {
            tbody {
                td {
                    span {
                        margin-top: 2px;
                    }

                    select.mail_select {
                        width: 125px;
                    }

                    button.send_mail,
                    button.check_number,
                    button.find_addr {
                        padding: 0;
                        height: 30px;
                        margin-bottom: 2px;
                        border: 1px solid #e2e2e2;
                        background: white;

                        &:hover {
                            border: 1px solid black;
                        }
                    }

                    button.send_mail,
                    button.check_number,
                    button.find_addr {
                        width: 90px;
                    }
                }
            }
        }

        .btn_box {
            padding: 10px 0;
            text-align: center;
            display: block;
            margin-top: 30px;
        }
    }
}

@media (max-width: 1100px) {
    .modify_body {
        form {
            width: 100%;
        }
    }
}

@media (max-width: 786px) {
    .modify_body {
        form {
            width: 100%;

            table {
                colgroup {
                    col:nth-child(1) {
                        width: 25% !important;
                    }
                }
            }
        }
    }
}