/* signUp page start */
.signup_body {

    .form_wrap {
        display: flex;
        justify-content: center;

        form {
            width: 100%;

            table {
                tbody {
                    td {

                        span {
                            margin-top: 2px;
                        }

                        select.mail_select {
                            width: 125px;
                        }

                        button.send_mail,
                        button.check_number,
                        button.find_addr {
                            padding: 0;
                            height: 30px;
                            margin-bottom: 2px;
                            border: 1px solid #e2e2e2;
                            background: white;

                            &:hover {
                                border: 1px solid black;
                            }
                        }

                        button.send_mail,
                        button.check_number,
                        button.find_addr {
                            width: 90px;
                        }
                    }
                }
            }

            .agree_wrap {
                margin-top: 30px;

                .check_all {
                    padding: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    border: 1px solid #e5e5e5;
                    color: #404040;
                    background-color: #fbfafa;
                    display: flex;
                    align-items: center;

                    input {
                        width: 14px;
                        height: 14px;
                    }

                    label {
                        font-size: 16px;
                        color: #353535;
                        line-height: 24px;
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }

                .agree {
                    border: 1px solid #e5e5e5;
                    border-top: none;
                    background-color: #fbfafa;
                    padding: 20px;
                    margin-left: auto;
                    margin-right: auto;

                    h3 {
                        margin: 0 0 10px;
                        font-size: 14px;
                        color: #353535;
                        font-weight: bold;
                    }

                    .content {
                        overflow: auto;
                        height: 110px;
                        padding: 20px;
                        border: 1px solid #fff;
                        background: #fff;

                        p {
                            padding: 0 0 17px;
                            margin: 0;
                            line-height: 1.8;
                            font-size: 12px;
                            color: #747474;
                        }
                    }

                    .check {
                        padding: 20px 0 0 0;
                        color: #202020;
                        font-size: 13px;
                        line-height: 24px;
                        margin: 0;

                        input {
                            display: inline-block;
                            position: relative;
                            vertical-align: top;
                            margin: 5px 0 0 2px;
                            width: 13px;
                            height: 13px;
                            border: 0;
                        }

                        label {
                            margin: 0 4px 0 2px;
                        }
                    }
                }
            }

            .btn_box {
                padding: 10px 0;
                text-align: center;
                display: block;
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 786px) {
    .signup_body {
        form {
            width: 100%;

            table {
                colgroup {
                    col:nth-child(1) {
                        width: 25% !important;
                    }
                }
            }
        }
    }
}