.update_pw_body {
    .result_success {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        form {
            width: 80%;

            table {
                tbody {
                    td {

                        .pw_input_box {
                            color: #d43301;

                            .pw_result_text {
                                margin-left: 4px;
                            }
                        }

                        .pw_confirm_input_box {
                            .pw_confirm_result_text {
                                margin-left: 4px;
                            }
                        }
                    }
                }
            }
        }

        .btn_box {
            padding: 10px 0;
            text-align: center;
            display: block;
            margin-top: 30px;
        }
    }

    .result_fail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        border: 1px solid #dddddd;
        width: 100%;
        margin: 0 auto;

        .message_box {
            font-size: 28px;
            text-align: center;
            line-height: 64px;
            color: #1d1d1d;
            font-weight: 300;


            p {
                svg {
                    color: #12A19A;
                    font-size: 56px;
                    margin-right: 10px;
                    vertical-align: middle;
                }

                span {
                    color: #12A19A;
                    font-weight: 400;
                }
            }
        }

        .btn_box {
            margin: 0 auto;
            padding: 30px;

            button {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -0.7px;
                line-height: 46px;
                text-align: center;
                vertical-align: middle;
                word-spacing: 0px;
                height: 50px;
                width: 216px;
                border: 1px solid #dddddd;
                margin: 0.3px 0.3px;
                background-color: #F5F5F5;

                &:hover {
                    background-color: #ffffff;
                }
            }
        }
    }
}