<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/adminLayout.html :: head"></div>
</head>

<body>
    <main>
        <div th:replace="/layouts/adminLayout.html :: sidebar"></div>

        <article class="content">
            <div th:replace="/layouts/adminLayout.html :: nav"></div>

            <!-- section -->
            <section class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="content-head mb-3">
                        <h4>관리자 페이지</h4>
                    </div>
                    <div class="content-body">
                        관리자 페이지입니다.
                    </div>
                </div>
            </section>
        </article>
    </main>

    <div th:replace="/layouts/adminLayout.html :: JS"></div>
    <div th:replace="/layouts/adminLayout.html :: csrf"></div>

    <!-- 사용자 JS -->
    <script></script>
</body>

</html>