<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/defaultLayout.html :: head"></div>
</head>

<body>
    <main>
        <div th:replace="/layouts/defaultLayout.html :: sidebar"></div>

        <article class="content">
            <div th:replace="/layouts/defaultLayout.html :: nav"></div>

            <!-- review_form section -->
            <section id="review_form">
                <div class="container-fluid review_form">
                    <div class="section_header">
                        <h2>리뷰 수정</h2>
                        <div class="divider"></div>
                    </div>
                    <div class="review_form_body mt-5">

                        <!-- item_info_wrap start -->
                        <div class="item_info_wrap">
                            <span class="thumbnail">
                                <a th:href="${'/item/' + review.itemId}">
                                    <img th:src="${review.imgUrl}">
                                </a>
                            </span>
                            <div class="information">
                                <h3>
                                    <a th:href="${'/item/' + review.itemId}" th:text="${review.itemNm}"></a>
                                </h3>
                                <div class="price">
                                    <span class="price" th:unless="${review.discount > 0}" th:text="|${#numbers.formatInteger(review.price, 0, 'COMMA')}원|"></span>
                                    <span class="beforePrice" th:if="${review.discount > 0}" th:text="|${#numbers.formatInteger(review.price, 0, 'COMMA')}원|"></span>
                                    <span class="salePrice" th:if="${review.discount > 0}" th:text="|${#numbers.formatInteger(review.salePrice, 0, 'COMMA')}원|"></span>
                                </div>
                            </div>
                        </div>
                        <!-- item_info_wrap end -->

                        <!-- review_form_wrap start -->
                        <div class="review_form_wrap">
                            <form th:object="${review}" method="post">
                                <table style="table-layout: fixed !important;">
                                    <colgroup>
                                        <col style="width:20%;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{title}">제목 <span>*</span></label>
                                        </th>
                                        <td>
                                            <input class="title_input" type="text" th:field="*{title}">
                                            <span class="text-danger title_warn">제목을 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{rating}">평점 <span>*</span></label>
                                        </th>
                                        <td>
                                            <select th:field="*{rating}" class="rating_select">
                                                <option value="0.5">0.5</option>
                                                <option value="1.0">1.0</option>
                                                <option value="1.5">1.5</option>
                                                <option value="2.0">2.0</option>
                                                <option value="2.5">2.5</option>
                                                <option value="3.0">3.0</option>
                                                <option value="3.5">3.5</option>
                                                <option value="4.0">4.0</option>
                                                <option value="4.5">4.5</option>
                                                <option value="5.0">5.0</option>
                                            </select>
                                            <span class="text-danger title_warn">평점을 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{content}">내용 <span>*</span></label>
                                        </th>
                                        <td>
                                            <textarea class="content_input" th:field="*{content}"></textarea>
                                            <span class="text-danger content_warn">내용을 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{password}">비밀번호 <span>*</span></label>
                                        </th>
                                        <td>
                                            <input class="password_input" th:field="*{password}" type="password">
                                            <span class="text-danger password_warn">비밀번호를 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="btn_box">
                                    <button class="black_btn_w130_h40 save_btn" type="button">저장</button>
                                    <button class="white_btn_w130_h40 cancel_btn" type="button">취소</button>
                                </div>
                            </form>
                        </div>
                        <!-- review_form_wrap end -->
                    </div>
                </div>
            </section>

            <div th:replace="/layouts/defaultLayout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="/layouts/defaultLayout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script th:inline="javascript">
        $(function() {

            /* 저장 버튼 */
            $(".save_btn").on("click", function () {
                let reviewId = [[${review.reviewId}]];
                let password = [[${review.password}]];

                if (confirm("리뷰를 수정하시겠습니까?")) {

                    if ($(".password_input").val() === '') {
                        alert("비밀번호를 입력하세요.");
                    } else if ($(".password_input").val() === password) {
                        let title = $(".title_input").val();
                        let rating = $(".rating_select").val();
                        let content = $(".content_input").val();
                        let password = $(".password_input").val();

                        param = {
                            reviewId: reviewId,
                            title: title,
                            rating: rating,
                            content: content,
                            password: password
                        }

                        let paramData = JSON.stringify(param);

                        $.ajax({
                            url: "/review/update/" + reviewId,
                            type: "PATCH",
                            contentType: "application/json",
                            dataType: "text",
                            cache: false,
                            data: paramData,
                            success: function (result, status) {
                                alert(result);
                                location.href = '/reviews';
                            },
                            error: function (request, status, error) {
                                if (request.status === '401') {
                                    alert('로그인 후 이용해주세요.');
                                    location.href = '/login';
                                } else {
                                    alert(request.responseText);
                                }
                            },
                        });
                    } else {
                        alert("비밀번호가 일치하지 않습니다.");
                    }
                } else {
                    false;
                }
            });

            /* 취소 버튼 */
            $(".cancel_btn").on("click", function () {
                location.href = "/reviews";
            });
        });
    </script>
</body>