<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/defaultLayout.html :: head"></div>
</head>

<body>
    <main>
        <div th:replace="/layouts/defaultLayout.html :: sidebar"></div>

        <article class="content">
            <div th:replace="/layouts/defaultLayout.html :: nav"></div>

            <!-- review_enroll section -->
            <section id="review_enroll">
                <div class="container-fluid review_enroll">
                    <div class="section_header">
                        <h2>리뷰 등록</h2>
                        <div class="divider"></div>
                    </div>
                    <div class="review_enroll_body mt-5">

                        <!-- item_info_wrap start -->
                        <div class="item_info_wrap" th:if="${#strings.isEmpty(review)}">
                            <input type="hidden" class="hiddenItemId" value="0">
                            <span class="thumbnail">
                                <a class="item_link" style="pointer-events: none">
                                    <img class="no_img" src="/imgs/no_image.jpg">
                                </a>
                            </span>
                            <div class="information">
                                <button id="test" class="white_btn_w90_h40 find_item_btn">상품정보선택</button>
                                <span class="itemId_warn_msg text-danger">상품을 선택해주세요.</span>
                            </div>
                        </div>
                        <div class="item_info_wrap" th:if="${not #strings.isEmpty(review)}">
                            <input type="hidden" class="hiddenItemId" th:value="${review.itemId}">
                            <span class="thumbnail">
                                <a th:href="${'/item/' + review.itemId}">
                                    <img class="item_img" th:src="${review.imgUrl}">
                                </a>
                            </span>
                            <div class="information">
                                <h3>
                                    <a th:href="${'/item/' + review.itemId}" th:text="${review.itemNm}"></a>
                                </h3>
                                <div class="price">
                                    <span class="price" th:unless="${review.discount > 0}"
                                          th:text="|${#numbers.formatInteger(review.price, 0, 'COMMA')}원|"></span>
                                    <span class="beforePrice" th:if="${review.discount > 0}"
                                          th:text="|${#numbers.formatInteger(review.price, 0, 'COMMA')}원|"></span>
                                    <span class="salePrice" th:if="${review.discount > 0}"
                                          th:text="|${#numbers.formatInteger(review.salePrice, 0, 'COMMA')}원|"></span>
                                </div>
                                <button class="white_btn_w90_h40 new_find_item_btn">상품정보선택</button>
                            </div>
                        </div>

                        <!-- review_form_wrap start -->
                        <div class="review_form_wrap">
                            <form id="reviewEnrollForm" th:action="@{'/review/enroll'}" th:object="${reviewDto}"
                                  method="post">
                                <table>
                                    <colgroup>
                                        <col style="width:15%;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{title}">제목 <span>*</span></label>
                                        </th>
                                        <td>
                                            <input class="title_input" type="text" th:field="*{title}">
                                            <span class="text-danger title_warn_msg">제목을 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{rating}">평점 <span>*</span></label>
                                        </th>
                                        <td>
                                            <fieldset class="rate">
                                                <input type="radio" id="rating10" name="rating" value="5"><label for="rating10"></label>
                                                <input type="radio" id="rating9" name="rating" value="4.5"><label for="rating9" class="half" ></label>
                                                <input type="radio" id="rating8" name="rating" value="4"><label for="rating8"></label>
                                                <input type="radio" id="rating7" name="rating" value="3.5"><label for="rating7" class="half" ></label>
                                                <input type="radio" id="rating6" name="rating" value="3"><label for="rating6"></label>
                                                <input type="radio" id="rating5" name="rating" value="2.5"><label for="rating5" class="half" ></label>
                                                <input type="radio" id="rating4" name="rating" value="2"><label for="rating4"></label>
                                                <input type="radio" id="rating3" name="rating" value="1.5"><label for="rating3" class="half" ></label>
                                                <input type="radio" id="rating2" name="rating" value="1"><label for="rating2"></label>
                                                <input type="radio" id="rating1" name="rating" value="0.5"><label for="rating1" class="half" ></label>
                                            </fieldset>
                                            <span class="text-danger rating_warn_msg">평점을 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{content}">내용 <span>*</span></label>
                                        </th>
                                        <td>
                                            <textarea class="content_input" th:field="*{content}"></textarea>
                                            <span class="text-danger content_warn_msg">내용을 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{password}">비밀번호 <span>*</span></label>
                                        </th>
                                        <td>
                                            <input class="password_input" th:field="*{password}" type="password">
                                            <span class="text-danger password_warn_msg">비밀번호를 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="btn_box">
                                    <button class="black_btn_w130_h40 enroll_btn" type="button">등록</button>
                                    <button class="white_btn_w130_h40 cancel_btn" type="button">취소</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>

            <div th:replace="/layouts/defaultLayout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="/layouts/defaultLayout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script th:inline="javascript">
        $(function () {
            /* 상품 검색 버튼 */
            $(".find_item_btn").on("click", function (e) {
                e.preventDefault();

                let popUrl = "/review/itemList";
                let popOption = "width=600px, height=500px,top=300px, left=300px, scrollbars=yes";

                window.open(popUrl, "findItem", popOption);
            });

            /* 동적으로 생성된 상품 검색 버튼 */
            $(document).on("click", ".new_find_item_btn", function (e) {
                e.preventDefault();

                let popUrl = "/review/itemList";
                let popOption = "width=600px, height=500px,top=300px, left=300px, scrollbars=yes";

                window.open(popUrl, "findItem", popOption);
            });

            /* 리뷰 등록 버튼 */
            $(".enroll_btn").on("click", function () {
                /* 유효성 검사 통과유무 변수 */
                let titleCheck = false;     // 제목 체크
                let ratingCheck = false;    // 평점 체크
                let contentCheck = false;   // 내용 체크
                let passwordCheck = false;  // 비밀번호 체크
                let itemIdCheck = false;    // 상품정보선택 체크

                /* 입력값 변수 */
                let titleVal = $('.title_input').val(); // 제목 입력란
                let ratingVal = $("input[name='rating']:checked").val(); // 제목 입력란
                let contentVal = $('.content_input').val(); // 내용 입력란
                let passwordVal = $('.password_input').val(); // 비밀번호 입력란
                let itemIdVal = $('.hiddenItemId').val(); // 비밀번호 입력란

                /* 제목 유효성 검사 */
                if (titleVal === "") {
                    $('.title_warn_msg').css('display', 'block')
                    titleCheck = false;
                } else {
                    $('.title_warn_msg').css('display', 'none')
                    titleCheck = true;
                }

                /* 평점 유효성 검사 */
                if (!ratingVal >= 1) {
                    $('.rating_warn_msg').css('display', 'block')
                    ratingCheck = false;
                } else {
                    $('.rating_warn_msg').css('display', 'none')
                    ratingCheck = true;
                }

                /* 내용 유효성 검사 */
                if (contentVal === "") {
                    $('.content_warn_msg').css('display', 'block')
                    contentCheck = false;
                } else {
                    $('.content_warn_msg').css('display', 'none')
                    contentCheck = true;
                }

                /* 비밀번호 유효성 검사 */
                if (passwordVal === "") {
                    $('.password_warn_msg').css('display', 'block')
                    passwordCheck = false;
                } else {
                    $('.password_warn_msg').css('display', 'none')
                    passwordCheck = true;
                }

                /* 상품정보선택 유효성 검사 */
                if (itemIdVal === "0") {
                    $('.itemId_warn_msg').css('display', 'block')
                    itemIdCheck = false;
                } else {
                    $('.itemId_warn_msg').css('display', 'none')
                    itemIdCheck = true;
                }

                /* 최종 유효성 검사 */
                if (titleCheck && ratingCheck && contentCheck && passwordCheck && itemIdCheck) {
                    let itemId = $(".hiddenItemId").val();

                    let param = {
                        itemId: itemId,
                        title: $(".title_input").val(),
                        rating: $("input[name='rating']:checked").val(),
                        content: $(".content_input").val(),
                        password: $(".password_input").val()
                    }
                    let paramData = JSON.stringify(param);

                    $.ajax({
                        url: "/review/enroll",
                        type: "POST",
                        contentType: "application/json",
                        dataType: "text",
                        cache: false,
                        data: paramData,
                        success: function (result, status) {
                            alert(result);
                            location.href = '/reviews';
                        },
                        error: function (request, status, error) {
                            if (request.status === '401') {
                                alert('로그인 후 이용해주세요.');
                                location.href = '/login';
                            } else {
                                alert(request.responseText);
                            }
                        },
                    });
                }
                return false;
            });

            /* 취소 버튼 */
            $(".cancel_btn").on("click", function () {
                window.history.back();
            });

        });
    </script>
</body>
</html>