<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Winsome</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- fontawesome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZxltAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- xeicon css -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/css/css/style.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- fontawesome js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
        integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M" crossorigin="anonymous">
        </script>
</th:block>

<body>
    <main class="admin_main_area">
        <aside class="admin_sidebar_area" th:fragment="sidebar (currentMenu)">
            <div class="sidebar_logo">
                <h2>WINDSOME</h2>
            </div>

            <div class="sidebar_profile">
                <div class="profile_img">
                    <svg th:data-jdenticon-value="${#authentication.name}" width="36" height="36"></svg>
                </div>
                <div class="profile_name">
                    <div class="name_box">
                        <button type="button" class="toggle_btn"><span th:text="${#authentication.name}"></span><i class="fa-solid fa-sort-down"></i></button>
                    </div>
                    <div class="logout_box">
                        <ul>
                            <li sec:authorize="isAuthenticated()">
                                <form action="#" th:action="@{/logout}" method="post">
                                    <button type="submit">
                                        <span>Logout</span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sidebar_menu">
                <div class="sidebar-header">
                    사이트 관리
                </div>
                <div class="sidebar-item">
                    <a th:href="@{/admin/main}" class="sidebar-link" th:classappend="${currentMenu == 'home'}? active">
                        <i class="xi-cog pe-2"></i>
                        Dashboard
                    </a>
                    <a th:href="@{/admin/items}" class="sidebar-link"
                        th:classappend="${currentMenu == 'productManagement'}? active">
                        <i class="xi-shop pe-2"></i>
                        상품 관리
                    </a>
                    <a th:href="@{/admin/orders}" class="sidebar-link"
                        th:classappend="${currentMenu == 'orderManagement'}? active">
                        <i class="xi-cart-o pe-2"></i>
                        주문 관리
                    </a>
                    <a onclick="alert('준비중입니다.');" class="sidebar-link" th:classappend="${currentMenu == 'customerManagement'}? active">
                        <i class="xi-user-o pe-2"></i>
                        고객 관리
                    </a>
                    <a onclick="alert('준비중입니다.');" class="sidebar-link" th:classappend="${currentMenu == 'boardManagement'}? active">
                        <i class="xi-list pe-2"></i>
                        게시판 관리
                    </a>
                    <hr class="line">
                    <a th:href="@{/}" class="sidebar-link">
                        <i class="xi-log-out pe-2"></i>
                        나가기
                    </a>
                </div>
            </div>
        </aside>

        <article class="admin_content_area">
            <!-- navigation -->
            <nav th:fragment="nav" class="admin_nav_area">
                <div class="menu">
                    <ul class="menu_link">
                        <li>
                            <a th:href="@{/}">
                                <i class="xi-log-out" style="font-size: 24px;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu_toggle">
                    <input type="checkbox" id="hamburger">
                    <label for="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
            </nav>

            <!-- footer -->
            <footer th:fragment="footer" class="def_footer_area">
                <div class="footer_header">
                    <ul>
                        <li><a onclick="alert('준비중입니다.');">HOME</a></li>
                        <li><a onclick="alert('준비중입니다.');">COMPANY</a></li>
                        <li><a onclick="alert('준비중입니다.');">AGREEMENT</a></li>
                        <li><a onclick="alert('준비중입니다.');">PRIVACY</a></li>
                        <li><a onclick="alert('준비중입니다.');">GUIDE</a></li>
                    </ul>
                </div>
                <div class="footer_address">
                    <span>TEL: 070-0000-0000</span>
                    <span class="shop_black"></span>
                    <span>ADDRESS: 서울특별시 서초구 언남16길 13 윈섬 WINDSOME</span>
                </div>
                <div class="footer_copyright">
                    Copyright &copy <strong>윈섬 WINDSOME</strong>. All rights reserved.
                </div>
            </footer>
        </article>
    </main>

    <script th:inline="javascript" th:fragment="commonJs">
        $(function () {
            /* csrf token */
            var csrfToken = /*[[${_csrf.token}]]*/ null;
            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });

            /* 스크롤 시 navbar 투명 */
            $(window).scroll(function () {
                if ($(this).scrollTop() == 0)
                    $('.admin_nav_area').css('opacity', '1');
                else
                    $('.admin_nav_area').css('opacity', '.6');
            });

            <!-- sidebar toggle 기능 -->
            let toggleBtn = $('.menu_toggle');
            let sidebar = $('.admin_sidebar_area');
            toggleBtn.click(function (e) {
                e.preventDefault();
                sidebar.toggleClass("active");
            });

            <!-- 프로필 toggle 기능 -->
            $('.toggle_btn').click(function () {
                $('.logout_box').toggleClass('active');
            });
        });
    </script>
</body>

</html>