<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/defaultLayout.html :: head"></div>
</head>

<body>
    <main>
        <div th:replace="/layouts/defaultLayout.html :: sidebar"></div>

        <article class="content">
            <div th:replace="/layouts/defaultLayout.html :: nav"></div>

            <!-- orderHist section -->
            <section id="order_form">
                <div class="container order_form">
                    <div class="section_header">
                        <h2>주문서 작성</h2>
                        <div class="divider"></div>
                    </div>
                    <div class="order_form_body mt-5">

                        <!-- order_items_info start -->
                        <div class="order_items_info">
                            <div class="title">
                                <h2>주문 상품 정보</h2>
                            </div>
                            <div class="body">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;" scope="col">이미지</th>
                                            <th style="width: auto;" scope="col">상품정보</th>
                                            <th style="width: 10%;" scope="col">가격</th>
                                            <th style="width: 10%;" scope="col">수량</th>
                                            <th style="width: 10%;" scope="col">상품주문금액</th>
                                            <th style="width: 10%;" scope="col">배송비</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="order : ${orders}">
                                            <td class="thumb">
                                                <a th:href="${'/item/' + order.itemId}">
                                                    <img th:src="${order.imgUrl}">
                                                </a>
                                            </td>
                                            <td class="product left_top">
                                                <strong class="name">
                                                    <a th:href="${'/item/' + order.itemId}"
                                                       th:text="${order.itemNm}"></a>
                                                </strong>
                                                <div class="option">[옵션: 선택 X]</div>
                                            </td>
                                            <td class="item_price">
                                                <span th:if="${order.discount == 0}"
                                                  th:text="|${#numbers.formatInteger(order.price, 0, 'COMMA')}원|"></span>
                                                <span th:if="${order.discount > 0}" style="text-decoration: line-through"
                                                      th:text="|${#numbers.formatInteger(order.price, 0, 'COMMA')}원|"></span>
                                                <strong th:if="${order.discount > 0}"
                                                        th:text="|${#numbers.formatInteger(order.salePrice, 0, 'COMMA')}원|"></strong>
                                            </td>
                                            <td class="order_count">
                                                <span th:text="${order.count}"></span>
                                                <input type="hidden" th:id="'count_' + ${order.itemId}" th:value="${order.count}" readonly>
                                            </td>
                                            <td class="total_price">
                                                <strong th:id="'price_' + ${order.itemId}" class="info"
                                                        th:data-price="${order.price}"
                                                        th:data-discount="${order.discount}"
                                                        th:data-count="${order.count}"
                                                        th:text="|${#numbers.formatInteger(order.totalPrice, 0, 'COMMA')}원|"
                                                        th:data-id="${order.itemId}"></strong>
                                            </td>
                                            <td class="delivery_price">
                                                <span>2,500원</span>
                                                <span class="text">(30,000원 이상 무료)</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="delivery_and_point">
                                <span class="total_delivery_price">배송비: 0원</span>
                                <span class="total_point">적립 예정 금액: 0원</span>
                            </div>
                        </div>
                        <!-- order_items_info end -->

                        <!-- user_info start -->
                        <div class="user_info mt-3">
                            <div class="title">
                                <h2>배송지 정보</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/order/orderForm}" th:object="${account}" method="post">
                                    <table>
                                        <colgroup>
                                            <col style="width:15%;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th scope="row">
                                                <label th:for="*{name}">받으시는 분 <span>*</span></label>
                                            </th>
                                            <td>
                                                <div class="name_input_box">
                                                    <input class="name_input" th:field="*{name}" type="text">
                                                </div>
                                                <span class="final_name_ck text-danger">받으시는 분을 입력해주세요.</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label th:for="*{address1}">주소 <span>*</span></label>
                                            </th>
                                            <td>
                                                <input th:field="*{address1}" class="address_input_1 mb-1"
                                                       readonly="readonly">
                                                <button type="button" class="find_addr white_btn_w65_h30"
                                                        onclick="execution_daum_address()">주소 찾기</button>
                                                <div class="clearfix"></div>
                                                <input th:field="*{address2}" class="address_input_2 d-block w-50 mb-1"
                                                       readonly="readonly">
                                                <input th:field="*{address3}" class="address_input_3 d-block w-50 mb-1"
                                                       readonly="readonly">
                                                <span class="final_addr_ck text-danger">주소를 입력해주세요.</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label>휴대전화 <span>*</span></label>
                                            </th>
                                            <td>
                                                <div>
                                                    <input type="tel" class="tel_input" maxlength="11" placeholder="'-'을 제외한 휴대전화를 입력해 주세요.">
                                                </div>
                                                <span class="final_tel_ck text-danger">휴대전화를 입력해주세요.</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label th:for="*{email}">이메일 <span>*</span></label>
                                            </th>
                                            <td>
                                                <div class="mail_input_box mb-1">
                                                    <input class="mail_input" th:field="*{email}" type="email">
                                                </div>
                                                <span class="final_mail_ck text-danger">이메일을 입력해주세요.</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label>배송메시지</label>
                                            </th>
                                            <td>
                                                <div>
                                                    <textarea class="req_input" style="width: 50%; border: 1px solid #dfdfdf"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <!-- user_info end -->

                        <!-- discount_box start -->
                        <div class="discount_box">
                            <div class="title">
                                <h2>할인/부가결제</h2>
                            </div>
                            <div class="body">
                                <table>
                                    <colgroup>
                                        <col style="width:15%;">
                                        <col style="width:auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th scope="row">
                                            <label>할인코드 적용</label>
                                        </th>
                                        <td>
                                            <div class="coupon_input_box">
                                                <input class="coupon_input" type="text">
                                                <button class="white_btn_w65_h30 coupon_btn">적용</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label>적립금</label>
                                        </th>
                                        <td>
                                            <div class="point_input_box">
                                                <input class="point_input" type="number" value="0">
                                                <button class="white_btn_w90_h30 point_input_btn point_input_btn_Y" th:data-state="Y">전액 사용</button>
                                                <button class="white_btn_w90_h30 point_input_btn point_input_btn_N" th:data-state="N">사용 취소</button>
                                            </div>
                                            <span class="point" th:text="|보유 잔액: ${#numbers.formatInteger(account.point, 0, 'COMMA')}원|"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- discount_box end -->

                        <!-- total_box start -->
                        <div class="total_box">
                            <div class="title">
                                <h2>결제 정보</h2>
                            </div>
                            <div class="body">
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th style="width: 20%;" scope="col">상품 금액</th>
                                        <th style="width: 20%;" scope="col">배송비</th>
                                        <th style="width: 20%;" scope="col">할인/부가결제</th>
                                        <th style="width: auto;" scope="col">최종 결제 금액</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span class="order_total_price">0원</span>
                                        </td>
                                        <td>
                                            <span class="order_delivery_price">- 0원</span>
                                        </td>
                                        <td>
                                            <span class="order_discount_price">+ 0원</span>
                                        </td>
                                        <td>
                                            = <span class="total_amount">0원</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- total_box end -->

                        <!-- btn_box start -->
                        <div class="btn_box">
                            <button class="order_btn black_btn_w130_h40" type="button">결제하기</button>
                            <button class="cancel_btn white_btn_w130_h40" type="button">취소</button>
                        </div>
                        <!-- btn_box end -->

                    </div>
                </div>
            </section>
            <div th:replace="/layouts/defaultLayout.html :: footer"></div>
        </article>
    </main>

    <!-- 주문 요청 form -->
    <form class="order_form" th:action="@{/order}" method="post">
        <input name="usePoint" type="hidden">
<!--        <input name="totalOrderPrice" type="hidden">-->
<!--        <input name="deliveryCost" type="hidden">-->
        <input name="address1" type="hidden">
        <input name="address2" type="hidden">
        <input name="address3" type="hidden">
        <input name="tel" type="hidden">
        <input name="email" type="hidden">
        <input name="req" type="hidden">
        <!-- 상품 정보 -->
    </form>

    <div th:replace="/layouts/defaultLayout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">
        $(function() {
            setTotalInfo();

            /* 주문 요청 */
            $(".order_btn").on("click", function(){
                /* 유효성 검사 통과 유무 변수 */
                let name_check = false;          // 이름
                let address_check = false        // 주소
                let tel_check = false            // 휴대 전화
                let mail_check = false           // 이메일

                /* 입력값 변수 */
                let name = $('.name_input').val();          // 이름 입력란
                let address = $('.address_input_3').val();  // 주소 입력란
                let tel = $('.tel_input').val();            // 휴대 전화 입력란
                let mail = $('.mail_input').val();          // 이메일 입력란

                /* 이름 유효성 검사 */
                if (name === "") {
                    $('.final_name_ck').css('display', 'inline-block')
                    name_check = false;
                } else {
                    $('.final_name_ck').css('display', 'none')
                    name_check = true;
                }

                /* 주소 유효성 검사 */
                if (address === "") {
                    $('.final_addr_ck').css('display', 'inline-block');
                    address_check = false;
                } else {
                    $('.final_addr_ck').css('display', 'none');
                    address_check = true;
                }

                /* 휴대 전화 유효성 검사 */
                if (tel === "") {
                    $('.final_tel_ck').css('display', 'inline-block')
                    tel_check = false;
                } else {
                    $('.final_tel_ck').css('display', 'none')
                    tel_check = true;
                }

                /* 이메일 유효성 검사 */
                if (mail === "") {
                    $('.final_mail_ck').css('display', 'inline-block')
                    mail_check = false;
                } else {
                    $('.final_mail_ck').css('display', 'none')
                    mail_check = true;
                }

                /* 최종 유효성 검사 */
                if (name_check && address_check && tel_check && mail_check) {
                    $("input[name='address1']").val($(".address_input_1").val());
                    $("input[name='address2']").val($(".address_input_2").val());
                    $("input[name='address3']").val($(".address_input_3").val());
                    $("input[name='tel']").val($(".tel_input").val());
                    $("input[name='email']").val($(".mail_input").val());
                    $("input[name='req']").val($(".req_input").val());
                    if ($(".point_input").val() === '') {
                        $("input[name='usePoint']").val(0);
                    } else {
                        $("input[name='usePoint']").val($(".point_input").val());
                    }

                    /* 상품정보 */
                    let form_contents = '';
                    $(".total_price").each(function(index, element){
                        let itemId = $(element).find('.info').attr("data-id");
                        let count = $(element).find('.info').attr("data-count");
                        let itemId_input = "<input name='orders[" + index + "].itemId' type='hidden' value='" + itemId + "'>";
                        form_contents += itemId_input;
                        let count_input = "<input name='orders[" + index + "].count' type='hidden' value='" + count + "'>";
                        form_contents += count_input;
                    });

                    $(".order_form").append(form_contents);
                    $(".order_form").submit();
                } else {
                    return false;
                }
            });

            /* 포인트 입력 유효성 검사 */
            $(".point_input").on("propertychange change keyup paste input", function(){
                const maxPoint = parseInt([[${account.point}]]);
                let inputVal = parseInt($(this).val());
                let orderTotalPrice = 0; // 상품 금액
                let orderDeliveryPrice = 2500; // 배송비
                let orderDiscountPrice = 0; // 할인 합계
                let totalAmount = 0; // 최종 결제 금액

                if (inputVal < 0) {
                    $(this).val(0);
                } else if (inputVal > maxPoint) {
                    $(this).val(maxPoint);
                }

                $(".total_price").each(function () {
                    let itemId = $(this).find(".info").attr("data-id");
                    let price = $("#price_" + itemId);
                    let priceVal = price.attr("data-price");
                    let countVal = $("#count_" + itemId).val();

                    orderTotalPrice += priceVal * countVal;
                    orderDiscountPrice += (price.attr("data-price") * (price.attr("data-discount"))) * countVal;
                });

                /* 최종 결제 금액 3만원 이상 배송비 무료 */
                totalAmount = orderTotalPrice - orderDiscountPrice;
                if (totalAmount >= 30000) {
                    orderDeliveryPrice = 0;
                } else if (totalAmount === 0) {
                    orderDeliveryPrice = 0;
                } else {
                    orderDeliveryPrice = 2500;
                }

                /* 포인트 보유 잔액 > 최종 결제 금액 = 최종 결제 금액 만큼만 포인트 사용 */
                let afterPoint;
                if (inputVal > maxPoint) {
                    afterPoint = 0;
                } else if (inputVal > (totalAmount + orderDeliveryPrice)) {
                    afterPoint = maxPoint - (totalAmount + orderDeliveryPrice);
                    $(this).val(totalAmount + orderDeliveryPrice);
                } else if (inputVal >= 0) {
                    afterPoint = maxPoint - inputVal;
                } else {
                    afterPoint = maxPoint;
                }
                $(".point").html('보유 잔액: '+ afterPoint.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');

                setTotalInfo();
            });

            /* 포인트 사용, 취소 버튼 */
            $(".point_input_btn").on("click", function(){
                const maxPoint = parseInt([[${account.point}]]);
                let state = $(this).data("state");
                let orderTotalPrice = 0; // 상품 금액
                let orderDeliveryPrice = 2500; // 배송비
                let orderDiscountPrice = 0; // 할인 합계
                let totalAmount = 0; // 최종 결제 금액

                $(".total_price").each(function () {
                    let itemId = $(this).find(".info").attr("data-id");
                    let price = $("#price_" + itemId);
                    let priceVal = price.attr("data-price");
                    let countVal = $("#count_" + itemId).val();

                    orderTotalPrice += priceVal * countVal;
                    orderDiscountPrice += (price.attr("data-price") * (price.attr("data-discount"))) * countVal;
                });

                // 최종 결제 금액 3만원 이상 배송비 무료
                totalAmount = orderTotalPrice - orderDiscountPrice;
                if (totalAmount >= 30000) {
                    orderDeliveryPrice = 0;
                } else if (totalAmount === 0) {
                    orderDeliveryPrice = 0;
                } else {
                    orderDeliveryPrice = 2500;
                }

                if(state === 'N'){
                    $(".point_input").val(0);
                    $(".point").html('보유 잔액: ' + maxPoint.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
                    $(".point_input_btn_N").css("display", "none");
                    $(".point_input_btn_Y").css("display", "inline-block");
                } else if(state === 'Y'){
                    $('.point_input').val(maxPoint);

                    /* 포인트 보유 잔액 > 최종 결제 금액 = 최종 결제 금액 만큼만 포인트 사용 */
                    let afterPoint;
                    let pointVal = $('.point_input').val();
                    if (pointVal > (totalAmount + orderDeliveryPrice)) {
                        afterPoint = maxPoint - (totalAmount + orderDeliveryPrice);
                        $(".point").html('보유 잔액: ' + afterPoint.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
                        $(".point_input").val(totalAmount + orderDeliveryPrice);
                        $(".point_input_btn_N").css("display", "inline-block");
                        $(".point_input_btn_Y").css("display", "none");
                    } else {
                        $(".point").html('보유 잔액: 0원');
                        $(".point_input").val(maxPoint);
                        $(".point_input_btn_N").css("display", "inline-block");
                        $(".point_input_btn_Y").css("display", "none");
                    }
                }
                setTotalInfo();
            });

            /* 휴대 전화 입력란 숫자 입력만 허용 */
            $(".tel_input").on("keyup", function () {
                let inputVal = $(this).val();
                $(this).val(inputVal.replace(/[^0-9]/gi,''));
            });

            /* 취소 버튼 */
            $(".cancel_btn").on("click", function () {
                window.history.back();
            });
        });

        /* 상품 금액, 배송비, 할인/부가결제, 최종 결제 금액, 적립 예정 금액 출력 */
        function setTotalInfo(){
            let orderTotalPrice = 0;            // 상품 금액
            let orderDeliveryPrice = 2500;      // 배송비
            let orderDiscountPrice = 0;         // 할인 합계
            let totalAmount = 0;                // 최종 결제 금액
            let usePoint = 0;	                // 사용 포인트
            let totalPoint = 0;                 // 적립 예정 금액

            $(".total_price").each(function () {
                let itemId = $(this).find(".info").attr("data-id");
                let price = $("#price_" + itemId);
                let priceVal = price.attr("data-price");
                let countVal = $("#count_" + itemId).val();

                orderTotalPrice += priceVal * countVal;
                orderDiscountPrice += (price.attr("data-price") * (price.attr("data-discount"))) * countVal;
            });

            /* 최종 결제 금액 3만원 이상 배송비 무료 */
            totalAmount = orderTotalPrice - orderDiscountPrice;
            if (totalAmount >= 30000) {
                orderDeliveryPrice = 0;
            } else if (totalAmount === 0) {
                orderDeliveryPrice = 0;
            } else {
                orderDeliveryPrice = 2500;
            }

            /* 사용 포인트 */
            usePoint = Number($(".point_input").val());
            totalPoint = Math.floor(totalAmount * 0.05);
            $(".total_point").html('적립 예정 금액: ' + totalPoint.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원')
            $(".total_delivery_price").html('배송비: ' + orderDeliveryPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원')

            $(".order_total_price").html(orderTotalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
            $(".order_delivery_price").html('+ ' + orderDeliveryPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원')
            $(".order_discount_price").html('- ' + (orderDiscountPrice + usePoint).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');

            if (((totalAmount + orderDeliveryPrice) - usePoint) <= 0) {
                $(".total_amount").html('0원');
            } else {
                $(".total_amount").html(((totalAmount + orderDeliveryPrice) - usePoint).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
            }
        }

        /* 다음 주소 연동 */
        function execution_daum_address() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let addr = ''; // 주소 변수
                    let extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        addr += extraAddr;
                    } else {
                        addr += ' ';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    $(".address_input_1").val(data.zonecode);
                    $(".address_input_2").val(addr);
                    // 커서를 상세주소 필드로 이동한다.
                    $(".address_input_3").attr("readonly", false);
                    $(".address_input_3").focus();
                }
            }).open();
        }
    </script>
</body>

</html>