<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/default-layout.html :: head"></div>
</head>

<body>
    <main class="def-main-area">
        <div th:replace="/layouts/default-layout.html :: sidebar"></div>

        <article class="def-content-area">
            <div th:replace="/layouts/default-layout.html :: nav"></div>

            <!-- section start -->
            <section class="def-section-area">
                <div class="container-fluid">

                    <div class="section-header">
                        <h2>주문서 작성</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section-body order-form-body mt-5">
                        <!-- order-products-container -->
                        <div class="order-products-container">
                            <div class="title">
                                <h2>주문 상품 정보</h2>
                            </div>

                            <div class="body">
                                <table class="row-header-table">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;" scope="col">이미지</th>
                                            <th style="width: auto;" scope="col">상품정보</th>
                                            <th style="width: 10%;" scope="col">가격</th>
                                            <th style="width: 10%;" scope="col">수량</th>
                                            <th style="width: 10%;" scope="col">상품주문금액</th>
                                            <th style="width: 10%;" scope="col">배송비</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="order : ${orders}">
                                            <td class="thumb">
                                                <a th:href="${'/product/' + order.productId}">
                                                    <img th:src="${order.imageUrl}">
                                                </a>
                                            </td>
                                            <td class="product left-top">
                                                <strong class="name">
                                                    <a th:href="${'/product/' + order.productId}"
                                                       th:text="${order.productName}"></a>
                                                </strong>
                                                <div class="option">[옵션: 선택 X]</div>
                                            </td>
                                            <td class="product-price">
                                                <span th:if="${order.discount == 0}"
                                                  th:text="|${#numbers.formatInteger(order.price, 0, 'COMMA')}원|"></span>
                                                <span th:if="${order.discount > 0}" style="text-decoration: line-through"
                                                      th:text="|${#numbers.formatInteger(order.price, 0, 'COMMA')}원|"></span>
                                                <strong th:if="${order.discount > 0}"
                                                        th:text="|${#numbers.formatInteger(order.salePrice, 0, 'COMMA')}원|"></strong>
                                            </td>
                                            <td class="order-count">
                                                <span th:text="${order.count}"></span>
                                                <input type="hidden" th:id="'count-' + ${order.productId}" th:value="${order.count}" readonly>
                                            </td>
                                            <td class="total-price">
                                                <strong th:id="'price-' + ${order.productId}" class="info"
                                                        th:data-price="${order.price}"
                                                        th:data-discount="${order.discount}"
                                                        th:data-count="${order.count}"
                                                        th:text="|${#numbers.formatInteger(order.totalPrice, 0, 'COMMA')}원|"
                                                        th:data-id="${order.productId}"></strong>
                                            </td>
                                            <td class="delivery-price">
                                                <span>2,500원</span>
                                                <span class="text">(30,000원 이상 무료)</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="delivery-and-point">
                                    <span class="total-delivery-price">배송비: 0원</span>
                                    <span class="total-point">적립 예정 금액: 0원</span>
                                </div>
                            </div>
                        </div>

                        <!-- shipping-address-container -->
                        <div class="shipping-address-container mt-3">
                            <div class="title">
                                <h2>배송지 정보</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/orders/new}" th:object="${member}" method="post">
                                    <table class="col-header-table-color">
                                        <colgroup>
                                            <col style="width:15%;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th scope="row">
                                                <label th:for="*{name}">받으시는 분 <span>*</span></label>
                                            </th>
                                            <td>
                                                <div class="name-input-box">
                                                    <input class="name-input" th:field="*{name}" type="text">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label th:for="*{address1}">주소 <span>*</span></label>
                                            </th>
                                            <td>
                                                <input th:field="*{address1}" class="address-input-1 mb-1"
                                                       readonly="readonly">
                                                <button type="button" class="find-addr white-btn-w65-h30"
                                                        onclick="addressAPI()">주소 찾기</button>
                                                <div class="clearfix"></div>
                                                <input th:field="*{address2}" class="address-input-2 d-block w-50 mb-1"
                                                       readonly="readonly">
                                                <input th:field="*{address3}" class="address-input-3 d-block w-50 mb-1"
                                                       readonly="readonly">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label>휴대전화 <span>*</span></label>
                                            </th>
                                            <td>
                                                <div>
                                                    <select class="tel-select">
                                                        <option value="1">선택</option>
                                                        <option value="010" selected>010</option>
                                                        <option value="011">011</option>
                                                        <option value="016">016</option>
                                                        <option value="017">017</option>
                                                        <option value="018">018</option>
                                                        <option value="019">019</option>
                                                    </select>
                                                    -
                                                    <input type="text" class="tel-input1" maxlength="4">
                                                    -
                                                    <input type="text" class="tel-input2" maxlength="4">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label th:for="*{email}">이메일 <span>*</span></label>
                                            </th>
                                            <td>
                                                <div class="mail-input-box mb-1">
                                                    <input class="mail-input" th:field="*{email}" type="text">
                                                    @
                                                    <input class="mail-input2" type="text">
                                                    <select class="mail-select" name="mail-select">
                                                        <option value="1" selected>직접입력</option>
                                                        <option value="naver.com">naver.com</option>
                                                        <option value="hanmail.net">hanmail.net</option>
                                                        <option value="hotmail.com">hotmail.com</option>
                                                        <option value="nate.com">nate.com</option>
                                                        <option value="yahoo.co.kr">yahoo.co.kr</option>
                                                        <option value="empas.com">empas.com</option>
                                                        <option value="dreamwiz.com">dreamwiz.com</option>
                                                        <option value="freechal.com">freechal.com</option>
                                                        <option value="lycos.co.kr">lycos.co.kr</option>
                                                        <option value="korea.com">korea.com</option>
                                                        <option value="gmail.com">gmail.com</option>
                                                        <option value="hanmir.com">hanmir.com</option>
                                                        <option value="paran.com">paran.com</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <label>배송메시지</label>
                                            </th>
                                            <td>
                                                <div>
                                                    <textarea class="req-input" style="width: 50%; border: 1px solid #dfdfdf"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>

                        <!-- discount-info-container -->
                        <div class="discount-info-container">
                            <div class="title">
                                <h2>할인/부가결제</h2>
                            </div>
                            <div class="body">
                                <table class="col-header-table-color">
                                    <colgroup>
                                        <col style="width:15%;">
                                        <col style="width:auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th scope="row">
                                            <label>할인코드 적용</label>
                                        </th>
                                        <td>
                                            <div class="coupon-input-box">
                                                <input class="coupon-input" type="text">
                                                <button class="white-btn-w65-h30 coupon-btn">적용</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label>적립금</label>
                                        </th>
                                        <td>
                                            <div class="point-input-box">
                                                <input class="point-input" type="text" value="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" >
                                                <button class="white-btn-w90-h30 point-input-btn point-input-btn-Y" th:data-state="Y">전액 사용</button>
                                                <button class="white-btn-w90-h30 point-input-btn point-input-btn-N" th:data-state="N">사용 취소</button>
                                            </div>
                                            <span class="point" th:text="|보유 잔액: ${#numbers.formatInteger(member.point, 0, 'COMMA')}원|"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- payment-details-container -->
                        <div class="payment-details-container">
                            <div class="title">
                                <h2>결제 정보</h2>
                            </div>
                            <div class="body">
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th style="width: 20%;" scope="col">상품 금액</th>
                                        <th style="width: 20%;" scope="col">배송비</th>
                                        <th style="width: 20%;" scope="col">할인/부가결제</th>
                                        <th style="width: auto;" scope="col">최종 결제 금액</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span class="order-total-price">0원</span>
                                        </td>
                                        <td>
                                            <span class="order-delivery-price">- 0원</span>
                                        </td>
                                        <td>
                                            <span class="order-discount-price">+ 0원</span>
                                        </td>
                                        <td>
                                            = <span class="total-amount">0원</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- button-container -->
                        <div class="button-container">
                            <button class="order-btn black-btn-w130-h40" type="button">결제하기</button>
                            <button class="cancel-btn white-btn-w130-h40" type="button" onclick="location.href='/'">취소</button>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 주문 요청 form -->
            <form id="orderForm" class="order-form" th:action="@{/orders/new}" method="post">
                <input name="usePoint" type="hidden">
                <!--        <input name="totalOrderPrice" type="hidden">-->
                <!--        <input name="deliveryCost" type="hidden">-->
                <input name="address1" type="hidden">
                <input name="address2" type="hidden">
                <input name="address3" type="hidden">
                <input name="tel" type="hidden">
                <input name="email" type="hidden">
                <input name="req" type="hidden">
                <!-- 상품 정보 -->
            </form>

            <div th:replace="/layouts/default-layout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="/layouts/default-layout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">
        /* 유효성 검사 통과 유무 변수 */
        let checkName = false;          // 이름
        let checkAddress = false        // 주소
        let checkTel = false            // 휴대 전화
        let checkMail = false           // 이메일

        $(function() {
            setTotalInfo();

            /* 상품 주문 */
            $(".order-btn").on("click", function(){
                let form = $("#orderForm");
                /* 입력값 변수 */
                let nameVal = $('.name-input').val();          // 이름 입력란
                let addressVal = $('.address-input-3').val();  // 주소 입력란
                let telSelect = $('.tel-select').val();            // 휴대 전화 입력란
                let tel1Val = $('.tel-input1').val();            // 휴대 전화 입력란
                let tel2Val = $('.tel-input2').val();            // 휴대 전화 입력란
                let fullTel = telSelect + tel1Val + tel2Val;
                let reqVal = $('.req-input').val();            // 배송 메시지 입력란
                let mailVal1 = $(".mail-input").val();                                  // 이메일 앞부분
                let mailVal2 = $(".mail-input2").val();                                 // 이메일 뒷부분
                let fullEmail = mailVal1 + "@" + mailVal2;                              // full 이메일

                /* 이름 유효성 검사 */
                if (nameVal === "") {
                    alert("받으시는 분을 입력해 주세요.");
                    $('.name-input').focus();
                    let topLocation = $(".name-input").offset();
                    window.scrollTo({top:topLocation.top - 400, behavior: 'smooth'})
                    checkName = false;
                    return false;
                } else {
                    checkName = true;
                }

                /* 주소 유효성 검사 */
                if (addressVal === "") {
                    alert("주소를 입력해 주세요.");
                    $('.mail-input').focus();
                    let topLocation = $(".mail-input").offset();
                    window.scrollTo({top:topLocation.top - 400, behavior: 'smooth'})
                    checkAddress = false;
                    return false;
                } else {
                    checkAddress = true;
                }

                /* 휴대 전화 유효성 검사 */
                if (telSelect === "1" || tel1Val === "" || tel2Val === "") {
                    alert("휴대전화를 입력해 주세요.");
                    $('.tel-input1').focus();
                    let topLocation = $(".tel-input1").offset();
                    window.scrollTo({top:topLocation.top - 400, behavior: 'smooth'})
                    checkTel = false;
                    return false;
                } else {
                    checkTel = true;
                }

                /* 이메일 유효성 검사 */
                if (mailVal1 === '' || mailVal2 === '') {
                    alert("이메일을 입력해 주세요.");
                    $('.mail-input').focus();
                    let topLocation = $(".mail-input").offset();
                    window.scrollTo({top:topLocation.top - 400, behavior: 'smooth'})
                    checkMail = false;
                    return false;
                } else {
                    checkMail = true;
                }

                /* 최종 유효성 검사 */
                if (checkName && checkAddress && checkTel && checkMail) {
                    let addressVal1 = $(".address-input-1").val();
                    let addressVal2 = $(".address-input-2").val();
                    let addressVal3 = $(".address-input-3").val();
                    let pointVal = $(".point-input").val();


                    /* 서버로 전송할 form data 채우기 */
                    $("input[name='address1']").val(addressVal1);
                    $("input[name='address2']").val(addressVal2);
                    $("input[name='address3']").val(addressVal3);
                    $("input[name='tel']").val(fullTel);
                    $("input[name='email']").val(fullEmail);
                    $("input[name='req']").val(reqVal);

                    /* 사용한 포인트 값 담긴 input 태그 동적 생성 */
                    if (pointVal === '' || pointVal < 0) {
                        $("input[name='usePoint']").val(0);
                    } else {
                        $("input[name='usePoint']").val(pointVal);
                    }

                    /* 구매 상품 정보 담긴 input 태그 동적 생성 */
                    let formContents = '';
                    $(".total-price").each(function(index, element){
                        let productId = $(element).find('.info').attr("data-id");
                        let count = $(element).find('.info').attr("data-count");
                        let price = $(element).find('.info').attr("data-price");
                        let discount = $(element).find('.info').attr("data-discount");
                        let salePrice =  Math.floor(price * (1 - discount));
                        let totalSalePrice = salePrice * count;
                        let accumulatedPoints = Math.floor(salePrice * 0.05);
                        let totalSavePoint = accumulatedPoints * count;

                        let productIdInput = "<input name='orders[" + index + "].productId' type='hidden' value='" + productId + "'>";
                        formContents += productIdInput;

                        let countInput = "<input name='orders[" + index + "].count' type='hidden' value='" + count + "'>";
                        formContents += countInput;

                        let priceInput = "<input name='orders[" + index + "].price' type='hidden' value='" + price + "'>";
                        formContents += priceInput;

                        let discountInput = "<input name='orders[" + index + "].discount' type='hidden' value='" + discount + "'>";
                        formContents += discountInput;

                        let accumulatedPointsInput = "<input name='orders[" + index + "].accumulatedPoints' type='hidden' value='" + accumulatedPoints + "'>";
                        formContents += accumulatedPointsInput;

                        let salePriceInput = "<input name='orders[" + index + "].salePrice' type='hidden' value='" + salePrice + "'>";
                        formContents += salePriceInput;

                        let totalSalePriceInput = "<input name='orders[" + index + "].totalSalePrice' type='hidden' value='" + totalSalePrice + "'>";
                        formContents += totalSalePriceInput;

                        let totalSavePointInput = "<input name='orders[" + index + "].totalSavePoint' type='hidden' value='" + totalSavePoint + "'>";
                        formContents += totalSavePointInput;
                    });

                    form.append(formContents);
                    form.submit();
                }
                return false;
            });

            /* 포인트 입력 유효성 검사 */
            $(".point-input").on("propertychange change keyup paste input", function(){
                const maxPoint = parseInt([[${member.point}]]);
                let inputVal = parseInt($(this).val());
                let orderTotalPrice = 0; // 상품 금액
                let orderDeliveryPrice = 2500; // 배송비
                let orderDiscountPrice = 0; // 할인 합계
                let totalAmount = 0; // 최종 결제 금액

                if (inputVal < 0) {
                    $(this).val(0);
                } else if (inputVal > maxPoint) {
                    $(this).val(maxPoint);
                }

                $(".total-price").each(function () {
                    let productId = $(this).find(".info").attr("data-id");
                    let price = $("#price-" + productId);
                    let priceVal = price.attr("data-price");
                    let countVal = $("#count-" + productId).val();

                    orderTotalPrice += priceVal * countVal;
                    orderDiscountPrice += (price.attr("data-price") * (price.attr("data-discount"))) * countVal;
                });

                /* 최종 결제 금액 3만원 이상 배송비 무료 */
                totalAmount = orderTotalPrice - orderDiscountPrice;
                if (totalAmount >= 30000) {
                    orderDeliveryPrice = 0;
                } else if (totalAmount === 0) {
                    orderDeliveryPrice = 0;
                } else {
                    orderDeliveryPrice = 2500;
                }

                /* 포인트 보유 잔액 > 최종 결제 금액 = 최종 결제 금액 만큼만 포인트 사용 */
                let afterPoint;
                if (inputVal > maxPoint) {
                    afterPoint = 0;
                } else if (inputVal > (totalAmount + orderDeliveryPrice)) {
                    afterPoint = maxPoint - (totalAmount + orderDeliveryPrice);
                    $(this).val(totalAmount + orderDeliveryPrice);
                } else if (inputVal >= 0) {
                    afterPoint = maxPoint - inputVal;
                } else {
                    afterPoint = maxPoint;
                }
                $(".point").html('보유 잔액: '+ afterPoint.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');

                setTotalInfo();
            });

            /* 포인트 사용, 취소 버튼 */
            $(".point-input-btn").on("click", function(){
                const maxPoint = parseInt([[${member.point}]]);
                let state = $(this).data("state");
                let orderTotalPrice = 0; // 상품 금액
                let orderDeliveryPrice = 2500; // 배송비
                let orderDiscountPrice = 0; // 할인 합계
                let totalAmount = 0; // 최종 결제 금액

                $(".total-price").each(function () {
                    let productId = $(this).find(".info").attr("data-id");
                    let price = $("#price-" + productId);
                    let priceVal = price.attr("data-price");
                    let countVal = $("#count-" + productId).val();

                    orderTotalPrice += priceVal * countVal;
                    orderDiscountPrice += (price.attr("data-price") * (price.attr("data-discount"))) * countVal;
                });

                // 최종 결제 금액 3만원 이상 배송비 무료
                totalAmount = orderTotalPrice - orderDiscountPrice;
                if (totalAmount >= 30000) {
                    orderDeliveryPrice = 0;
                } else if (totalAmount === 0) {
                    orderDeliveryPrice = 0;
                } else {
                    orderDeliveryPrice = 2500;
                }

                if(state === 'N'){
                    $(".point-input").val(0);
                    $(".point").html('보유 잔액: ' + maxPoint.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
                    $(".point-input-btn-N").css("display", "none");
                    $(".point-input-btn-Y").css("display", "inline-block");
                } else if(state === 'Y'){
                    if (maxPoint < 0) {
                        alert("사용 가능한 적립금이 없습니다.");
                    } else {
                        $('.point-input').val(maxPoint);

                        /* 포인트 보유 잔액 > 최종 결제 금액 = 최종 결제 금액 만큼만 포인트 사용 */
                        let afterPoint;
                        let pointVal = $('.point-input').val();
                        if (pointVal > (totalAmount + orderDeliveryPrice)) {
                            afterPoint = maxPoint - (totalAmount + orderDeliveryPrice);
                            $(".point").html('보유 잔액: ' + afterPoint.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
                            $(".point-input").val(totalAmount + orderDeliveryPrice);
                            $(".point-input-btn-N").css("display", "inline-block");
                            $(".point-input-btn-Y").css("display", "none");
                        } else {
                            $(".point").html('보유 잔액: 0원');
                            $(".point-input").val(maxPoint);
                            $(".point-input-btn-N").css("display", "inline-block");
                            $(".point-input-btn-Y").css("display", "none");
                        }
                    }
                }
                setTotalInfo();
            });

            /* 휴대전화 공백 제거, 하이픈 추가 */
            $(".tel-input").on("keyup", function(){
                let telVal = $(this).val().trim(); // 공백 제거
                let addTrimTel = telVal.replace(/[^0-9]/g, ''); // 숫자만 입력 가능
                let addHyphenTel = '';

                if (addTrimTel.length < 4) {
                    $(this).val(addTrimTel);
                    return false;
                } else if (addTrimTel.length < 7) {
                    addHyphenTel += addTrimTel.substring(0, 3);
                    addHyphenTel += '-';
                    addHyphenTel += addTrimTel.substring(3);
                    $(this).val(addHyphenTel);
                    return false;
                } else if (addTrimTel.length < 11) {
                    addHyphenTel += addTrimTel.substring(0, 3);
                    addHyphenTel += '-';
                    addHyphenTel += addTrimTel.substring(3, 6);
                    addHyphenTel += '-';
                    addHyphenTel += addTrimTel.substring(6);
                    $(this).val(addHyphenTel);
                    return false;
                } else {
                    addHyphenTel += addTrimTel.substring(0, 3);
                    addHyphenTel += '-';
                    addHyphenTel += addTrimTel.substring(3, 7);
                    addHyphenTel += '-';
                    addHyphenTel += addTrimTel.substring(7);
                    $(this).val(addHyphenTel);
                    return false;
                }
            });

            /* 회원 이메일 값 출력 */
            let email = [[${member.email}]];
            let emailArr = email.split("@");

            $(".mail-input").val(emailArr[0]);
            $(".mail-input2").val(emailArr[1]);

            /* 이메일 입력 방식 선택 */
            $('.mail-select').on("change", function () {
                $(".mail-select option:selected").each(function () {
                    if ($(this).val() === '1') {
                        $(".mail-input2").val('');
                        $(".mail-input2").attr("disabled",false);
                    } else {
                        $(".mail-input2").val($(this).text());
                        $(".mail-input2").attr("disabled",true);
                    }
                });
            });
        });

        /* 상품 금액, 배송비, 할인/부가결제, 최종 결제 금액, 적립 예정 금액 출력 */
        function setTotalInfo(){
            let orderTotalPrice = 0;            // 상품 금액
            let orderDeliveryPrice = 2500;      // 배송비
            let orderDiscountPrice = 0;         // 할인 합계
            let totalAmount = 0;                // 최종 결제 금액
            let usePoint = 0;	                // 사용 포인트
            let totalPoint = 0;                 // 적립 예정 금액

            $(".total-price").each(function () {
                let productId = $(this).find(".info").attr("data-id");
                let price = $("#price-" + productId);
                let priceVal = price.attr("data-price");
                let countVal = $("#count-" + productId).val();

                orderTotalPrice += priceVal * countVal;
                orderDiscountPrice += Math.floor((price.attr("data-price") * (price.attr("data-discount"))) * countVal);
            });

            /* 최종 결제 금액 3만원 이상 배송비 무료 */
            totalAmount = orderTotalPrice - orderDiscountPrice;
            if (totalAmount >= 30000) {
                orderDeliveryPrice = 0;
            } else if (totalAmount === 0) {
                orderDeliveryPrice = 0;
            } else {
                orderDeliveryPrice = 2500;
            }

            /* 사용 포인트 */
            usePoint = Number($(".point-input").val());
            totalPoint = Math.floor(totalAmount * 0.05);
            $(".total-point").html('적립 예정 금액: ' + totalPoint.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원')
            $(".total-delivery-price").html('배송비: ' + orderDeliveryPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원')

            $(".order-total-price").html(orderTotalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
            $(".order-delivery-price").html('+ ' + orderDeliveryPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원')
            $(".order-discount-price").html('- ' + (orderDiscountPrice + usePoint).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');

            if (((totalAmount + orderDeliveryPrice) - usePoint) <= 0) {
                $(".total-amount").html('0원');
            } else {
                $(".total-amount").html(((totalAmount + orderDeliveryPrice) - usePoint).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
            }
        }

        /* 다음 주소 연동 */
        function addressAPI() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let addr = ''; // 주소 변수
                    let extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        addr += extraAddr;
                    } else {
                        addr += ' ';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    $(".address-input-1").val(data.zonecode);
                    $(".address-input-2").val(addr);
                    // 커서를 상세주소 필드로 이동한다.
                    $(".address-input-3").attr("readonly", false);
                    $(".address-input-3").focus();
                }
            }).open();
        }
    </script>
</body>

</html>