.product-mng-body {
    width: 90%;
    margin: 0 auto;

    .product-list-container {
        width: 100%;
        overflow-x: auto;

        table {
            min-width: 810px;

            tbody {
                tr {
                    td {
                        height: 100px;

                        a {
                            width: 90px;
                            margin: 1px 0;
                        }

                        a:hover {
                            text-decoration: underline;
                            color: rgb(107, 107, 107);
                        }

                        .product-dtl-btn {
                            outline: none;
                            background: white;
                            border: none;
                        }

                        button.product-dtl-btn {
                            &:hover {
                                color: rgb(80, 80, 80);
                                text-decoration: underline;

                            }
                        }

                        .modify-btn {
                            margin-bottom: 2px;
                        }
                    }

                    td:nth-child(2) {
                        text-align: left;
                    }
                }
            }
        }
    }

    .button-container {
        @include button-container();
    }

    .search-input-container {
        @include search-input-container();
    }
}

@media (max-width:1200px) {
    .product-mng-body {
        width: 100%;
    }
}