<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/default-layout.html :: head"></div>
</head>

<body>
    <main class="def-main-area">
        <div th:replace="/layouts/default-layout.html :: sidebar"></div>

        <article class="def-content-area">
            <div th:replace="/layouts/default-layout.html :: nav"></div>

            <!-- section start -->
            <section class="def-section-area">
                <div class="container-fluid">
                    <div class="products-header">
                        <div class="title">
                            <h2 th:if="${#strings.isEmpty(productSearchDto.category)}">ALL</h2>
                            <h2 th:each="category, status:${categories}"
                                th:if="${productSearchDto.category == category.id}" th:text="${category.name}"></h2>
                        </div>
                        <div class="divider"></div>
                        <div class="little-category">
                            <ul class="menu-category">
                                <li th:each="category, status:${categories}"
                                    th:if="${#strings.substring(category.id, 0, 1) == #strings.substring(productSearchDto.category, 0, 1) && #strings.substring(category.id, 2) ne '0'}">
                                    <a th:text="${category.name}"
                                        th:classappend="${productSearchDto.category == category.id} ? 'active'"
                                        th:href="@{'/?category=' + ${category.id} + '&searchQuery=none'}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="products-body">
                        <div class="search-result"
                            th:if="${not #strings.isEmpty(productSearchDto.searchQuery) && #strings.isEmpty(productSearchDto.category)}">
                            <div class="search-input">
                                <form th:action="@{/}" method="get">
                                    <input name="searchQuery" type="search" placeholder="Search"
                                        th:value="${productSearchDto.searchQuery}">
                                    <button type="submit"><i class="fa-solid fa-magnifying-glass icon"></i></button>
                                </form>
                            </div>
                            <div class="search-result-msg mt-3">
                                <p class="content-count">총 <strong class="fw-bold" th:text="${products.getTotalElements()}"></strong>개의 상품이 검색되었습니다.</p>
                            </div>
                        </div>

                        <div class="normal-menu">
                            <div class="product-total">
                                <span th:text="${products.getTotalElements()}"></span> PRODUCTS
                            </div>
                            <div class="product-filter">
                                <ul>
                                    <li><a onclick="filter('new')">NEW</a></li>
                                    <li><a onclick="filter('best')">BEST</a></li>
                                    <li><a onclick="filter('low')">LOW</a></li>
                                    <li><a onclick="filter('high')">HIGH</a></li>
                                    <li><a onclick="filter('name')">NAME</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="products-wrap row g-2">
                            <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 product-dtl" th:each="product, status: ${products.getContent()}">
                                <a th:href="'/product/' + ${product.id}">
                                    <img th:src="${product.imageUrl}" class="card-img-top" th:alt="${product.productName}">
                                </a>
                                <div class="desc">
                                    <div class="color mb-1">
                                        <span class="color-code" th:each="color, status : ${product.productOptionColors}" th:data-color="${color.color}"></span>
                                    </div>
                                    <div class="name">
                                        <a>[[${product.productName}]]</a>
                                    </div>
                                    <div class="discount" th:if="${product.discount} == 0">
                                        <span class="product-price"
                                            th:text="|${#numbers.formatInteger(product.price, 0, 'COMMA')}원|"></span>
                                    </div>
                                    <div class="no-discount" th:if="${product.discount} > 0">
                                        <span class="product-price"
                                            th:text="|${#numbers.formatInteger(product.price, 0, 'COMMA')}원|"></span>
                                        <span class="discount-price"
                                            th:text="|${#numbers.formatInteger(product.price * (1 - product.discount), 0, 'COMMA')}원|"></span>
                                        <span class="discount-rate"
                                            th:text="${#numbers.formatInteger(product.discount * 100, 1, 'COMMA')} + '%'"></span>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${#lists.isEmpty(products.getContent())}" class="empty-message">
                                <span class="message">등록된 상품이 없습니다.</span>
                            </div>
                        </div>

                        <div class="pagination-container"
                            th:with="start=${(products.number/maxPage)*maxPage + 1},
                                     end=(${(products.totalPages == 0) ? 1 :
                                     (start + (maxPage - 1) < products.totalPages ? start + (maxPage - 1) : products.totalPages)})">
                            <ul>
                                <li class="prev" th:classappend="${products.first} ? 'disabled'">
                                    <a th:onclick="'javascript:page(0)'">
                                        <i class="fa-solid fa-angle-left"></i><i class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="prev" th:classappend="${products.first} ? 'disabled'">
                                    <a
                                        th:href="@{'/' + '?page=' + ${products.number - 1} + '&sort=' + ${productSearchDto.sort} + '&searchQuery=' + ${productSearchDto.searchQuery}}">
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page" th:each="page: ${#numbers.sequence(start, end)}"
                                    th:classappend="${products.number eq page - 1} ? 'active' : ''">
                                    <a th:href="@{'/' + '?page=' + ${page - 1} + '&sort=' + ${productSearchDto.sort} + '&searchQuery=' + ${productSearchDto.searchQuery}}"
                                        th:inline="text">[[${page}]]</a>
                                </li>
                                <li class="next" th:classappend="${products.last} ? 'disabled'">
                                    <a
                                        th:href="@{'/' + '?page=' + ${products.number + 1} + '&sort=' + ${productSearchDto.sort} + '&searchQuery=' + ${productSearchDto.searchQuery}}">
                                        <i class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="next" th:classappend="${products.last} ? 'disabled'">
                                    <a th:onclick="'javascript:page(' + ${products.totalPages - 1} + ')'">
                                        <i class="fa-solid fa-angle-right"></i><i
                                            class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="/layouts/default-layout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="/layouts/default-layout.html :: commonJs"></div>

    <script th:inline="javascript">
        const colorCodes = {
            "화이트": "#FFFFFF",
            "블랙": "#000000",
            "회색": "#808080",
            "네이비 블루": "#000080",
            "스카이 블루": "#87CEEB",
            "민트 그린": "#98FB98",
            "올리브 그린": "#808000",
            "카키 그린": "#556B2F",
            "라임 그린": "#00FF00",
            "다크 그린": "#006400",
            "레드": "#FF0000",
            "라즈베리 레드": "#E30B5D",
            "핑크": "#FFC0CB",
            "코랄": "#FF7F50",
            "오렌지": "#FFA500",
            "옐로우": "#FFFF00",
            "머스타드": "#FFD700",
            "베이지": "#F5F5DC",
            "샌드": "#F4A460",
            "크림": "#FFF8DC",
            "아이보리": "#FFFFF0",
            "퍼플": "#800080",
            "라벤더": "#E6E6FA",
            "버건디": "#800020",
            "와인 레드": "#722F37",
            "체리 레드": "#DE3163",
            "코코아 브라운": "#D2691E",
            "탄": "#483C32",
            "카멜": "#C19A6B",
            "코코넛 브라운": "#965A3E",
            "다크 브라운": "#654321",
            "머루": "#722F37",
            "베이비 블루": "#89CFF0",
            "퍼시안 블루": "#1C39BB",
            "시에나": "#A0522D",
            "레몬 옐로우": "#FFF44F",
            "황토색": "#E97451",
            "머스터드 옐로우": "#FFDB58",
            "버터 크림": "#F5E6C4",
            "헌터 그린": "#355E3B",
            "다크 그레이": "#A9A9A9",
            "라이트 그레이": "#D3D3D3",
            "로즈 골드": "#B76E79",
            "살구색": "#FFDAB9",
            "마호가니": "#C04000",
            "크림 화이트": "#FFFDD0",
            "펄 그레이": "#EAE0C8",
            "슬레이트 그레이": "#708090",
            "차콜 그레이": "#464646",
            "미디엄 블루": "#0000CD"
        };

        $(function() {
            showMessage(); // 페이지가 로드될 때 메시지를 확인하고 알림을 표시하는 함수

            $(".color-code").each(function () {
                let color = $(this).data("color");
                let colorCode = colorCodes[color];
                $(this).css("background-color", colorCode);
            });
        });

        function showMessage() {
            let message = [[${message}]];
            if (message) {
                alert(message);
            }
        }

        /* 상품 필터링 함수 */
        function filter(arg) {
            // 검색 쿼리와 카테고리를 가져옴
            let searchQuery = [[${ productSearchDto.searchQuery }]];
            let category = [[${ productSearchDto.category }]];

            // 카테고리가 존재하는 경우
            if (category) {
                // 카테고리와 검색 쿼리를 포함한 URL 생성하여 페이지 새로고침
                location.href = '/?category=' + category + '&searchQuery=' + searchQuery + '&sort=' + arg;
            }
            // 검색 쿼리가 존재하는 경우
            else if (searchQuery !== '') {
                // 검색 쿼리를 포함한 URL 생성하여 페이지 새로고침
                location.href = '/?searchQuery=' + searchQuery + '&sort=' + arg;
            }
            // 카테고리와 검색 쿼리가 모두 존재하지 않는 경우
            else {
                // 정렬 옵션만을 포함한 URL 생성하여 페이지 새로고침
                location.href = '/?sort=' + arg;
            }
        }
    </script>
</body>

</html>