/* reset start */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'JeonjuCraftMjB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftMjB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button:focus {
    border: none;
    outline: none;
}