@import "../../../abstracts/variables";

.product-mng-body {
    .product-list-container {
        overflow-x: auto;
        table {
            min-width: 1300px;
            tbody {
                tr {
                    td {
                        .sold-out{
                            color: #bb1919;
                        }

                        .on-sale {
                            color: #0000FF;
                        }

                        .product-name {
                            color: #353535;

                            &:hover {
                                color: rgb(80, 80, 80);
                                text-decoration: underline;

                            }
                        }
                    }
                }
            }
        }
    }

    .button-container {
        @include button-container();
    }

    .search-input-container {
        @include search-input-container();
    }
}