@import "../../../abstracts/variables";

.product-form-body {
    form {
        overflow-x: auto;

        .base-table {
            min-width: 780px;

            .base-table__body {
                font-size: 12px;
                color: $graphite;

                .base-table__header-cell {
                    border-right: none;

                    .required-field {
                        color: #008bcc;
                        font-weight: bold;
                    }
                }

                .base-table__cell {
                    .discounted-price {
                        font-weight: bold;
                    }

                    .fake-input {
                        display: inline-block;
                        height: 26px;
                        padding: 0 10px;
                        vertical-align: middle;
                        border: 1px solid #dddddd;
                        width: 40%;
                        color: #999999;
                    }

                    input[type="file"] {
                        position: absolute;
                        width: 0;
                        height: 0;
                        padding: 0;
                        overflow: hidden;
                        border: 0;
                    }

                    input {
                        width: 100%;
                        height: 29px;
                        padding: 2px 4px;
                        border: 1px solid #d5d5d5;

                        &:focus::placeholder {
                            color: transparent;
                        }
                    }

                    input.fake-input {
                        width: 50% !important;
                    }

                    label.find-file {
                        height: 26px !important;
                        padding: 3px !important;
                    }

                    .file-delete-btn,
                    .image-upload-cancel-btn {
                        width: 70px !important;
                        height: 26px !important;
                        padding: 3px !important;
                    }

                    textarea {
                        width: 100%;
                        height: 400px;
                        padding: 2px 4px;
                        border: 1px solid #d5d5d5;

                        &:focus::placeholder {
                            color: transparent;
                        }
                    }

                    .sell-status-select {
                        width: 100%;
                    }

                    .parent-cate-select,
                    .child-cate-select {
                        width: calc(50% - 2px);
                    }

                    .option-select-wrapper {
                        .option-reset-btn {
                            margin-left: auto;
                        }
                    }

                    .option-table {
                        table {
                            width: 100%;
                            text-align: center;
                            vertical-align: middle;
                            font-size: 12px;
                            border-top: 1px solid $border-color;
                            border-bottom: 1px solid $border-color;

                            thead {
                                tr {
                                    th {
                                        border-bottom: 1px solid $border-color;
                                        // border: 1px solid $border-color;
                                        padding: 10px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        // border: 1px solid $border-color;
                                        padding: 10px;

                                        .quantity-input {
                                            width: 120px;
                                            outline: none;
                                            border: none;
                                            border-bottom: 1px solid #777;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn-box {
            padding: 10px 0;
            text-align: center;
            display: block;
            margin-top: 30px;
        }
    }
}