/* reset start */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: "JeonjuCraftMjB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftMjB.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button:focus {
  border: none;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/*  start */
.black_btn_w130_h40,
.black_btn_w90_h40,
.black_btn_w90_h30,
.black_btn_w65_h30 {
  display: inline-block;
  font-size: 13px;
  border: 1px solid transparent !important;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: #151515;
}
.black_btn_w130_h40:hover,
.black_btn_w90_h40:hover,
.black_btn_w90_h30:hover,
.black_btn_w65_h30:hover {
  background-color: #474747;
}

.black_btn_w130_h40 {
  width: 130px;
  height: 40px;
}

.black_btn_w90_h40 {
  width: 90px;
  height: 40px;
}

.black_btn_w90_h30 {
  width: 90px;
  height: 30px;
}

.black_btn_w65_h30 {
  width: 65px;
  height: 30px;
}

.white_btn_w130_h40,
.white_btn_w90_h40,
.white_btn_w90_h30,
.white_btn_w65_h30 {
  display: inline-block;
  font-size: 13px;
  border: 1px solid #e2e2e2 !important;
  vertical-align: middle;
  text-align: center;
  color: #222;
  background-color: white;
}
.white_btn_w130_h40:hover,
.white_btn_w90_h40:hover,
.white_btn_w90_h30:hover,
.white_btn_w65_h30:hover {
  border: 1px solid black !important;
}

.white_btn_w130_h40 {
  width: 130px;
  height: 40px;
}

.white_btn_w90_h40 {
  width: 90px;
  height: 40px;
}

.white_btn_w90_h30 {
  width: 90px;
  height: 30px;
}

.white_btn_w65_h30 {
  width: 65px;
  height: 30px;
}

/* main start */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

/* content start */
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding-top: 70px;
  padding-left: 300px;
}

/* sidebar start */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 295px;
  max-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 3rem 1.5rem;
  background-color: #F8F9FA;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  z-index: 100;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.sidebar .sidebar_logo {
  font-family: "JeonjuCraftMjB";
}
.sidebar .sidebar_logo h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: bold;
}
.sidebar .sidebar_nav {
  height: 40px;
  margin: 20px 0 30px;
}
.sidebar .sidebar_nav li {
  display: inline-block;
}
.sidebar .sidebar_nav li a,
.sidebar .sidebar_nav li button {
  display: block;
  padding: 0 7px 0 0;
  font-size: 10px;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 400;
  font-family: Arial, sans-serif;
}
.sidebar .sidebar_nav li a:hover {
  color: #cccccc;
}
.sidebar .sidebar_nav li button {
  outline: none;
  background: none;
  border: none;
}
.sidebar .sidebar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.sidebar .sidebar_menu .category,
.sidebar .sidebar_menu .boardinfo {
  width: 50%;
}
.sidebar .sidebar_menu .category > h2,
.sidebar .sidebar_menu .boardinfo > h2 {
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
  font-weight: bold;
  color: #353535;
}
.sidebar .sidebar_menu .category > ul > li,
.sidebar .sidebar_menu .boardinfo > ul > li {
  width: 90px;
  margin-right: 15px;
  height: 22px;
}
.sidebar .sidebar_menu .category > ul > li a,
.sidebar .sidebar_menu .boardinfo > ul > li a {
  display: block;
  text-align: left;
  color: #000;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.1em;
}
.sidebar .sidebar_menu .category > ul > li:hover,
.sidebar .sidebar_menu .boardinfo > ul > li:hover {
  color: #cccccc;
}
.sidebar .sidebar_menu .category ul li {
  position: relative;
}
.sidebar .sidebar_menu .category ul li .sub_category {
  position: absolute;
  display: none;
  width: 170px;
  background-color: #fff;
  padding: 15px 15px;
  top: -22px;
  right: -150px;
  z-index: 100;
  border: 1px solid #f1f1f1;
}
.sidebar .sidebar_menu .category ul li .sub_category ul li {
  background-color: #fff;
  padding: 4px 7px;
}
.sidebar .sidebar_menu .category ul li .sub_category ul li a {
  display: block;
  color: #000;
}
.sidebar .sidebar_menu .category ul li .sub_category ul li a:hover {
  color: #000;
}
.sidebar .sidebar_menu .category ul li .sub_category ul li:has(a:hover) {
  background-color: #f0f0f0;
}
.sidebar .sidebar_menu .category ul li:hover .sub_category {
  display: block;
}
.sidebar .search_form {
  margin-bottom: 30px;
}
.sidebar .search_form form > input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  width: 200px;
  outline: none;
  font-size: 12px;
}
.sidebar .search_form button {
  background: transparent;
  border: none;
}
.sidebar .search_form button .fz16 {
  vertical-align: middle;
  font-size: 16px;
  cursor: pointer;
}
.sidebar .menu_cs > ul > li:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sidebar .menu_cs > ul > li:nth-child(2) {
  font-size: 11px;
}

@media (max-width: 786px) {
  .sidebar {
    position: fixed;
    left: -300px;
    width: 100%;
  }
  .sidebar.active {
    left: 0;
  }
  .content {
    padding-left: 0;
  }
  .content nav .menu {
    display: none;
  }
  .content nav .menu_toggle {
    display: block;
  }
}
/* navigation start */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5%;
  background-color: #fff;
  height: 70px;
  z-index: 99;
}
nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .menu .menu_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
nav .menu .menu_link li {
  padding: 20px 0;
}
nav .menu .menu_link li a,
nav .menu .menu_link li button {
  font-size: 13px;
}
nav .menu .menu_link li button {
  outline: none;
  background: none;
  border: none;
}
nav .menu .menu_link li .account_menu {
  position: absolute;
  display: none;
  width: 140px;
  background-color: #fff;
  padding: 10px 10px;
  top: 85%;
  left: -25%;
  z-index: 100;
  border: 1px solid #f1f1f1;
}
nav .menu .menu_link li .account_menu ul li {
  background-color: #fff;
  padding: 4px 7px;
}
nav .menu .menu_link li .account_menu ul li a {
  color: #000;
  display: block;
}
nav .menu .menu_link li .account_menu ul li a:hover {
  color: #000;
}
nav .menu .menu_link li .account_menu ul li:has(a:hover) {
  background-color: #f0f0f0;
}
nav .menu .menu_link li.account_menu {
  cursor: pointer;
  position: relative;
}
nav .menu .menu_link li.account_menu:hover .account_menu {
  display: block;
}
nav .menu_toggle {
  display: none;
}
nav .menu_toggle input {
  display: none;
}
nav .menu_toggle label {
  width: 35px;
  height: 25px;
  display: block;
  position: relative;
  cursor: pointer;
}
nav .menu_toggle label span {
  position: absolute;
  height: 3px;
  border-radius: 99px;
  background-color: #000;
  width: 100%;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav .menu_toggle label span:nth-child(1) {
  top: 0;
}
nav .menu_toggle label span:nth-child(2) {
  top: 50%;
}
nav .menu_toggle label span:nth-child(3) {
  top: 100%;
}
nav .menu_toggle input:checked + label span:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
nav .menu_toggle input:checked + label span:nth-child(2) {
  opacity: 0;
}
nav .menu_toggle input:checked + label span:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* footer start */
footer {
  padding: 140px 0 90px;
}
footer .footer_header {
  text-align: center;
  line-height: 35px;
  height: 35px;
}
footer .footer_header ul li {
  display: inline-block;
  padding: 0 10px;
}
footer .footer_header ul li a {
  color: #333;
  font-family: "Open Sasns", sans-serif;
  font-size: 12px;
}
footer .footer_address {
  text-align: center;
  padding: 22px 0 0 0;
  color: #333;
  line-height: 18px;
  font-size: 11px;
  letter-spacing: 0.05em;
}
footer .footer_address span {
  display: inline-block;
}
footer .footer_address .shop_black {
  padding: 0 3px;
}
footer .footer_copyright {
  height: 32px;
  color: #aaa;
  font-size: 11px;
  line-height: 32px;
  text-align: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  line-height: 50px;
  font-size: 13px;
}
.pagination ul li {
  margin: 0 15px;
}
.pagination ul li a {
  color: #999;
}
.pagination ul li.disabled {
  pointer-events: none;
}
.pagination ul .page {
  text-align: center;
}
.pagination ul .page:hover a {
  color: #000;
  font-weight: bold;
}
.pagination ul .page.active a {
  color: #000;
  font-weight: bold;
  text-decoration-line: underline;
}
.pagination ul .prev,
.pagination ul .next {
  color: rgb(50, 50, 50);
  font-size: 13px;
}
.pagination ul .prev {
  margin-right: 20px;
}
.pagination ul .next {
  margin-left: 20px;
}

/* board page start */
.board_header {
  margin: 0px auto 60px;
}
.board_header h2 {
  font-size: 15px;
  text-align: center;
}
.board_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}

.board_body {
  margin: 0 auto;
}
.board_body table {
  font-size: 12px;
}
.board_body table thead th {
  padding: 15px 0 14px;
  border-bottom: 1px solid #e5e5e5;
  color: #353535;
  vertical-align: middle;
  font-weight: normal;
  background: #fff;
  text-align: center;
}
.board_body table tbody {
  vertical-align: middle;
  text-align: center;
}
.board_body table tbody td {
  padding: 15px 5px 14px;
  border-top: 1px solid #e5e5e5;
  color: #353535;
}
.board_body table tbody td button {
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px 10px;
  color: #fff;
}
.board_body table tbody td button:nth-child(1) {
  background-color: #0298cf;
}
.board_body table tbody td button:nth-child(2) {
  background-color: #f80000;
}
.board_body table tbody td a {
  width: 90px;
  margin: 1px 0;
}
.board_body table tbody td:nth-child(2) {
  text-align: left;
}

.pagenation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  line-height: 50px;
  font-size: 13px;
}
.pagenation ul li {
  margin: 0 15px;
}
.pagenation ul li a {
  color: #999;
}
.pagenation ul .page {
  text-align: center;
}
.pagenation ul .page:hover a {
  color: #000;
  font-weight: bold;
}
.pagenation ul .page.active a {
  color: #000;
  font-weight: bold;
  text-decoration-line: underline;
}
.pagenation ul .prev,
.pagenation ul .next {
  color: rgb(50, 50, 50);
  font-size: 13px;
}
.pagenation ul .prev {
  margin-right: 20px;
}
.pagenation ul .next {
  margin-left: 20px;
}

.cart_header {
  margin: 0px auto 60px;
}
.cart_header h2 {
  font-size: 15px;
  text-align: center;
}
.cart_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}

.cart_body {
  width: 100%;
  margin: 0 auto 60px;
}
.cart_body .table_box .title {
  margin: 40px 0 10px 10px;
}
.cart_body .table_box .title h3 {
  color: #353535;
  font-size: 13px;
  font-weight: bold;
}
.cart_body .table_box table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  margin: 10px 0 0;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-right: none;
  border-left: none;
  line-height: 1.7;
  font-size: 12px;
  letter-spacing: 0em !important;
  color: #353535;
}
.cart_body .table_box table thead tr th {
  text-align: center;
  padding: 15px 0 14px;
  vertical-align: middle;
  font-weight: normal;
  background-color: #fff;
}
.cart_body .table_box table thead tr th input[type=checkbox] {
  position: relative;
  top: 3px;
}
.cart_body .table_box table tbody tr td {
  border-top: 1px solid #e5e5e5;
  text-align: center;
  vertical-align: middle;
  padding: 15px 0;
  height: 135px;
}
.cart_body .table_box table tbody tr td.order_date {
  letter-spacing: -0.5px;
}
.cart_body .table_box table tbody tr td.thumb img {
  width: 80px;
  height: 110px;
}
.cart_body .table_box table tbody tr td.product .name a {
  color: #353535 !important;
}
.cart_body .table_box table tbody tr td.product .option {
  color: #757575;
  margin-top: 9px;
}
.cart_body .table_box table tbody tr td.left_top {
  text-align: left;
  vertical-align: top;
}
.cart_body .table_box table tbody tr td button {
  font-size: 12px !important;
  padding: 0 !important;
  margin-bottom: 2px;
  height: 28px !important;
}
.cart_body .table_box table tbody tr td.item_price span {
  display: block;
}
.cart_body .table_box table tbody tr td.delivery_price span {
  display: block;
}
.cart_body .table_box table tbody tr td.delivery_price span.text {
  font-size: 11px;
  color: #353535;
}
.cart_body .table_box table tbody tr td .cnt_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart_body .table_box table tbody tr td .cnt_box input {
  width: 35px;
  height: 25px;
  line-height: 20px;
  border: 1px solid #CCCCCC;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left: 2px;
}
.cart_body .table_box table tbody tr td .cnt_box .cnt_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cart_body .table_box table tbody tr td .cnt_box .cnt_btn i {
  background: transparent;
  outline: none;
  border: 1px solid #CCCCCC;
  width: 25px;
  height: 12.5px;
  text-align: center;
  vertical-align: middle;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: none;
  cursor: pointer;
}
.cart_body .table_box table tbody tr td .cnt_box .cnt_btn i::before {
  font-size: 10px;
  vertical-align: top;
}
.cart_body .table_box table tbody.center {
  text-align: center;
}
.cart_body .table_box p {
  margin: -1px 0 0;
  border-bottom: 1px solid #ddd;
  padding: 50px 0;
  text-align: center;
  color: #757575;
  font-weight: normal;
  font-size: 12px;
}
.cart_body .table_box .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart_body .table_box .pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  line-height: 50px;
  font-size: 13px;
}
.cart_body .table_box .pagination ul li {
  margin: 0 15px;
}
.cart_body .table_box .pagination ul li a {
  color: #999;
}
.cart_body .table_box .pagination ul li.disabled {
  pointer-events: none;
}
.cart_body .table_box .pagination ul .page {
  text-align: center;
}
.cart_body .table_box .pagination ul .page:hover a {
  color: #000;
  font-weight: bold;
}
.cart_body .table_box .pagination ul .page.active a {
  color: #000;
  font-weight: bold;
  text-decoration-line: underline;
}
.cart_body .table_box .pagination ul .prev,
.cart_body .table_box .pagination ul .next {
  color: rgb(50, 50, 50);
  font-size: 13px;
}
.cart_body .table_box .pagination ul .prev {
  margin-right: 20px;
}
.cart_body .table_box .pagination ul .next {
  margin-left: 20px;
}
.cart_body .cart_null {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 11px;
  color: #707070;
  font-weight: bold;
}
.cart_body .cart_total {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}
.cart_body .cart_total table {
  font-size: 12px;
  text-align: center;
}
.cart_body .cart_total table thead {
  vertical-align: middle;
}
.cart_body .cart_total table thead tr th {
  padding: 15px 0 14px;
  border-bottom: 1px solid #e5e5e5;
  color: #353535;
  font-weight: normal;
  background: #fff;
  font-size: 15px;
  font-weight: bold;
}
.cart_body .cart_total table tbody {
  vertical-align: middle;
}
.cart_body .cart_total table tbody tr td {
  padding: 15px 5px 14px;
  border-top: 1px solid #e5e5e5;
  color: #353535;
  font-size: 16px;
  font-weight: bold;
}
.cart_body .cart_total table tbody tr td span {
  font-size: 23px;
  font-weight: bold;
}
.cart_body .cart_total table tbody tr td a {
  width: 90px;
  margin: 1px 0;
}
.cart_body .cart_total table tbody tr td a.btn_submit {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid transparent;
  border-radius: 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  word-spacing: -0.5px;
  letter-spacing: 0;
  white-space: nowrap;
  color: #fff;
  background-color: #000;
}
.cart_body .cart_total table tbody tr td a.btn_normal {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #e2e2e2;
  border-radius: 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  word-spacing: -0.5px;
  letter-spacing: 0;
  white-space: nowrap;
  color: #222;
  background-color: #fff;
}
.cart_body .cart_total table tbody tr td.left {
  padding-left: 20px;
  text-align: left;
}

.cart_btn {
  position: relative;
  margin: 10px 0 40px;
  text-align: center;
}
.cart_btn span {
  position: absolute;
  top: 0px;
  right: 0;
}

.user_help {
  margin-top: 80px;
  border: 1px solid #ddd;
}
.user_help h3 {
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #e8e7e7;
  color: #101010;
  font-size: 15px;
  font-weight: bold;
  background: #fff;
}
.user_help .inner {
  padding: 5px 9px 20px;
  font-size: 12px;
}
.user_help .inner h4 {
  margin: 20px 0 15px 10px;
  color: #111;
  font-size: 13px;
}
.user_help .inner ol {
  padding: 0;
  margin: 10px 0 10px 11px;
}
.user_help .inner ol li {
  padding-left: 15px;
  color: #707070;
  line-height: 10px;
}
.user_help .inner ol li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 2px 9px 0 -12px;
  vertical-align: top;
  border-radius: 50%;
  background: #6d6d6d;
  line-height: 10px;
}

/* findId page start */
.find_id_header {
  margin: 0px auto 60px;
}
.find_id_header h2 {
  font-size: 15px;
  text-align: center;
}
.find_id_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}

.message_box_fail,
.message_box_success {
  width: 80%;
  display: none;
  margin: 45px auto 15px;
}

.find_id_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.find_id_body form {
  width: 80%;
}
.find_id_body form table {
  width: 100%;
  position: relative;
  margin: 10px 0 0;
  border: 1px solid #d7d5d5;
  border-top: 0;
  border-left-width: 0;
  border-right-width: 0;
  color: #fff;
  line-height: 1.5;
}
.find_id_body form table tbody {
  font-size: 12px;
  color: #353535;
}
.find_id_body form table tbody th {
  padding: 11px 0 10px 18px;
  border: 1px solid #dfdfdf;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  font-weight: normal;
  vertical-align: middle;
}
.find_id_body form table tbody th span {
  color: #008BCC;
}
.find_id_body form table tbody td {
  border-top: 1px solid #dfdfdf;
  vertical-align: middle;
  padding: 11px 0 10px 18px;
}
.find_id_body form table tbody td span.id_input_re_1,
.find_id_body form table tbody td span.id_input_re_2,
.find_id_body form table tbody td span.mail_input_re_1,
.find_id_body form table tbody td span.mail_input_re_2,
.find_id_body form table tbody td span.final_id_ck,
.find_id_body form table tbody td span.final_pw_ck,
.find_id_body form table tbody td span.final_pwck_ck,
.find_id_body form table tbody td span.final_nickname_ck,
.find_id_body form table tbody td span.final_mail_ck,
.find_id_body form table tbody td span.final_addr_ck,
.find_id_body form table tbody td span.pwck_input_re_1,
.find_id_body form table tbody td span.pwck_input_re_2 {
  display: none;
}
.find_id_body form table tbody td input {
  height: 29px;
  padding: 2px 4px;
  border: 1px solid #d5d5d5;
  width: 200px;
}
.find_id_body form table tbody td input:focus::-webkit-input-placeholder {
  color: transparent;
}
.find_id_body form table tbody td input:focus::-moz-placeholder {
  color: transparent;
}
.find_id_body form table tbody td input:focus:-ms-input-placeholder {
  color: transparent;
}
.find_id_body form table tbody td input:focus::-ms-input-placeholder {
  color: transparent;
}
.find_id_body form table tbody td input:focus::placeholder {
  color: transparent;
}
.find_id_body form table tbody td select {
  width: 60px;
  height: 30px;
  line-height: 29px;
  min-height: 30px;
  border: 1px solid #ddd;
  padding: 0 10px 0 5px;
  background-color: #fff;
  font-size: 12px;
}
.find_id_body form table tbody td a.send_mail,
.find_id_body form table tbody td a.check_number {
  background-color: #FFFFFF;
  border: 1px solid #c5c5c5;
  color: black;
  width: 105px;
  height: 28px;
  text-align: center;
  padding-top: 5px;
  border-radius: 2px;
}
.find_id_body form table tbody td a.send_mail {
  display: inline-block;
}
.find_id_body form table tbody td a.check_number {
  display: none;
}
.find_id_body form table tbody td a.find_addr {
  display: inline-block;
  background-color: #FFFFFF;
  border: 1px solid #c5c5c5;
  color: black;
  width: 80px;
  height: 28px;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  border-radius: 2px;
}
.find_id_body form .find_id_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.find_id_body form .find_id_result small {
  display: none;
}
.find_id_body form .btn_box {
  padding: 10px 0;
  text-align: center;
  display: block;
  margin-top: 30px;
}

/* findPass page start */
.find_pass_header {
  margin: 0px auto 60px;
}
.find_pass_header h2 {
  font-size: 15px;
  text-align: center;
}
.find_pass_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}

.message_box_fail,
.message_box_success {
  width: 80%;
  display: none;
  margin: 45px auto 15px;
}

.find_pass_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.find_pass_body form {
  width: 80%;
}
.find_pass_body form table {
  width: 100%;
  position: relative;
  margin: 10px 0 0;
  border: 1px solid #d7d5d5;
  border-top: 0;
  border-left-width: 0;
  border-right-width: 0;
  color: #fff;
  line-height: 1.5;
}
.find_pass_body form table tbody {
  font-size: 12px;
  color: #353535;
}
.find_pass_body form table tbody th {
  padding: 11px 0 10px 18px;
  border: 1px solid #dfdfdf;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  font-weight: normal;
  vertical-align: middle;
}
.find_pass_body form table tbody th span {
  color: #008BCC;
}
.find_pass_body form table tbody td {
  border-top: 1px solid #dfdfdf;
  vertical-align: middle;
  padding: 11px 0 10px 18px;
}
.find_pass_body form table tbody td span.id_input_re_1,
.find_pass_body form table tbody td span.id_input_re_2,
.find_pass_body form table tbody td span.mail_input_re_1,
.find_pass_body form table tbody td span.mail_input_re_2,
.find_pass_body form table tbody td span.final_id_ck,
.find_pass_body form table tbody td span.final_pw_ck,
.find_pass_body form table tbody td span.final_pwck_ck,
.find_pass_body form table tbody td span.final_nickname_ck,
.find_pass_body form table tbody td span.final_mail_ck,
.find_pass_body form table tbody td span.final_addr_ck,
.find_pass_body form table tbody td span.pwck_input_re_1,
.find_pass_body form table tbody td span.pwck_input_re_2 {
  display: none;
}
.find_pass_body form table tbody td input {
  height: 29px;
  padding: 2px 4px;
  border: 1px solid #d5d5d5;
  width: 200px;
}
.find_pass_body form table tbody td input:focus::-webkit-input-placeholder {
  color: transparent;
}
.find_pass_body form table tbody td input:focus::-moz-placeholder {
  color: transparent;
}
.find_pass_body form table tbody td input:focus:-ms-input-placeholder {
  color: transparent;
}
.find_pass_body form table tbody td input:focus::-ms-input-placeholder {
  color: transparent;
}
.find_pass_body form table tbody td input:focus::placeholder {
  color: transparent;
}
.find_pass_body form table tbody td select {
  width: 60px;
  height: 30px;
  line-height: 29px;
  min-height: 30px;
  border: 1px solid #ddd;
  padding: 0 10px 0 5px;
  background-color: #fff;
  font-size: 12px;
}
.find_pass_body form table tbody td a.send_mail,
.find_pass_body form table tbody td a.check_number {
  background-color: #FFFFFF;
  border: 1px solid #c5c5c5;
  color: black;
  width: 105px;
  height: 28px;
  text-align: center;
  padding-top: 5px;
  border-radius: 2px;
}
.find_pass_body form table tbody td a.send_mail {
  display: inline-block;
}
.find_pass_body form table tbody td a.check_number {
  display: none;
}
.find_pass_body form table tbody td a.find_addr {
  display: inline-block;
  background-color: #FFFFFF;
  border: 1px solid #c5c5c5;
  color: black;
  width: 80px;
  height: 28px;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  border-radius: 2px;
}
.find_pass_body form .btn_box {
  padding: 10px 0;
  text-align: center;
  display: block;
  margin-top: 30px;
}

/* index page start */
#items {
  overflow: hidden;
}
#items .items_header {
  margin: 0px auto 60px;
}
#items .items_header h2 {
  font-size: 15px;
  text-align: center;
}
#items .items_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}
#items .items_body {
  width: 80%;
  margin: 0 auto;
}
#items .items_body .search_result {
  padding: 50px;
  text-align: center;
  font-size: 12px;
}
#items .items_body .search_result .search_input {
  position: relative;
  width: 400px;
  display: inline-block;
  padding: 0 36px 5px 0;
  border-bottom: 2px solid #444;
}
#items .items_body .search_result .search_input input {
  border: 0;
  font-size: 17px;
  padding: 0 10px;
  width: 100%;
  outline: 0;
  background: #fff;
}
#items .items_body .search_result .search_input button {
  position: absolute;
  top: -10px;
  right: 5px;
  outline: 0;
  background: none;
  border: none;
}
#items .items_body .search_result .search_input button .icon {
  font-size: 25px;
  color: #333;
  margin: 5px 5px 0 0;
}
#items .items_body .search_result .content_count {
  font-size: 12px;
}
#items .items_body .img_box {
  margin-bottom: 7%;
}
#items .items_body .img_box .desc {
  padding: 10px 0;
  background-color: #fff;
  color: #000;
}
#items .items_body .img_box .desc .name {
  font-size: 12px;
  color: #222222;
}
#items .items_body .img_box .desc .discount .item_price,
#items .items_body .img_box .desc .no_discount .item_price {
  font-size: 12px;
  color: #000000;
}
#items .items_body .img_box .desc .discount .discount_price,
#items .items_body .img_box .desc .no_discount .discount_price {
  font-size: 12px;
  color: #333333;
  font-weight: bold;
}
#items .items_body .img_box .desc .discount .discount_rate,
#items .items_body .img_box .desc .no_discount .discount_rate {
  font-size: 12px;
  color: #e06f18;
  font-weight: bold;
}
#items .items_body .img_box .desc .no_discount .item_price {
  text-decoration: line-through;
}
#items .items_body .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#items .items_body .pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  line-height: 50px;
  font-size: 13px;
}
#items .items_body .pagination ul li {
  margin: 0 15px;
}
#items .items_body .pagination ul li a {
  color: #999;
}
#items .items_body .pagination ul li.disabled {
  pointer-events: none;
}
#items .items_body .pagination ul .page {
  text-align: center;
}
#items .items_body .pagination ul .page:hover a {
  color: #000;
  font-weight: bold;
}
#items .items_body .pagination ul .page.active a {
  color: #000;
  font-weight: bold;
  text-decoration-line: underline;
}
#items .items_body .pagination ul .prev,
#items .items_body .pagination ul .next {
  color: rgb(50, 50, 50);
  font-size: 13px;
}
#items .items_body .pagination ul .prev {
  margin-right: 20px;
}
#items .items_body .pagination ul .prev:hover a {
  color: #000;
  font-weight: bold;
}
#items .items_body .pagination ul .next {
  margin-left: 20px;
}
#items .items_body .pagination ul .next:hover a {
  color: #000;
  font-weight: bold;
}

/* item page start */
.item_header {
  margin: 0px auto 60px;
}
.item_header h2 {
  font-size: 15px;
  text-align: center;
}
.item_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}

.item_body {
  margin: 0 auto;
}
.item_body .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item_body .img .item-small-img img {
  height: 95px;
  margin: 10px 0;
  cursor: pointer;
  display: block;
  opacity: 0.6;
}
.item_body .img .item-small-img img:hover {
  opacity: 1;
}
.item_body .img .img-container {
  padding: 10px;
}
.item_body .img .img-container img {
  height: 515px;
}
.item_body .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px;
  max-width: 470px;
}
.item_body .info .item_title {
  margin-bottom: 20px;
}
.item_body .info .item_title h3 {
  font-size: 17px;
  font-weight: bold;
}
.item_body .info .item_desc {
  margin-bottom: 20px;
}
.item_body .info .item_desc p {
  font-size: 14px;
}
.item_body .info .item_price .title {
  display: inline-block;
  width: 20%;
  margin: 7px 20px 7px 0;
  vertical-align: middle;
  font-size: 11px;
}
.item_body .info .item_price .title span {
  font-size: 12px;
  color: #555555;
}
.item_body .info .item_price .con {
  display: inline-block;
  width: auto;
  margin: 7px 20px 7px 0;
  vertical-align: middle;
  font-size: 11px;
}
.item_body .info .item_price .con span {
  font-size: 14px;
  font-weight: bold;
}
.item_body .info .total_price {
  margin: 0;
  padding: 25px 4px 25px;
  color: #333;
  border-top: 1px solid #ddd;
  vertical-align: middle;
  background: #fff;
  text-align: right;
}
.item_body .info .total_price span {
  font-size: 12px;
  color: #000;
}
.item_body .info .total_price span strong em {
  font-style: normal;
  font-size: 17px;
  padding: 0 5px 0 20px;
}
.item_body .info .item_option {
  font-size: 12px;
}
.item_body .info .item_option .item_color {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item_body .info .item_option .item_color .title {
  display: inline-block;
  width: 25%;
}
.item_body .info .item_option .item_color .con {
  display: inline-block;
  width: auto;
}
.item_body .info .item_option .item_size {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item_body .info .item_option .item_size .title {
  display: inline-block;
  width: 25%;
}
.item_body .info .item_option .item_size .con {
  display: inline-block;
  width: auto;
}
.item_body .info .btn_inner .big_btn button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 18px;
  vertical-align: middle;
  word-spacing: -0.5px;
  text-align: center;
  color: #fff;
  background-color: #151515;
  width: 100%;
  padding: 14px;
  font-size: 12px;
  letter-spacing: 1px;
}
.item_body .info .btn_inner .small_btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  clear: both;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item_body .info .btn_inner .small_btn button {
  display: inline-block;
  border: 1px solid #e2e2e2;
  border-radius: 0;
  line-height: 18px;
  vertical-align: middle;
  word-spacing: -0.5px;
  text-align: center;
  color: #000;
  background-color: #fff;
  width: 49%;
  padding: 14px 0;
  font-size: 12px;
  letter-spacing: 1px;
}

/* login page start */
.login_header h2 {
  font-size: 15px;
  text-align: center;
}
.login_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}

.login_body {
  width: 400px;
  margin: 100px auto 0px;
}
.login_body .login_form input[type=text],
.login_body .login_form input[type=password] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 7px 2px 7px 10px;
  font-size: 14px;
  margin: 0 0 8px;
  border: 1px solid #9e9e9e;
}
.login_body .login_form button[type=submit] {
  display: inline-block;
  height: 50px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 14px;
}
.login_body .login_find {
  padding: 20px 0 35px;
  text-align: center;
}
.login_body .login_find .txt {
  float: left;
  border: none;
  padding: 0 10px;
  line-height: 13px;
  letter-spacing: 0.2px;
  font-size: 12px;
  border-left: 1px solid #ddd;
}
.login_body .login_find .txt a {
  color: #555;
}
.login_body .login_find .txt:nth-child(1) {
  border-left-width: 0;
  padding: 0 10px 0 0;
}
.login_body .login_find .join_txt {
  float: right;
  font-size: 14px;
  line-height: 11px;
}
.login_body .login_find .join_txt a {
  color: #111;
  font-weight: bold;
}

.sns_login {
  width: 100%;
  font-size: 12px;
}
.sns_login li {
  margin: 7px 0 0 0;
}
.sns_login li a {
  display: block;
  height: 50px;
  line-height: 50px;
}
.sns_login .kakao a {
  background: #ffeb00;
}
.sns_login .kakao a i {
  margin-left: 15px;
  display: inline-block;
  font-size: 28px;
  vertical-align: middle;
}
.sns_login .kakao a span {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  color: #3c1e1e;
}
.sns_login .naver a {
  background: #26c826;
}
.sns_login .naver a i {
  margin-left: 15px;
  display: inline-block;
  font-size: 28px;
  vertical-align: middle;
}
.sns_login .naver a span {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media (max-width: 786px) {
  main .sidebar {
    position: fixed;
    left: -300px;
    width: 100%;
  }
  main .sidebar.active {
    left: 0;
  }
  main .content {
    padding-left: 0;
  }
  main .content nav .menu {
    display: none;
  }
  main .content nav .menu_toggle {
    display: block;
  }
}
/* mypage page start */
.mypage_header {
  margin: 0px auto 60px;
}
.mypage_header h2 {
  font-size: 15px;
  text-align: center;
}
.mypage_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}

.mypage_body {
  width: 100%;
  margin: 0 auto;
}
.mypage_body .bank_book {
  overflow: hidden;
}
.mypage_body .bank_book ul li {
  float: left;
}
.mypage_body .bank_book ul li strong.title,
.mypage_body .bank_book ul li strong.data {
  font-weight: normal;
  font-size: 13px;
}
.mypage_body .bank_book ul li span {
  font-weight: bold;
  font-size: 18px;
}
.mypage_body .order_state {
  margin: 20px 0 0;
  border: 1px solid #333;
}
.mypage_body .order_state .title {
  padding: 20px 21px;
  margin: 0;
  border-bottom: 1px solid #e9e9e9;
  background-color: #f8f8f8;
}
.mypage_body .order_state .title h3 {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #000;
  font-weight: bold;
}
.mypage_body .order_state .state {
  overflow: hidden;
  padding: 40px 0;
}
.mypage_body .order_state .state li {
  float: left;
  width: 25%;
  padding: 0 0 4px;
  margin: 0 -1px 0 0;
  border-right: 1px dotted #c9c7ca;
  text-align: center;
}
.mypage_body .order_state .state li strong {
  display: block;
  margin: 2px 0 7px;
  font-size: 17px;
  color: #353535;
}
.mypage_body .order_state .state li a {
  font-weight: bold;
  font-size: 24px;
  color: #000;
}
.mypage_body .myshop_main {
  margin: 30px 0 0;
  overflow: hidden;
}
.mypage_body .myshop_main ul {
  margin: 0 -1.65% 0;
}
.mypage_body .myshop_main ul li {
  float: left;
  width: 18%;
  height: 180px;
  margin: 0 0 1.65% 1.65%;
  padding: 40px 2%;
  border: 1px solid #e9e9e9;
  text-align: center;
  letter-spacing: 0.3px;
}
.mypage_body .myshop_main ul li h3 {
  position: relative;
  font-size: 12px;
  color: #333;
  font-weight: normal;
}
.mypage_body .myshop_main ul li h3 a {
  display: block;
  padding: 0 0 25px;
}
.mypage_body .myshop_main ul li p {
  margin: 0;
  padding: 0;
}
.mypage_body .myshop_main ul li p a {
  font-size: 12px;
  line-height: 20px;
  color: #a5a5a5;
}

/* profile page start */
.modify_header {
  margin: 0px auto 60px;
}
.modify_header h2 {
  font-size: 15px;
  text-align: center;
}
.modify_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}

.message_box {
  width: 80%;
  margin: 45px auto 15px;
}

.modify_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modify_body form {
  width: 80%;
}
.modify_body form table {
  width: 100%;
  position: relative;
  margin: 10px 0 0;
  border: 1px solid #d7d5d5;
  border-top: 0;
  border-left-width: 0;
  border-right-width: 0;
  color: #fff;
  line-height: 1.5;
}
.modify_body form table tbody {
  font-size: 12px;
  color: #353535;
}
.modify_body form table tbody th {
  padding: 11px 0 10px 18px;
  border: 1px solid #dfdfdf;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  font-weight: normal;
  vertical-align: middle;
}
.modify_body form table tbody th span {
  color: #008BCC;
}
.modify_body form table tbody td {
  border-top: 1px solid #dfdfdf;
  vertical-align: middle;
  padding: 11px 0 10px 18px;
}
.modify_body form table tbody td span.id_input_re_1,
.modify_body form table tbody td span.id_input_re_2,
.modify_body form table tbody td span.mail_input_re_1,
.modify_body form table tbody td span.mail_input_re_2,
.modify_body form table tbody td span.final_id_ck,
.modify_body form table tbody td span.final_pw_ck,
.modify_body form table tbody td span.final_pwck_ck,
.modify_body form table tbody td span.final_name_ck,
.modify_body form table tbody td span.final_mail_ck,
.modify_body form table tbody td span.final_addr_ck,
.modify_body form table tbody td span.pwck_input_re_1,
.modify_body form table tbody td span.pwck_input_re_2,
.modify_body form table tbody td span.need_mail_check {
  display: none;
}
.modify_body form table tbody td input {
  height: 30px;
  padding: 2px 4px;
  border: 1px solid #d5d5d5;
  width: 200px;
}
.modify_body form table tbody td input:focus::-webkit-input-placeholder {
  color: transparent;
}
.modify_body form table tbody td input:focus::-moz-placeholder {
  color: transparent;
}
.modify_body form table tbody td input:focus:-ms-input-placeholder {
  color: transparent;
}
.modify_body form table tbody td input:focus::-ms-input-placeholder {
  color: transparent;
}
.modify_body form table tbody td input:focus::placeholder {
  color: transparent;
}
.modify_body form table tbody td select {
  width: 60px;
  height: 30px;
  line-height: 30px;
  min-height: 30px;
  border: 1px solid #ddd;
  padding: 0 10px 0 5px;
  background-color: #fff;
  font-size: 12px;
}
.modify_body form table tbody td button.send_mail,
.modify_body form table tbody td button.check_number,
.modify_body form table tbody td button.find_addr {
  padding: 0;
  height: 30px;
  margin-bottom: 2px;
  border: 1px solid #e2e2e2;
  background: white;
}
.modify_body form table tbody td button.send_mail:hover,
.modify_body form table tbody td button.check_number:hover,
.modify_body form table tbody td button.find_addr:hover {
  border: 1px solid black;
}
.modify_body form table tbody td button.send_mail,
.modify_body form table tbody td button.check_number {
  width: 55px;
}
.modify_body form table tbody td button.find_addr {
  width: 90px;
}
.modify_body form .btn_box {
  padding: 10px 0;
  text-align: center;
  display: block;
  margin-top: 30px;
}

@media (max-width: 786px) {
  .modify_body form {
    width: 100%;
  }
  .modify_body form table colgroup col:nth-child(1) {
    width: 25% !important;
  }
}
/* signUp page start */
.signup_header {
  margin: 0px auto 60px;
}
.signup_header h2 {
  font-size: 15px;
  text-align: center;
}
.signup_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}

.signup_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.signup_body form {
  width: 80%;
}
.signup_body form table {
  width: 100%;
  position: relative;
  margin: 10px 0 0;
  border: 1px solid #d7d5d5;
  border-top: 0;
  border-left-width: 0;
  border-right-width: 0;
  color: #fff;
  line-height: 1.5;
}
.signup_body form table tbody {
  font-size: 12px;
  color: #353535;
}
.signup_body form table tbody th {
  padding: 11px 0 10px 18px;
  border: 1px solid #dfdfdf;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  font-weight: normal;
  vertical-align: middle;
}
.signup_body form table tbody th span {
  color: #008BCC;
}
.signup_body form table tbody td {
  border-top: 1px solid #dfdfdf;
  vertical-align: middle;
  padding: 11px 0 10px 18px;
}
.signup_body form table tbody td span.id_input_re_1,
.signup_body form table tbody td span.id_input_re_2,
.signup_body form table tbody td span.mail_input_re_1,
.signup_body form table tbody td span.mail_input_re_2,
.signup_body form table tbody td span.final_id_ck,
.signup_body form table tbody td span.final_pw_ck,
.signup_body form table tbody td span.final_pwck_ck,
.signup_body form table tbody td span.final_name_ck,
.signup_body form table tbody td span.final_mail_ck,
.signup_body form table tbody td span.final_addr_ck,
.signup_body form table tbody td span.pwck_input_re_1,
.signup_body form table tbody td span.pwck_input_re_2,
.signup_body form table tbody td span.need_mail_check {
  display: none;
}
.signup_body form table tbody td input {
  height: 30px;
  padding: 2px 4px;
  border: 1px solid #d5d5d5;
  width: 200px;
}
.signup_body form table tbody td input:focus::-webkit-input-placeholder {
  color: transparent;
}
.signup_body form table tbody td input:focus::-moz-placeholder {
  color: transparent;
}
.signup_body form table tbody td input:focus:-ms-input-placeholder {
  color: transparent;
}
.signup_body form table tbody td input:focus::-ms-input-placeholder {
  color: transparent;
}
.signup_body form table tbody td input:focus::placeholder {
  color: transparent;
}
.signup_body form table tbody td select {
  width: 60px;
  height: 30px;
  line-height: 30px;
  min-height: 30px;
  border: 1px solid #ddd;
  padding: 0 10px 0 5px;
  background-color: #fff;
  font-size: 12px;
}
.signup_body form table tbody td button.send_mail,
.signup_body form table tbody td button.check_number,
.signup_body form table tbody td button.find_addr {
  padding: 0;
  height: 30px;
  margin-bottom: 2px;
  border: 1px solid #e2e2e2;
  background: white;
}
.signup_body form table tbody td button.send_mail:hover,
.signup_body form table tbody td button.check_number:hover,
.signup_body form table tbody td button.find_addr:hover {
  border: 1px solid black;
}
.signup_body form table tbody td button.send_mail,
.signup_body form table tbody td button.check_number {
  width: 55px;
}
.signup_body form table tbody td button.find_addr {
  width: 90px;
}
.signup_body form .btn_box {
  padding: 10px 0;
  text-align: center;
  display: block;
  margin-top: 30px;
}

@media (max-width: 786px) {
  .signup_body form {
    width: 100%;
  }
  .signup_body form table colgroup col:nth-child(1) {
    width: 25% !important;
  }
}
.item_dtl_header {
  margin: 0px auto 60px;
}
.item_dtl_header h2 {
  font-size: 15px;
  text-align: center;
}
.item_dtl_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}

.item_dtl_body {
  margin: 0 auto;
}
.item_dtl_body .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item_dtl_body .img .main_img_box {
  margin-bottom: 5px;
}
.item_dtl_body .img .main_img_box .main_img {
  height: 576px;
  width: 432px;
}
.item_dtl_body .img .thumb_img_box .thumb_img {
  height: 125px;
  width: 95px;
  opacity: 0.6;
  cursor: pointer;
}
.item_dtl_body .img .thumb_img_box .thumb_img:hover {
  opacity: 1;
}
.item_dtl_body .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px;
  min-width: 400px;
}
.item_dtl_body .info .item_title {
  margin-bottom: 20px;
}
.item_dtl_body .info .item_title h3 {
  font-size: 17px;
  font-weight: bold;
}
.item_dtl_body .info .item_desc {
  margin-bottom: 20px;
}
.item_dtl_body .info .item_desc p {
  font-size: 14px;
}
.item_dtl_body .info .item_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item_dtl_body .info .item_price .title {
  display: inline-block;
  width: 30%;
  font-size: 12px;
  margin: 7px 20px 7px 0;
}
.item_dtl_body .info .item_price .title span {
  font-size: 12px;
  color: #555555;
}
.item_dtl_body .info .item_price .con {
  display: inline-block;
  width: auto;
  font-size: 12px;
  margin: 7px 0;
}
.item_dtl_body .info .item_price .con span {
  font-size: 12px;
  font-weight: bold;
}
.item_dtl_body .info .discount_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item_dtl_body .info .discount_price .title {
  display: inline-block;
  width: 30%;
  font-size: 12px;
  margin: 7px 20px 7px 0;
}
.item_dtl_body .info .discount_price .title span {
  font-size: 12px;
  color: #333333;
  font-weight: bold;
}
.item_dtl_body .info .discount_price .con {
  display: inline-block;
  font-size: 12px;
  margin: 7px 0;
}
.item_dtl_body .info .discount_price .con span {
  font-size: 12px;
  font-weight: bold;
}
.item_dtl_body .info .discount_price .discount_rate {
  display: inline-block;
  font-size: 12px;
  margin: 7px 0 0 7px;
}
.item_dtl_body .info .discount_price .discount_rate span {
  font-size: 12px;
  color: #e06f18;
  font-weight: bold;
}
.item_dtl_body .info .total_box {
  margin: 0;
  padding: 25px 4px 25px;
  color: #333;
  border-top: 1px solid #ddd;
  vertical-align: middle;
  background: #fff;
  text-align: right;
  font-size: 12px;
  color: #000;
}
.item_dtl_body .info .total_box strong em {
  font-style: normal;
  font-size: 17px;
  padding: 0 5px 0 20px;
}
.item_dtl_body .info .item_option {
  font-size: 12px;
}
.item_dtl_body .info .item_option .item_color {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item_dtl_body .info .item_option .item_color .title {
  display: inline-block;
  width: 25%;
}
.item_dtl_body .info .item_option .item_color .con {
  display: inline-block;
  width: auto;
}
.item_dtl_body .info .item_option .item_color .con select {
  height: 20px;
  line-height: 20px;
  border: 1px solid #CCCCCC;
  padding-left: 2px;
  border-radius: 2px;
}
.item_dtl_body .info .item_option .item_size {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item_dtl_body .info .item_option .item_size .title {
  display: inline-block;
  width: 25%;
}
.item_dtl_body .info .item_option .item_size .con {
  display: inline-block;
  width: auto;
}
.item_dtl_body .info .item_option .item_size .con select {
  height: 20px;
  line-height: 20px;
  border: 1px solid #CCCCCC;
  padding-left: 2px;
  border-radius: 2px;
}
.item_dtl_body .info .item_option .item_cnt {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item_dtl_body .info .item_option .item_cnt .title {
  display: inline-block;
  width: 25%;
}
.item_dtl_body .info .item_option .item_cnt .con {
  display: inline-block;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item_dtl_body .info .item_option .item_cnt .con input {
  width: 35px;
  height: 25px;
  line-height: 20px;
  border: 1px solid #CCCCCC;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left: 2px;
}
.item_dtl_body .info .item_option .item_cnt .con .cnt_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.item_dtl_body .info .item_option .item_cnt .con .cnt_btn i {
  background: transparent;
  outline: none;
  border: 1px solid #CCCCCC;
  width: 25px;
  height: 12.5px;
  text-align: center;
  vertical-align: middle;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: none;
  cursor: pointer;
}
.item_dtl_body .info .item_option .item_cnt .con .cnt_btn i::before {
  font-size: 10px;
  vertical-align: top;
}
.item_dtl_body .info .btn_inner .buy_btn button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 18px;
  vertical-align: middle;
  word-spacing: -0.5px;
  text-align: center;
  color: #fff;
  background-color: #151515;
  width: 100%;
  padding: 14px;
  font-size: 12px;
  letter-spacing: 1px;
}
.item_dtl_body .info .btn_inner .cart_btn button {
  display: inline-block;
  border: 1px solid #e2e2e2;
  border-radius: 0;
  line-height: 18px;
  vertical-align: middle;
  word-spacing: -0.5px;
  text-align: center;
  color: #000;
  background-color: #fff;
  width: 100%;
  padding: 14px;
  font-size: 12px;
  letter-spacing: 1px;
}

.order_hist_header {
  margin: 0px auto 60px;
}
.order_hist_header h2 {
  font-size: 15px;
  text-align: center;
}
.order_hist_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}

.order_hist_body {
  width: 100%;
  margin: 0 auto;
}
.order_hist_body .title {
  margin: 40px 0 10px 10px;
}
.order_hist_body .title h3 {
  color: #353535;
  font-size: 13px;
  font-weight: bold;
}
.order_hist_body table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  margin: 10px 0 0;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-right: none;
  border-left: none;
  line-height: 1.7;
  font-size: 12px;
  letter-spacing: 0em !important;
  color: #353535;
}
.order_hist_body table thead tr th {
  text-align: center;
  padding: 15px 0 14px;
  vertical-align: middle;
  font-weight: normal;
  background-color: #fff;
}
.order_hist_body table tbody tr td {
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding: 15px 0;
  height: 135px;
}
.order_hist_body table tbody tr td.order_date {
  letter-spacing: -0.5px;
}
.order_hist_body table tbody tr td.thumb img {
  width: 80px;
  height: 110px;
}
.order_hist_body table tbody tr td.product .name a {
  color: #353535 !important;
}
.order_hist_body table tbody tr td.product .option {
  color: #757575;
  margin-top: 9px;
}
.order_hist_body table tbody tr td.left_top {
  text-align: left;
  vertical-align: top;
}
.order_hist_body table tbody tr td.state {
  color: #111111;
}
.order_hist_body table tbody tr td button {
  font-size: 12px !important;
  padding: 0 !important;
}
.order_hist_body table tbody.center {
  text-align: center;
}
.order_hist_body .orders_null {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 11px;
  color: #707070;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
}