/* colHeaderTableColor start */
.col-header-table-color {
    width: 100%;
    position: relative;
    margin: 10px 0 0;
    border-bottom: 1px solid #d7d5d5;
    color: #fff;
    line-height: 1.5;

    tbody {
        font-size: 12px;
        color: #353535;

        th,
        td {
            vertical-align: middle;
            padding: 11px 0 10px 18px;
        }

        th {
            border: 1px solid #dfdfdf;
            border-bottom: 0;
            font-weight: normal;
            background-color: #FBFAFA;

            span {
                color: #008BCC;
            }
        }

        td {
            border-top: 1px solid #dfdfdf;
            border-right: 1px solid #dfdfdf;

            input {
                height: 30px;
                padding: 2px 4px;
                border: 1px solid #d5d5d5;
                width: 230px;
            }

            input:focus::placeholder {
                color: transparent;
            }

            select {
                width: 60px;
                height: 30px;
                line-height: 30px;
                min-height: 30px;
                border: 1px solid #ddd;
                padding: 0 10px 0 5px;
                background-color: #fff;
                font-size: 12px;
            }
        }
    }
}