/* navigation start */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 5%;
    background-color: #fff;
    height: 70px;
    z-index: 99;

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;

        .menu_link {
            display: flex;
            gap: 30px;

            li {
                padding: 20px 0;

                a,
                button {
                    font-size: 13px;
                }

                button {
                    outline: none;
                    background: none;
                    border: none;
                }

                .account_menu {
                    position: absolute;
                    display: none;
                    width: 140px;
                    background-color: #fff;
                    padding: 10px 10px;
                    top: 85%;
                    left: -25%;
                    z-index: 100;
                    border: 1px solid #f1f1f1;

                    ul li {
                        background-color: #fff;
                        padding: 4px 7px;

                        a {
                            color: #000;
                            display: block;
                        }

                        a:hover {
                            color: #000;
                        }
                    }

                    ul li:has(a:hover) {
                        background-color: #f0f0f0;
                    }
                }
            }

            li.account_menu {
                cursor: pointer;
                position: relative;
            }

            li.account_menu:hover .account_menu {
                display: block;
            }
        }
    }

    .menu_toggle {
        display: none;

        input {
            display: none;
        }

        label {
            width: 35px;
            height: 25px;
            display: block;
            position: relative;
            cursor: pointer;

            span {
                position: absolute;
                height: 3px;
                border-radius: 99px;
                background-color: #000;
                width: 100%;
                left: 0;
                transition: 0.3s;
            }

            span:nth-child(1) {
                top: 0;
            }

            span:nth-child(2) {
                top: 50%;
            }

            span:nth-child(3) {
                top: 100%;
            }
        }

        input:checked+label {
            span:nth-child(1) {
                top: 50%;
                transform: rotate(45deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                top: 50%;
                transform: rotate(-45deg);
            }
        }
    }
}