.row-header-table {
    width: 100%;
    min-width: 768px;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    position: relative;
    margin: 10px auto 0;
    border: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-right: none;
    border-left: none;
    line-height: 1.7;
    font-size: 12px;
    letter-spacing: 0.0em !important;
    color: #353535;

    thead {
        tr {
            th {
                text-align: center;
                padding: 15px 0 14px;
                vertical-align: middle;
                background-color: #fff;
                font-weight: normal;

                input[type=checkbox] {
                    position: relative;
                    top: 3px;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                border-top: 1px solid #e5e5e5;
                text-align: center;
                vertical-align: middle;
                padding: 15px 0;
                color: #353535;
                background-color: #fff;

                &.thumb {
                    img {
                        width: 80px;
                        height: 110px;
                    }
                }

                &.product {
                    padding-left: 20px;

                    .name a {
                        color: #353535 !important;
                    }

                    .option {
                        color: #757575;
                        margin-top: 9px;
                    }
                }

                &.left {
                    text-align: left;
                }

                &.top {
                    vertical-align: top;
                }

                &.product-price {

                    span,
                    strong {
                        display: block;
                    }
                }

                &.delivery-price {

                    span,
                    strong {
                        display: block;
                    }
                }

                &.product-price {
                    span {
                        display: block;
                    }
                }

                &.empty-message {
                    padding: 110px 0;
                    border-bottom: 1px solid #e5e5e5;

                    .message {
                        font-size: 11px;
                        color: #707070;
                        font-weight: bold;
                    }
                }

                &.button {
                    button {
                        display: block;
                        margin: 0 auto;
                    }

                    button:nth-child(1) {
                        margin-bottom: 5px;
                    }
                }

                &.pl20 {
                    padding-left: 20px;
                }

                &.fz11 {
                    font-size: 11px;
                }

                &.gray-col {
                    color: #939393;
                }

                a.ml15 {
                    margin-left: 15px;
                }

                a.ml30 {
                    margin-left: 30px;
                }

                a.ml45 {
                    margin-left: 45px;
                }
            }
        }
    }
}