<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="layouts/default-layout.html :: head"></div>
</head>

<body>
    <main class="def-main-area">
        <div th:replace="layouts/default-layout.html :: sidebar"></div>

        <article class="def-content-area">
            <div th:replace="layouts/default-layout.html :: nav"></div>

            <!-- section start -->
            <section class="def-section-area">
                <div class="container-fluid">

                    <div class="section-header">
                        <h2>Q&A</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section-body qaForm-body row">
                        <div class="review-form-wrap col-11 col-md-10">
                            <form id="qaEnrollForm" th:action="@{'/board/qa/enroll'}" th:object="${qaEnrollDto}"
                                  method="post">
                                <div class="table-wrapper">
                                    <table class="base-table base-table--post">
                                        <colgroup>
                                            <col style="width:15%;">
                                            <col style="width: auto;">
                                        </colgroup>
                                        <tbody class="base-table__body">
                                        <tr class="base-table__row">
                                            <th class="base-table__header-cell" scope="row">
                                                <label th:for="*{title}">제목 <span>*</span></label>
                                            </th>
                                            <td class="base-table__cell title">
                                                <select name="title">
                                                    <option value="1">문의 드립니다.</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr class="base-table__row">
                                            <td class="base-table__cell" colspan="2">
                                                <textarea class="content-input" name="content" th:field="*{content}" maxlength="500"></textarea>
                                            </td>
                                        </tr>
                                        <tr class="base-table__row">
                                            <th class="base-table__header-cell base-table__header-cell--border-top" scope="row">
                                                <label th:for="*{password}">비밀번호 <span>*</span></label>
                                            </th>
                                            <td class="base-table__cell base-table__cell--border-top">
                                                <input class="base-table__input password-input" th:field="*{password}" type="password" minlength="8" maxlength="20">
                                            </td>
                                        </tr>
                                        <tr class="base-table__row">
                                            <th class="base-table__header-cell base-table__header-cell--border-top" scope="row">
                                                <label >비밀글설정 <span>*</span></label>
                                            </th>
                                            <td class="base-table__cell base-table__cell--border-top check">
                                                <input type="radio" id="secretF" name="secret" value="false" disabled>
                                                <label for="secretF">공개글</label>
                                                <input type="radio" id="secretT" name="secret" value="true" checked>
                                                <label for="secretT">비밀글</label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <div class="btn-box">
                                    <button class="button button--black button--130x40 enroll-btn" type="button">등록</button>
                                    <button class="button button--white button--130x40" type="button" onclick="location.href='/board/notices'">취소</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="layouts/default-layout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="layouts/default-layout.html :: commonJs"></div>
    <!-- editor -->
    <script src="/node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
    <script src="/node_modules/@ckeditor/ckeditor5-build-classic/build/translations/ko.js"></script>

    <!-- 사용자 JS -->
    <script th:inline="javascript">

        /* 유효성 검사 통과유무 변수 */
        let checkTitle = false;
        let checkContent = false;
        let checkPassword = false;

        $(function () {
            /* 위지웍 적용 */
            ClassicEditor
                .create(document.querySelector('#content'), {
                    language: 'ko'
                })
                .then( newEditor => {
                    window.editor = newEditor;
                    editor.setData(`* 정해진 양식으로 문의를 남겨주셔야 빠른 응대와 처리가 가능합니다. 감사합니다 :)</br>
                                    </br>
                                    1. 문의 분류:</br>
                                    ex) 상품 문의/배송 문의/교환 및 반품 문의/취소 문의/기타 문의</br>
                                    </br>
                                    2. 주문자명/ID:</br>
                                    </br>
                                    3. 문의 내용: (취소/교환/반품 시 상품명을 꼭 기입해주세요)</br>
                                    </br>
                                    -</br>
                                    </br>
                                    -</br>
                                    </br>
                                    (주문 취소 및 반품&환불 문의 중 무통장 입금건인 경우 꼭! 성함/은행/계좌번호 입력 부탁드립니다)</br>`);
                })
                .catch(error => {
                    console.error(error);
                });

            /* 게시글 제목 글자 수 제한 */
            $(".title-input").on("propertychange change keyup paste input", function () {
                let titleInputVal = $(this).val();

                // 글자 수 세기
                if (titleInputVal.length === 0 || titleInputVal === '') {
                    $(".title-text-count").text("0자/50자");
                } else {
                    $(".title-text-count").text(titleInputVal.length + '자/50자');
                }

                // 글자 수 제한
                if (titleInputVal.length > 50) {
                    // 50자 부터는 타이핑 되지 않도록
                    $(this).val($(this).val().substring(0, 50));
                    // 50자 넘으면 알림창 뜨도록
                    alert('제목은 50자까지 입력 가능합니다.');
                }
            });

            /* 게시글 등록 */
            $(".enroll-btn").click(function () {
                let titleInputVal = $("select[name=title] option:selected").val();
                let contentInputVal = editor.getData();
                let passwordInputVal = $(".password-input").val();

                /* 제목 빈값 검사 */
                if (titleInputVal === '') {
                    alert("제목을 입력하세요.");
                    $(".title-input").focus();
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    checkTitle = true;
                }

                /* 내용 빈값 검사 */
                if (contentInputVal === '') {
                    alert("내용을 입력하세요.");
                    $(".content-input").focus();
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    checkContent = true;
                }

                /* 비밀번호 빈값 검사 */
                if (passwordInputVal === '') {
                    alert("비밀번호를 입력하세요.");
                    $(".password-input").focus();
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    if (passwordInputVal.length < 8 || passwordInputVal.length > 20) {
                        alert("비밀번호는 8~20자 사이로 입력해 주세요.");
                        return false;
                    }
                    checkPassword = true;
                }

                /* 최종 유효성 검사 */
                if (checkTitle && checkContent) {
                    let qaId = [[${qaId}]];
                    let originNo = 0;
                    if (qaId) {
                        originNo = qaId;
                    }

                    let data = {
                        boardType: "Q&A",
                        title: $("select[name=title] option:selected").text(),
                        content: contentInputVal,
                        password: passwordInputVal,
                        hasPrivate: $("input[name='secret']:checked").val(),
                        originNo: originNo
                    };

                    let jsonString = JSON.stringify(data);

                    $.ajax({
                        url: '/board/qa/enroll',
                        type: 'POST',
                        contentType: "application/json",
                        dataType: "text",
                        data: jsonString,
                        success(res) {
                            alert(res);
                            location.href = '/board/qa';
                        },
                        error(request) {
                            alert(request.responseText);
                        },
                    });
                }
            });
        });
    </script>
</body>
</html>