<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="layouts/default-layout.html :: head"></div>
</head>

<body>
    <main class="def-main-area">
        <div th:replace="layouts/default-layout.html :: sidebar"></div>

        <article class="def-content-area">
            <div th:replace="layouts/default-layout.html :: nav"></div>

            <!-- section start -->
            <section class="def-section-area">
                <div class="container-fluid">

                    <div class="section-header">
                        <h2>Q&A</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section-body qaSecret-body mt-5">

                        <div class="base-box">
                            <div class="secret">
                                <fieldset>
                                    <legend>비밀글보기</legend>
                                    <p class="info">
                                        이 글은 비밀글입니다. <strong class="txtEm">비밀번호를 입력하여 주세요.</strong><br>원글의 <strong class="txtEm">작성자</strong>와 <strong class="txtEm">관리자</strong>는 확인버튼만 누르시면 됩니다.
                                    </p>
                                    <p class="password">
                                        <label>비밀번호</label>
                                        <input class="password-input" type="password"  minlength="8" maxlength="20">
                                    </p>
                                    <div class="btn-box">
                                        <button class="button button--white button--130x40 list-btn" type="button">목록</button>
                                        <button class="button button--white button--130x40 confirm-btn" type="button">확인</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="layouts/default-layout.html :: footer"></div>
        </article>
    </main>

    <form id="hiddenForm" method="get">
        <input class="hiddenPw" type="hidden" name="password">
    </form>

    <div th:replace="layouts/default-layout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script th:inline="javascript">
        $(function(){
            /* 확인 버튼 */
            $(".confirm-btn").click(function () {
                let qaId = [[${qaId}]];
                let pw = [[${password}]];
                let userInputPw = $(".password-input").val();

                $.ajax({
                    url: '/board/qa/' + qaId + '/password-verification',
                    type: 'post',
                    data: {
                        qaId: qaId,
                        password: userInputPw
                    },
                    success() {
                        let form = $("#hiddenForm");
                        $(".hiddenPw").val(pw);
                        form.attr('action', '/board/qa/' + qaId);
                        form.submit();
                    },
                    error(request) {
                        alert(request.responseText);
                    },
                })
            });

            /* Q&A 게시판으로 이동 */
            $(".list-btn").click(function () {
                location.href = '/board/qa';
            });
        })
    </script>
</body>
</html>