<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="layouts/default-layout.html :: head"></div>
</head>

<body>
    <main class="def-main-area">
        <div th:replace="layouts/default-layout.html :: sidebar"></div>

        <article class="def-content-area">
            <div th:replace="layouts/default-layout.html :: nav"></div>

            <!-- section start -->
            <section class="def-section-area">
                <div class="container-fluid">

                    <div class="section-header">
                        <h2>Q&A 수정</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section-body qaForm-body row">

                        <div class="review-form-wrap col-12 col-md-10">
                            <form id="qaUpdateForm" th:action="@{'/board/qa/update'}" th:object="${qaUpdateDto}" method="post">
                                <div class="table-wrapper">
                                    <table class="base-table base-table--post">
                                        <colgroup>
                                            <col style="width:15%;">
                                            <col style="width: auto;">
                                        </colgroup>
                                        <tbody class="base-table__body">
                                        <tr class="base-table__row">
                                            <th class="base-table__header-cell" scope="row">
                                                <label th:for="*{title}">제목 <span>*</span></label>
                                            </th>
                                            <td class="base-table__cell title">
                                                <select name="title">
                                                    <option value="1">문의 드립니다.</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr class="base-table__row">
                                            <td class="base-table__cell" colspan="2">
                                                <textarea class="content-input" name="content" th:field="*{content}" maxlength="500"></textarea>
                                            </td>
                                        </tr>
                                        <tr class="base-table__row">
                                            <th class="base-table__header-cell base-table__cell--border-top" scope="row">
                                                <label >비밀글설정 <span>*</span></label>
                                            </th>
                                            <td class="base-table__cell base-table__cell--border-top check">
                                                <input type="radio" id="secretF" name="secret" value="false" disabled>
                                                <label for="secretF">공개글</label>
                                                <input type="radio" id="secretT" name="secret" value="true" checked>
                                                <label for="secretT">비밀글</label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="btn-box">
                                    <button class="button button--black button--130x40 update-btn" type="button">수정</button>
                                    <button class="button button--white button--130x40 cancel-btn" type="button">취소</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>

            <div th:replace="layouts/default-layout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="layouts/default-layout.html :: commonJs"></div>
    <!-- editor -->
    <script src="/node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
    <script src="/node_modules/@ckeditor/ckeditor5-build-classic/build/translations/ko.js"></script>

    <!-- 사용자 JS -->
    <script th:inline="javascript">

        /* 유효성 검사 통과유무 변수 */
        let checkTitle = false;
        let checkContent = false;

        $(function () {
            showMessage(); // 페이지가 로드될 때 메시지를 확인하고 알림을 표시하는 함수

            /* 위지웍 적용 */
            ClassicEditor
                .create(document.querySelector('#content'), {
                    language: 'ko'
                })
                .then( newEditor => {
                    window.editor = newEditor;
                })
                .catch(error => {
                    console.error(error);
                });

            /* 게시글 수정 */
            $(".update-btn").click(function () {
                let qaId = [[${qaUpdateDto.qaId}]]
                let titleInputVal = $("select[name=title] option:selected").val();
                let contentInputVal = editor.getData();
                let hasPrivate = $('input[name="secret"]:checked').val();

                /* 제목 빈값 검사 */
                if (titleInputVal === '') {
                    alert("제목을 입력하세요.");
                    $(".title-input").focus();
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    checkTitle = true;
                }

                /* 내용 빈값 검사 */
                if (contentInputVal === '') {
                    alert("내용을 입력하세요.");
                    $(".content-input").focus();
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    checkContent = true;
                }

                /* 최종 유효성 검사 */
                if (checkTitle && checkContent) {
                    if (confirm("게시글을 수정하시겠습니까?")) {

                        $.ajax({
                            url: '/board/qa/update',
                            type: 'put',
                            data: {
                                qaId: qaId,
                                title: $("select[name=title] option:selected").text(),
                                content: contentInputVal,
                                hasPrivate: hasPrivate
                            },
                            success(res) {
                                alert(res);
                                location.href = '/board/qa/' + qaId;
                            },
                            error(request) {
                                alert(request.responseText);
                            },
                        })
                    }
                    return false;
                }
            });

            /* 게시글 상세 화면으로 이동 */
            $(".cancel-btn").click(function () {
                let qaId = [[${qaUpdateDto.qaId}]];
                let pw = [[${qaUpdateDto.password}]];
                location.href = '/board/qa/' + qaId + '?password=' + pw;
            });
        });

        function showMessage() {
            let message = [[${message}]];
            if (message !== null) {
                alert(message);
            }
        }
    </script>
</body>
</html>