<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/defaultLayout.html :: head"></div>
</head>

<body>
<main class="def_main_area">
    <div th:replace="/layouts/defaultLayout.html :: sidebar"></div>

    <article class="def_content_area">
        <div th:replace="/layouts/defaultLayout.html :: nav"></div>

        <!-- section start -->
        <section class="def_section_area">
            <div class="container-fluid">

                <div class="section_header">
                    <h2>Q&A</h2>
                    <div class="divider"></div>
                </div>

                <div class="section_body qa_dtl_body mt-5">

                    <div class="table_box">
                        <table>
                            <colgroup>
                                <col style="width:130px;">
                                <col style="width: auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td colspan="2" class="board_title">
                                    <span th:text="${qaDtlDtoList.get(0).title}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="board_date_con">
                                    <ul class="etcArea">
                                        <li th:text="${qaDtlDtoList.get(0).createdBy}"></li>
                                        <li><span class="txtNum"
                                                  th:text="${#temporals.format(qaDtlDtoList.get(0).regTime, 'yyyy-MM-dd')}"></span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="detail">
                            <div class="article" th:utext="${qaDtlDtoList.get(0).content}"></div>
                        </div>
                    </div>

                    <div class="password_box">
                        <span class="pw_txt">비밀번호</span>
                        <input class="password_input" type="password" minlength="8" maxlength="20">
                        <span class="help"><i class="xi-warning"></i>삭제하려면 비밀번호를 입력하세요.</span>
                    </div>

                    <div class="btn_box">
                        <button class="white_btn_w100_h30 list_btn" type="button">목록</button>
                        <button class="black_btn_w100_h30 reply_btn" type="button">답글</button>
                        <button class="white_btn_w100_h30 del_btn" type="button">삭제</button>
                        <button class="white_btn_w100_h30 update_btn" type="button">수정</button>
                    </div>

                    <div class="comment_box">

                        <div class="comment_list">
                            <ul>
                                <li th:each="comment, status:${commentDtoList}">
                                    <div class="comment_top">
                                        <strong th:text="${comment.createdBy}"></strong>
                                        <span class="date" th:text="${#temporals.format(comment.regTime, 'yyyy-MM-dd')}">2024-02-13</span>
                                    </div>

                                    <span class="btn" th:if="${comment.userIdentifier == account.userIdentifier || account.state.name == T(com.windsome.constant.Role).ADMIN.name}">
                                        <a href="#" class="show_form_btn" th:data-commentId="${comment.commentId}">수정</a>
                                        <a href="#" class="comment_del_btn" th:data-commentId="${comment.commentId}">삭제</a>
                                    </span>

                                    <form th:id="${'commentUpdateForm' + comment.commentId}" class="comment_update_form displaynone">
                                        <div class="input">
                                            <strong th:text="${account.name}"></strong>
                                            <div class="secret_box">
                                                <input th:id="${'updateComSecretCheck' + comment.commentId}" type="checkbox" checked>
                                                <label th:for="${'updateComSecretCheck' + comment.commentId}">비밀댓글</label>
                                            </div>
                                        </div>
                                        <div class="view">
                                            <textarea th:text="${comment.content}" th:id="${'commentContent'+comment.commentId}"></textarea>
                                            <span class="submit">
                                                <a href="#" th:data-commentId="${comment.commentId}" class="comment_update_btn">수정</a>
                                                <a href="#" class="comment_cancel_btn">취소</a>
                                            </span>
                                        </div>
                                    </form>

                                    <div class="comment">
                                        <th:block th:if="${comment.secretYN == true}">
                                            <th:block th:if="${comment.userIdentifier == account.userIdentifier || account.state.name == T(com.windsome.constant.Role).ADMIN.name}">
                                                <i class="xi-lock-o"></i><span th:text="${comment.content}"></span>
                                            </th:block>
                                            <th:block th:if="${comment.userIdentifier != account.userIdentifier && account.state.name != T(com.windsome.constant.Role).ADMIN.name}">
                                                <i class="xi-lock-o"></i><span>비밀 댓글입니다.</span>
                                            </th:block>
                                        </th:block>

                                        <th:block th:if="${comment.secretYN == false}">
                                            <span th:text="${comment.content}"></span>
                                        </th:block>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="comment_write">
                            <div class="input">
                                <strong th:text="${account.name}"></strong>
                                <div class="secret_box">
                                    <input id="secret_check" type="checkbox" checked>
                                    <label for="secret_check">비밀댓글</label>
                                </div>
                            </div>
                            <div class="view">
                                <textarea class="comment_content_input" placeholder="댓글을 남겨보세요."></textarea>
                                <a class="comment_enroll_btn">확인</a>
                            </div>
                        </div>
                    </div>

                    <div class="board_movement">
                        <ul th:if="${qaDtlDtoList.size() == 3}">
                            <li class="prev">
                                <strong>이전글</strong>
                                <a th:href="@{'/board/qa/' + ${qaDtlDtoList.get(2).qaId}}"><span
                                        th:text="${qaDtlDtoList.get(2).title}"></span></a>
                            </li>
                            <li class="next">
                                <strong>다음글</strong>
                                <a th:href="@{'/board/qa/' + ${qaDtlDtoList.get(1).qaId}}"><span
                                        th:text="${qaDtlDtoList.get(1).title}"></span></a>
                            </li>
                        </ul>

                        <!-- 이전글만 존재하는 경우 -->
                        <ul th:if="${qaDtlDtoList.size() == 2 && qaDtlDtoList.get(0).qaId > qaDtlDtoList.get(1).qaId}">
                            <li class="only_prev">
                                <strong>이전글</strong>
                                <a th:href="@{'/board/qa/' + ${qaDtlDtoList.get(1).qaId}}"><span
                                        th:text="${qaDtlDtoList.get(1).title}"></span></a>
                            </li>
                        </ul>

                        <!-- 다음글만 존재하는 경우 -->
                        <ul th:if="${qaDtlDtoList.size() == 2 && qaDtlDtoList.get(0).qaId < qaDtlDtoList.get(1).qaId}">
                            <li class="next">
                                <strong>다음글</strong>
                                <a th:href="@{'/board/qa/' + ${qaDtlDtoList.get(1).qaId}}"><span
                                        th:text="${qaDtlDtoList.get(1).title}"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div th:replace="/layouts/defaultLayout.html :: footer"></div>
    </article>
</main>

<div th:replace="/layouts/defaultLayout.html :: commonJs"></div>
<!-- 사용자 JS -->
<script th:inline="javascript">
    let pw = [[${password}]]; // db에 저장된 게시글 비밀번호
    let qaId = [[${qaDtlDtoList.get(0).qaId}]]; // 게시글 번호

    $(function () {
        /* Q&A 수정 */
        $(".update_btn").click(function () {
            let userInputPw = $(".password_input").val();

            if (userInputPw === pw) {
                location.href = '/board/qa/update/' + qaId + '?password=' + pw;
            } else if (userInputPw === '') {
                alert("비밀번호를 입력해 주세요.");
            } else {
                alert("비밀번호가 일치하지 않습니다.");
            }
        });

        /* Q&A 삭제 */
        $(".del_btn").click(function () {
            let userInputPw = $(".password_input").val();

            if (userInputPw === pw) {
                if (confirm("게시글을 삭제하시겠습니까?")) {
                    $.ajax({
                        url: '/board/qa/' + qaId,
                        type: 'delete',
                        data: {
                            qaId: qaId,
                            password: $(".password_input").val()
                        },
                        success(res) {
                            alert(res);
                            location.href = '/board/qa';
                        },
                        error(request) {
                            alert(request.responseText);
                        },
                    });
                }
            } else if (userInputPw === '') {
                alert("비밀번호를 입력해 주세요.");
            } else {
                alert("비밀번호가 일치하지 않습니다.");
            }
        });

        /* Q&A 답글 */
        $(".reply_btn").click(function () {
            location.href = '/board/qa/enroll?qaId=' + qaId;
        });

        /* 목록 버튼 */
        $(".list_btn").click(function () {
            location.href = '/board/qa';
        });

        /* 댓글 등록 */
        $(".comment_enroll_btn").click(function () {
            let content = $(".comment_content_input").val();
            let secretYN = $("#secret_check").is(':checked');
            if (confirm("댓글을 등록하시겠습니까?")) {
                $.ajax({
                    url: '/board/comment/enroll',
                    type: 'post',
                    data: {
                        qaId: qaId,
                        content: content,
                        secretYN: secretYN,
                    },
                    success(res) {
                        alert(res);
                        location.reload(true);
                    },
                    error(request) {
                        alert(request.responseText);
                    },
                });
            }
            return false;
        });

        /* 댓글 수정 버튼 클릭 시 댓글 수정 form 보이기 */
        $(".show_form_btn").click(function (e) {
            e.preventDefault();

            $(".comment_update_form").each(function () {
                $(this).addClass("displaynone");
            });

            let commentId = $(this).attr("data-commentId");
            $("#commentUpdateForm" + commentId).removeClass('displaynone');
        });

        /* 댓글 수정 */
        $(".comment_update_btn").click(function (e) {
            e.preventDefault();
            let commentId = $(this).attr("data-commentId");
            let contentVal = $("#commentContent" + commentId).val();
            let secretYN = $("#updateComSecretCheck" + commentId).is(':checked');
            $.ajax({
                url:'/board/comment/' + commentId,
                type: 'patch',
                data: {
                    content: contentVal,
                    secretYN: secretYN
                },
                success(res) {
                    alert(res);
                    location.reload(true);
                },
                error(request) {
                    alert(request.responseText);
                },
            })
        });

        /* 댓글 수정 취소 */
        $(".comment_cancel_btn").click(function (e) {
            e.preventDefault();
            $(".comment_update_form").each(function () {
                $(this).addClass("displaynone");
            });
        });

        /* 댓글 삭제 */
        $(".comment_del_btn").click(function (e) {
            e.preventDefault();
            let commentId = $(this).attr("data-commentId");
            if (confirm("댓글을 삭제하시겠습니까?")) {
                $.ajax({
                    url: '/board/comment/' + commentId,
                    type: 'delete',
                    success(res) {
                        alert(res);
                        location.reload(true);
                    },
                    error(request) {
                        alert(request.responseText);
                    },
                });
            }
            return false;
        });
    });
</script>
</body>
</html>