<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/defaultLayout.html :: head"></div>
</head>

<body>
    <main class="def_main_area">
        <div th:replace="/layouts/defaultLayout.html :: sidebar"></div>

        <article class="def_content_area">
            <div th:replace="/layouts/defaultLayout.html :: nav"></div>

            <!-- section start -->
            <section class="def_section_area">
                <div class="container-fluid">

                    <div class="section_header">
                        <h2>Q&A</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section_body qaSecret_body mt-5">

                        <div class="base_box">
                            <div class="secret">
                                <fieldset>
                                    <legend>비밀글보기</legend>
                                    <p class="info">
                                        이 글은 비밀글입니다. <strong class="txtEm">비밀번호를 입력하여 주세요.</strong><br>관리자는 확인버튼만 누르시면 됩니다.
                                    </p>
                                    <p class="password">
                                        <label>비밀번호</label>
                                        <input class="password_input" type="password"  minlength="8" maxlength="20">
                                    </p>
                                    <div class="btn_box">
                                        <button class="white_btn_w130_h40 list_btn" type="button">목록</button>
                                        <button class="white_btn_w130_h40 confirm_btn" type="button">확인</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="/layouts/defaultLayout.html :: footer"></div>
        </article>
    </main>

    <form id="hiddenForm" method="get">
        <input class="hiddenPw" type="hidden" name="password">
    </form>

    <div th:replace="/layouts/defaultLayout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script th:inline="javascript">

        /* 목록 버튼 */
        $(".list_btn").click(function () {
            location.href = '/board/qa';
        });

        /* 확인 버튼 */
        $(".confirm_btn").click(function () {
            let qaId = [[${qaId}]];
            let pw = [[${password}]];
            let userInputPw = $(".password_input").val();

            $.ajax({
                url: '/board/qa/secret',
                type: 'post',
                data: {
                    qaId: qaId,
                    password: userInputPw
                },
                success() {
                    let form = $("#hiddenForm");
                    $(".hiddenPw").val(pw);
                    form.attr('action', '/board/qa/' + qaId);
                    form.submit();
                },
                error(request) {
                    alert(request.responseText);
                },
            })
        });

    </script>
</body>
</html>