@mixin board_message_wrap() {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;

    .message {
        font-size: 11px;
        color: #707070;
        font-weight: bold;
    }
}

@mixin board_btn_box() {
    width: 100%;
    margin: 20px auto 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

@mixin board_search_box() {
    width: 100%;
    padding: 20px 0 20px 10px;
    color: #2e2e2e;
    font-size: 12px;

    .txt {
        margin-right: 22px;
    }

    .search_date_type,
    .search_date_type_admin,
    .search_sell_status,
    .search_by {
        margin: 2px 2px 0 0;
        width: 80px;
        height: 30px;
        line-height: 29px;
        min-height: 30px;
        border: 1px solid #ddd;
        padding: 0 5px 0 10px;
        color: #353535;
    }

    .search_date_type_admin {
        width: 100px;
    }

    .search_sell_status {
        width: 120px;
    }

    .search_by {
        width: 80px;
    }

    input {
        width: 240px;
        border: none;
        height: 30px;
        border: 1px solid #d3d3d3;
        padding-left: 10px;
        font-size: 12px;
        margin: 2px 2px 0 0;
        color: #353535;
    }

    input:focus {
        outline: none;
    }

    input:focus::placeholder {
        opacity: 0;
    }

    button.search_btn {
        width: 72px !important;
        font-size: 12px !important;
        color: #353535;
        vertical-align: top;
        margin-top: 2px;
    }
}

@mixin board_movement() {
    width: 100%;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin: 60px 0 40px;
    background: #fff;
    font-size: 12px;

    li {
        overflow: hidden;
        padding: 0 20px;
        border-bottom: 1px solid #eaeaea;
        line-height: 180%;
        color: #aaa;

        strong {
            width: 6%;
            padding-left: 0px;
            font-weight: normal;
            float: left;
            padding: 10px;
        }

        a {
            width: 80%;
            border-left: 0px solid #eaeaea;
            color: #666;
            float: left;
            padding: 10px;
            text-decoration: none;
        }

        &.only_prev {
            border: 0;
        }

        &.next {
            border: 0;
        }
    }
}