.item_mng_body {
    width: 90%;
    margin: 0 auto;

    .table_wrap {
        width: 100%;
        overflow-x: auto;

        table {
            min-width: 810px;

            tbody {
                tr {
                    td {
                        height: 100px;

                        a {
                            width: 90px;
                            margin: 1px 0;
                        }

                        a:hover {
                            text-decoration: underline;
                            color: rgb(107, 107, 107);
                        }

                        .item_dtl_btn {
                            outline: none;
                            background: white;
                            border: none;
                        }

                        button.item_dtl_btn {
                            &:hover {
                                color: rgb(80, 80, 80);
                                text-decoration: underline;

                            }
                        }

                        .modify_btn {
                            margin-bottom: 2px;
                        }
                    }

                    td:nth-child(2) {
                        text-align: left;
                    }
                }
            }
        }
    }

    .btn_box {
        @include board_btn_box();
    }

    .message_wrap {
        @include board_message_wrap();
    }

    .search_box {
        @include board_search_box();
    }
}

@media (max-width:1200px) {
    .item_mng_body {
        width: 100%;
    }
}