@import "../../abstracts/variables";

.dashboard-body {
    .stats-summary-container {
        .info-box {
            background-color: white;
            padding: 20px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 3px;
            position: relative;

            .txt-box {
                .title {
                    display: block;
                    color: #6b6b6b;
                    font-size: 12px;
                }

                .txt {
                    font-size: 12px;
                    color: #6b6b6b;
                }

                strong {
                    font-size: 18px;
                }
            }

            .icon-box {
                svg {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    padding: 15px;
                }

                svg.fa-user {
                    color: #0090f4;
                    background-color: #ebf4fc;
                }

                svg.fa-cart-shopping {
                    color: #fcbb0f;
                    background-color: #fdf5d8;
                }

                svg.fa-envelope {
                    color: #6c41e8;
                    background-color: #f2eeff;
                }

                svg.fa-coins {
                    color: #14c470;
                    background-color: #e6ffeb;
                }
            }
        }

        &:nth-child(1) .info-box::before,
        &:nth-child(2) .info-box::before,
        &:nth-child(3) .info-box::before,
        &:nth-child(4) .info-box::before {
            content: "";
            width: 1px;
            position: absolute;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            height: 100%;
            left: 0px;
            top: 0px;
        }

        &:nth-child(1) .info-box::before {
            border: 2px solid #0090f4;
        }

        &:nth-child(2) .info-box::before {
            border: 2px solid #fcbb0f;
        }

        &:nth-child(3) .info-box::before {
            border: 2px solid #6c41e8;
        }

        &:nth-child(4) .info-box::before {
            border: 2px solid #14c470;
        }
    }

    .chart-container {
        .category-sales-count {
            background-color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 3px;
            min-height: 400px;
            max-height: 400px;

            .header {
                text-align: left;
                padding: 0 0 15px 0;

                span {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .body {
                flex: 1 1 0;
                width: 100%;

                #myChart {
                    width: 100% !important;
                }
            }
        }
    }

    .recent-posts-container,
    .recent-products-container,
    .recent-orders-container {
        .wrapper {
            background-color: white;
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 3px;

            .header {
                text-align: left;
                padding: 0 0 15px 0;

                span {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .body {
                width: 100%;
                overflow-x: auto;

                .table-wrapper {
                    min-width: 816px;
                    .base-table {
                        .base-table__head {
                            .base-table__row {
                                .base-table__header-cell {
                                }
                            }
                        }
                        .base-table__body {
                            .base-table__row {
                                .base-table__cell {
                                    .sold-out {
                                        color: #bb1919;
                                    }

                                    .on-sale {
                                        color: #0000ff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .recent-posts-container {
        .wrapper {
            min-height: 400px;
            max-height: 400px;
        }
    }

    .recent-products-container {
        .wrapper {
            max-height: 400px;
        }
    }

    .recent-orders-container {
        .wrapper {
            max-height: 670px;
        }
    }
}
