@import "../../../abstracts/variables";

.member-mng-body {
    .member-list-container {
        overflow-x: auto;
        table {
            min-width: 1300px;
            tbody {
                tr {
                    td {
                        .role {
                            color: #3a37db;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .search-input-container {
        @include search-input-container();
    }
}

@media (max-width: 1200px) {
    .member-mng-body {
        width: 100%;
    }
}
