<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="layouts/admin-layout.html :: head"></div>
</head>

<body>
<main class="admin-main-area">
    <div th:replace="layouts/admin-layout.html :: sidebar(currentMenu='reviewManagement')"></div>

    <article class="admin-content-area">
        <div th:replace="layouts/admin-layout.html :: nav"></div>

        <!-- section start -->
        <section class="admin-section-area">
            <div class="container-fluid">

                <div class="section-header">
                    <h2>REVIEW</h2>
                    <div class="divider"></div>
                </div>

                <div class="section-body review-mng-body row">

                    <div class="col-11">
                        <div class="list-total-count-container">
                            <span class="me-1" th:text="${reviews.getTotalElements()}"></span>POSTS
                        </div>

                        <div class="review-list-container">

                            <div class="table-wrapper">
                                <table class="base-table base-table--multi-columns">
                                    <thead class="base-table__head">
                                    <tr class="base-table__row">
                                        <th class="base-table__header-cell" style="width: 80px;" scope="col">
                                            <input type="checkbox" id="all-check" name="all-check" onclick="checkAll()">
                                            <label for="all-check"></label>
                                        </th>
                                        <th class="base-table__header-cell" style="width: 150px;" scope="col">Product</th>
                                        <th class="base-table__header-cell" style="width: auto;" scope="col">Subject</th>
                                        <th class="base-table__header-cell" style="width: 110px;" scope="col">Writer</th>
                                        <th class="base-table__header-cell" style="width: 150px;" scope="col">Ratings</th>
                                        <th class="base-table__header-cell" style="width: 180px;" scope="col">선택</th>
                                    </tr>
                                    </thead>

                                    <tbody class="base-table__body">
                                    <tr class="base-table__row" th:if="${#lists.isEmpty(reviews.getContent())}">
                                        <td class="base-table__cell base-table__cell--empty" colspan="6">
                                            <span class="base-table__message">등록된 리뷰가 없습니다.</span>
                                        </td>
                                    </tr>

                                    <tr class="base-table__row" th:each="review, status: ${reviews.getContent()}">
                                        <td class="base-table__cell">
                                            <input type="checkbox" class="check" name="check" th:data-reviewId="${review.reviewId}">
                                        </td>
                                        <td class="base-table__cell base-table__cell--thumbnail">
                                            <a class="base-table__link displayblock mb5" th:href="${'/product/' + review.productId}">
                                                <img class="base-table__small-image" th:src="${review.imageUrl}">
                                            </a>
                                            <a class="base-table__link" th:href="${'/product/' + review.productId}">
                                                <span th:text="${#strings.substring(review.productName, 0, 13)} + ${#strings.length(review.productName) > 13 ? '...' : ''}"></span>
                                            </a>
                                        </td>
                                        <td class="base-table__cell left pl20">
                                            <a class="base-table__link" th:href="${'/board/reviews/' + review.reviewId}">
                                                <span th:text="${review.content}"></span>
                                            </a>
                                        </td>
                                        <td class="base-table__cell">
                                            <span th:text="${review.createdBy}"></span>
                                        </td>
                                        <td class="base-table__cell">
                                            <fieldset class="rate" th:data-rating="${review.rating}">
                                                <input type="radio" th:id="${review.createdBy + 1}" th:name="${review.reviewId}" value="5.0" onclick="return false;"><label th:for="${review.createdBy + 1}" ></label>
                                                <input type="radio" th:id="${review.createdBy + 2}" th:name="${review.reviewId}" value="4.5" onclick="return false;"><label th:for="${review.createdBy + 2}" class="half" ></label>
                                                <input type="radio" th:id="${review.createdBy + 3}" th:name="${review.reviewId}" value="4.0" onclick="return false;"><label th:for="${review.createdBy + 3}"></label>
                                                <input type="radio" th:id="${review.createdBy + 4}" th:name="${review.reviewId}" value="3.5" onclick="return false;"><label th:for="${review.createdBy + 4}" class="half" ></label>
                                                <input type="radio" th:id="${review.createdBy + 5}" th:name="${review.reviewId}" value="3.0" onclick="return false;"><label th:for="${review.createdBy + 5}"></label>
                                                <input type="radio" th:id="${review.createdBy + 6}" th:name="${review.reviewId}" value="2.5" onclick="return false;"><label th:for="${review.createdBy + 6}" class="half" ></label>
                                                <input type="radio" th:id="${review.createdBy + 7}" th:name="${review.reviewId}" value="2.0" onclick="return false;"><label th:for="${review.createdBy + 7}"></label>
                                                <input type="radio" th:id="${review.createdBy + 8}" th:name="${review.reviewId}" value="1.5" onclick="return false;"><label th:for="${review.createdBy + 8}" class="half" ></label>
                                                <input type="radio" th:id="${review.createdBy + 9}" th:name="${review.reviewId}" value="1.0" onclick="return false;"><label th:for="${review.createdBy + 9}"></label>
                                                <input type="radio" th:id="${review.createdBy + 10}" th:name="${review.reviewId}" value="0.5" onclick="return false;"><label th:for="${review.createdBy + 10}" class="half" ></label>
                                            </fieldset>
                                        </td>
                                        <td class="base-table__cell">
                                            <button class="button button--white button--65x30 del-btn" th:data-reviewId="${review.reviewId}">삭제</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>

                        <div class="button-container">
                            <button class="button button--white button--90x30 posts-del-btn">선택 삭제</button>
                            <button class="button button--white button--90x30 all-post-del-btn">전체 삭제</button>
                            <button class="button button--white button--65x30 write-btn">글쓰기</button>
                        </div>

                        <div class="pagination-container"
                             th:with="start=${(reviews.number/maxPage)*maxPage + 1}, end=(${(reviews.totalPages == 0) ? 1 :
                                             (start + (maxPage - 1) < reviews.totalPages ? start + (maxPage - 1) : reviews.totalPages)})">
                            <ul>
                                <li class="prev" th:classappend="${reviews.first} ? 'disabled'">
                                    <a th:onclick="'javascript:page(0)'">
                                        <i class="fa-solid fa-angle-left"></i><i
                                            class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="prev" th:classappend="${reviews.first} ? 'disabled'">
                                    <a th:onclick="'javascript:page(' +  ${reviews.number - 1} + ')'">
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page" th:each="page: ${#numbers.sequence(start, end)}"
                                    th:classappend="${reviews.number eq page - 1} ? 'active' : ''">
                                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'"
                                       th:inline="text">[[${page}]]</a>
                                </li>
                                <li class="next" th:classappend="${reviews.last} ? 'disabled'">
                                    <a th:onclick="'javascript:page(' + ${reviews.number + 1} + ')'">
                                        <i class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="next" th:classappend="${reviews.last} ? 'disabled'">
                                    <a th:onclick="'javascript:page(' + ${reviews.totalPages - 1} + ')'">
                                        <i class="fa-solid fa-angle-right"></i><i
                                            class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="search-input-container" th:object="${searchDTO}">
                            <i class="fa-solid fa-angle-right"></i>
                            <span class="txt">검색어</span>
                            <select class="search-date-type" th:field="*{searchDateType}">
                                <option value="">(전체)</option>
                                <option value="content">내용</option>
                                <option value="name">작성자</option>
                            </select>
                            <input class="search-query" th:field="*{searchQuery}" type="text" placeholder="검색어를 입력해주세요">
                            <button class="search-btn button button--white button--90x30" type="button">검색</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <div th:replace="layouts/admin-layout.html :: footer"></div>
    </article>
</main>


<div th:replace="layouts/admin-layout.html :: commonJs"></div>
    <!-- custom js -->
    <script th:inline="javascript">
        $(function() {
            initSubMenu(); // 서브 메뉴 초기화
            setRatingValues(); // 리뷰 평점 값 설정

            /* 검색 버튼 클릭 이벤트 처리 */
            $(".search-btn").on("click", handleSearchButtonClick);

            /* 글쓰기 버튼 클릭 이벤트 처리 */
            $(".write-btn").on("click", handleWriteButtonClick);

            /* 삭제 버튼 클릭 이벤트 처리 */
            $(".del-btn").on("click", handleDeleteButtonClick);

            /* 선택 삭제 버튼 클릭 이벤트 처리 */
            $(".posts-del-btn").on("click", handleDeleteSelectedButtonClick);

            /* 전체 삭제 버튼 클릭 이벤트 처리 */
            $(".all-post-del-btn").on("click", handleDeleteAllButtonClick);
        });

        function initSubMenu() {
            $("a[data-bs-target='#board-management-submenu']").removeClass("collapsed");
            $("#board-management-submenu").addClass("show");
        }

        /* 검색 함수 */
        function handleSearchButtonClick(e) {
            e.preventDefault();
            if ($(".search-query").val() === '') {
                alert("검색어를 입력해주세요.");
                return false;
            }
            page(0);
        }

        /* 게시글 등록 화면으로 이동하는 함수 */
        function handleWriteButtonClick() {
            location.href = "/board/reviews/enroll";
        }

        /* 리뷰 평점 값 설정 */
        function setRatingValues() {
            $(".rate").each(function () {
                let rating = $(this).attr("data-rating");
                $(this).find('input').each(function (index, element) {
                    if ($(element).val() === rating) {
                        $(element).prop("checked", true);
                    }
                });
            });
        }

        /* 단일 게시글 삭제 함수 */
        function handleDeleteButtonClick() {
            let boardId = $(this).attr("data-reviewId");
            deleteReview([boardId]);
        }

        /* 선택된 게시글 삭제 함수 */
        function handleDeleteSelectedButtonClick() {
            let boardIds = getReviewIds();
            if (boardIds.length > 0) {
                if (confirm("게시글을 삭제하시겠습니까?")) {
                    deleteReview(boardIds);
                }
            } else {
                alert("게시글을 1개 이상 선택해 주세요.")
            }
        }

        /* 게시글 전체 삭제 함수 */
        function handleDeleteAllButtonClick() {
            let boardIds = getReviewIds();
            if (boardIds.length > 0) {
                if (confirm("전체 게시글을 삭제하시겠습니까?")) {
                    deleteReview(boardIds);
                } else {
                    // 체크 박스 전체 선택 해제
                    $("input[name='check']").each(function () {
                        $("input[name=check]").prop("checked", false);
                    });
                }
            }
        }

        /* 페이지 이동 함수 */
        function page(page) {
            let searchDateType = $(".search-date-type").val();
            let searchQuery = $(".search-query").val();
            location.href = "/admin/board/reviews?page=" + page + "&searchDateType=" + searchDateType + "&searchQuery=" + searchQuery;
        }

        /* 체크 박스 전체 선택/해제 함수 */
        function checkAll() {
            if ($("#all-check").prop("checked")) {
                $("input[name=check]").prop("checked", true);
            } else {
                $("input[name=check]").prop("checked", false);
            }
        }

        /* 게시글 삭제 함수 */
        function deleteReview(boardIds) {
            $.ajax({
                url: "/admin/board/delete",
                type: "delete",
                contentType: "application/json",
                dataType: "text",
                traditional: true,
                data: JSON.stringify(boardIds),
                success(res) {
                    alert(res);
                    location.reload(true);
                },
                error(request) {
                    alert(request.responseText);
                }
            });
        }

        /* 선택된 게시글들의 id 값 가져오기 */
        function getReviewIds() {
            let reviewIds = [];
            $("input[name='check']").each(function () {
                if ($(this).is(':checked') === true) {
                    reviewIds.push($(this).attr("data-reviewId"));
                }
            });
            return reviewIds;
        }
    </script>

</body>