@import "../../../abstracts/variables";

.notice-form-body {
    form {
        table {
            tbody {
                td {
                    input[type=checkbox] {
                        width: auto;
                        height: 20px;
                        vertical-align: middle;
                    }
                }
            }
        }

        .btn-box {
            padding: 10px 0;
            text-align: center;
            display: block;
            margin-top: 50px;
        }
    }
}
