@import "../../../abstracts/variables";

.notice-form-body {
    form {
        width: 70%;

        table {
            tbody {
                td {
                    input[type=checkbox] {
                        width: auto;
                        height: 20px;
                        vertical-align: middle;
                    }
                }
            }
        }

        .btn-box {
            padding: 10px 0;
            text-align: center;
            display: block;
            margin-top: 50px;
        }
    }
}

@media (max-width: 1200px) {
    .notice-form-body {
        form {
            width: 90%;
        }
    }
}

@media (max-width: 992px) {
    .notice-form-body {
        form {
            width: 100%;
        }
    }
}