.order-hist-body {
    width: 90%;
    margin: 0 auto;

    .order-history-container {
        width: 100%;
        overflow-x: auto;

        table {
            min-width: 860px;

            tbody {
                tr {
                    td {
                        height: 135px;

                        &.order-date {
                            letter-spacing: -0.5px;
                        }

                        .order-cancel-btn {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .order-hist-body {
        width: 100%;
    }
}