.order-form-body {
    width: 80%;
    margin: 0 auto;

    .order-products-container,
    .shipping-address-container,
    .discount-info-container,
    .payment-details-container,
    .button-container {
        width: 100%;
        overflow-x: auto;

        .title {
            display: flex;
            justify-content: center;

            h2 {
                font-size: 12px;
                color: #353535;
                width: 100%;
                padding-left: 10px;
                font-weight: bold;
            }
        }

        .body {
            min-width: 780px;
        }
    }

    .order-products-container {
        margin-bottom: 40px;

        .body {
            table {
                tbody {
                    tr {
                        td {
                            height: 135px;

                            &.thumb {
                                img {
                                    width: 80px;
                                    height: 110px;
                                }
                            }

                            &.product {
                                padding-left: 10px;

                                .name a {
                                    color: #353535 !important;
                                }

                                .option {
                                    color: #757575;
                                    margin-top: 9px;
                                }
                            }

                            &.left-top {
                                text-align: left;
                                vertical-align: top;
                            }

                            &.product-price {
                                span {
                                    display: block;
                                }
                            }

                            &.delivery-price {
                                span {
                                    display: block;
                                }

                                span.text {
                                    font-size: 11px;
                                    color: #353535;
                                }
                            }
                        }
                    }
                }
            }

            .delivery-and-point {
                margin-top: 5px;
                display: flex;
                justify-content: end;
                align-items: center;

                span {
                    font-size: 12px;
                    margin-left: 20px;
                }
            }
        }
    }

    .shipping-address-container {
        margin-bottom: 40px;

        .body {
            display: flex;
            justify-content: center;

            form {
                width: 100%;

                table {
                    tbody {
                        td {

                            .tel-select {
                                width: 70px;
                                margin-right: 3px;
                            }

                            .tel-input1,
                            .tel-input2 {
                                width: 70px;
                                margin-left: 3px;
                            }

                            .tel-input1 {
                                margin-right: 3px;
                            }

                            select.mail-select {
                                width: 125px;
                            }

                            span.final-check-name,
                            span.final-check-mail,
                            span.final-check-address,
                            span.final-check-tel {
                                display: none;
                            }

                            button.send-mail,
                            button.check-number,
                            button.find-addr {
                                padding: 0;
                                height: 30px;
                                margin-bottom: 2px;
                                border: 1px solid #e2e2e2;
                                background: white;

                                &:hover {
                                    border: 1px solid black;
                                }
                            }

                            button.send-mail,
                            button.check-number,
                            button.find-addr {
                                width: 90px;
                            }
                        }
                    }
                }

            }
        }
    }

    .discount-info-container {
        margin-bottom: 40px;

        .body {
            display: flex;
            justify-content: center;

            table {
                tbody {
                    td {

                        .coupon-input-box,
                        .point-input-box {

                            .coupon-btn,
                            .point-btn {
                                margin-bottom: 2px;
                            }
                        }

                        .point-input-box {
                            .point-input-btn-N {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .payment-details-container {
        margin-bottom: 60px;

        .body {
            table {
                font-size: 12px;
                text-align: center;
                margin: 10px 0 0;

                thead {
                    vertical-align: middle;

                    tr {
                        th {
                            padding: 15px 0 14px;
                            border: 1px solid #e5e5e5;
                            color: #353535;
                            font-size: 12px;
                            font-weight: bold;
                            background-color: #FBFAFA;
                        }
                    }

                }

                tbody {
                    vertical-align: middle;

                    tr {
                        td {
                            padding: 15px 5px 14px;
                            border: 1px solid #e5e5e5;
                            color: #353535;
                            font-size: 16px;
                            font-weight: bold;

                            span {
                                font-size: 23px;
                                font-weight: bold;
                            }

                            a {
                                width: 90px;
                                margin: 1px 0;
                            }

                            a.btn-submit {
                                display: inline-block;
                                padding: 4px 8px;
                                border: 1px solid transparent;
                                border-radius: 0px;
                                font-size: 12px;
                                line-height: 18px;
                                font-weight: normal;
                                text-decoration: none;
                                word-spacing: -0.5px;
                                letter-spacing: 0;
                                white-space: nowrap;
                                color: #fff;
                                background-color: #000;
                            }

                            a.btn-normal {
                                display: inline-block;
                                padding: 4px 8px;
                                border: 1px solid #e2e2e2;
                                border-radius: 0px;
                                font-size: 12px;
                                line-height: 18px;
                                font-weight: normal;
                                text-decoration: none;
                                word-spacing: -0.5px;
                                letter-spacing: 0;
                                white-space: nowrap;
                                color: #222;
                                background-color: #fff;
                            }
                        }

                        td.left {
                            padding-left: 20px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    .button-container {
        padding: 10px 0;
        text-align: center;
        display: block;
        margin-top: 30px;
    }
}

@media (max-width: 1300px) {
    .order-form-body {
        width: 100%;
    }
}