.find-account-body {
    .tab-box {
        width: 80%;
        margin-bottom: 30px;

        ul {
            li {
                // display: inline-block;
                float: left;
                width: 50%;
                text-align: center;
                border: 1px solid #e2e2e2;
                cursor: pointer;
                margin: 0;
                line-height: 50px;
                font-size: 16px;
            }

            li.active {
                color: #fff;
                background-color: #12A19A;
                border: 1px solid transparent;

                &:hover {
                    background-color: #0c6460;
                    border: 1px solid transparent;
                }
            }
        }
    }

    .content-box {
        width: 80%;

        .find-id-form-box,
        .find-pw-form-box {
            width: 100%;

            .little-text-box {
                padding: 10px 0;

                .info-text {
                    font-size: 14px;
                    margin: 0;
                    padding: 0;
                    color: rgb(85, 85, 85);
                }
            }

            form {
                width: 100%;

                table {

                    tbody {

                        td {

                            span {
                                margin-top: 2px;
                            }

                            select.find-pw-email-select,
                            select.find-id-email-select {
                                width: 125px;
                            }

                            button.send-mail,
                            button.check-number {
                                padding: 0;
                                height: 30px;
                                margin-bottom: 2px;
                                border: 1px solid #e2e2e2;
                                background: white;

                                &:hover {
                                    border: 1px solid black;
                                }
                            }

                            button.send-mail,
                            button.check-number {
                                width: 90px;
                            }
                        }
                    }
                }
            }

            .big-text-box {
                padding: 20px 0;

                .info-text {
                    font-size: 13px;
                    margin: 0;
                    padding: 0;
                    color: rgb(85, 85, 85);
                }
            }

            .btn-box {
                padding: 10px 0;
                text-align: center;
                display: block;
                margin-top: 30px;
            }
        }

        .find-pw-form-box {
            display: none;
        }
    }
}