.account_mng_body {
    width: 90%;
    margin: 0 auto;

    .table_wrap {
        width: 100%;
        overflow-x: auto;

        table {
            min-width: 810px;

            tbody {
                tr {
                    td {

                        &.center {
                            text-align: center;
                        }

                        .update_role_btn,
                        .update_btn {
                            margin-bottom: 3px;
                            display: inline-block;
                        }

                        &.user_info {
                            display: flex;
                            justify-content: center;
                            align-items: start;
                            flex-direction: column;

                            a {
                                span {
                                    margin-bottom: 5px;

                                    &:hover {
                                        color: rgb(165, 165, 165);
                                    }
                                }
                            }
                        }


                    }
                }
            }
        }
    }

    .message_wrap {
        @include board_message_wrap();
    }

    .search_box {
        @include board_search_box();
    }
}

@media (max-width:1200px) {
    .account_mng_body {
        width: 100%;
    }
}