.member-mng-body {
    width: 90%;
    margin: 0 auto;

    .member-list-container {
        width: 100%;
        overflow-x: auto;

        table {
            min-width: 810px;

            tbody {
                tr {
                    td {

                        &.center {
                            text-align: center;
                        }

                        .update-role-btn,
                        .update-btn {
                            margin-bottom: 3px;
                            display: inline-block;
                        }

                        &.user-info {
                            display: flex;
                            justify-content: center;
                            align-items: start;
                            flex-direction: column;

                            a {
                                span {
                                    margin-bottom: 5px;

                                    &:hover {
                                        color: rgb(165, 165, 165);
                                    }
                                }
                            }
                        }


                    }
                }
            }
        }
    }

    .search-input-container {
        @include search-input-container();
    }
}

@media (max-width:1200px) {
    .member-mng-body {
        width: 100%;
    }
}