@import "../../abstracts/variables";

.login-body {
    margin: 100px 0 0;

    .login-form {
        min-width: 400px;

        #loginForm {
            input[type="text"],
            input[type="password"] {
                display: block;
                width: 100%;
                height: 50px;
                padding: 7px 2px 7px 10px;
                font-size: 14px;
                margin: 0 0 8px;
                border: 1px solid #9e9e9e;
            }

            button[type="submit"] {
                display: inline-block;
                height: 50px;
                width: 100%;
                background-color: #000;
                color: #fff;
                border: none;
                border-radius: 0;
                font-size: 14px;

                &:hover {
                    background-color: #474747;
                }
            }

            .form-check {
                padding-left: 0;
                color: #A1A7A8;

                .remember-me-label {
                    position: relative;
                    font-size: 13px;

                    input {
                        position: absolute;
                        left: -999px;
                    }
                    .circle {
                        margin-right: 2px;
                        width: 18px;
                        height: 18px;
                        border: 1px solid #A1A7A8;
                        border-radius: 10px;
                        display: inline-block;
                        position: relative;
                        top: 4px;
                        cursor: pointer;
                    }
                    .check {
                        font-size: 16px;
                        position: absolute;
                        top: 5px;
                        left: 1px;
                    }

                    input:checked + .circle {
                        background-color: #03C75A;
                        border: 1px solid transparent;
                    }

                    input:checked ~ .check {
                        color: white;
                    }

                }
            }

            .error-message-container {
                margin: 15px 0 15px;
                display: inline-block;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: -0.5px;
                color: #ff003e;
                vertical-align: middle;
            }
        }
    }

    .login-find {
        min-width: 400px;
        padding: 20px 0 20px;
        text-align: center;

        .txt {
            float: left;
            border: none;
            padding: 0 10px;
            line-height: 13px;
            letter-spacing: 0.2px;
            font-size: 12px;
            border-left: 1px solid #ddd;

            a {
                color: #999;

                &:hover {
                    color: #ccc;
                }
            }
        }

        .txt:nth-child(1) {
            border-left-width: 0;
            padding: 0 10px 0 0;
        }

        .join-txt {
            float: right;
            font-size: 14px;
            line-height: 11px;

            a {
                color: #111;
                font-weight: bold;

                &:hover {
                    color: #999;
                }
            }
        }
    }

    .sns-login-warpper {
        min-width: 400px;
        font-size: 12px;

        li {
            margin: 7px 0 0 0;

            a {
                display: block;
                height: 50px;
                line-height: 50px;
            }
        }

        .kakao {
            a {
                background: #ffeb00;

                i {
                    margin-left: 15px;
                    display: inline-block;
                    font-size: 28px;
                    vertical-align: middle;
                }

                span {
                    display: inline-block;
                    width: 80%;
                    vertical-align: middle;
                    text-align: center;
                    font-size: 13px;
                    color: #3c1e1e;
                }
            }
        }

        .naver {
            a {
                background: #26c826;

                i {
                    margin-left: 15px;
                    display: inline-block;
                    font-size: 28px;
                    vertical-align: middle;
                }

                span {
                    display: inline-block;
                    width: 80%;
                    vertical-align: middle;
                    text-align: center;
                    font-size: 13px;
                    color: #fff;
                }
            }
        }
    }
}
