@import "../../abstracts/variables";

.products-header {
    margin: 40px auto 40px;

    h2 {
        font-size: 15px;
        text-align: center;
    }

    .divider {
        width: 70px;
        height: 1px;
        background: #aaa;
        margin: 20px auto;
    }

    .little-category {
        .menu-category {
            text-align: center;
            font-size: 13px;
            width: 100%;
            margin: 30px 0;
            letter-spacing: 0.04em;

            li {
                display: inline-block;
                margin: 0 18px 15px 18px;

                a {
                    color: #999;
                    text-decoration: none;

                    &.active,
                    &:hover {
                        color: #111;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.products-body {
    width: 80%;
    margin: 0 auto;

    .search-result {
        padding: 50px;
        text-align: center;
        font-size: 12px;

        .search-input {
            position: relative;
            width: 400px;
            display: inline-block;
            padding: 0 36px 5px 0;
            border-bottom: 2px solid #444;

            input {
                border: 0;
                font-size: 17px;
                padding: 0 10px;
                width: 100%;
                outline: 0;
                background: #fff;
            }

            button {
                position: absolute;
                top: -10px;
                right: 5px;
                outline: 0;
                background: none;
                border: none;

                .icon {
                    font-size: 25px;
                    color: #333;
                    margin: 5px 5px 0 0;
                }
            }
        }

        .content-count {
            font-size: 12px;
        }
    }

    .normal-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .product-total,
        .product-filter {
            font-size: 11px;
            line-height: 25px;
            color: #aaa;
            letter-spacing: 0.02em;
        }

        .product-total {
            span {
                font-weight: bold;
                color: #000;
            }
        }

        .product-filter {
            li {
                display: inline-block;
                margin-left: 12px;

                a:hover {
                    color: #000;
                    font-weight: bold;
                }
            }
        }
    }

    .products-wrap {
        .product-dtl {
            margin-bottom: 7%;

            .desc {
                padding: 10px 0;
                background-color: #fff;
                color: #000;

                .name {
                    font-size: 12px;
                    color: #222222;
                }

                .discount,
                .no-discount {
                    .product-price {
                        font-size: 12px;
                        color: #000000;
                    }

                    .discount-price {
                        font-size: 12px;
                        color: #333333;
                        font-weight: bold;
                    }

                    .discount-rate {
                        font-size: 12px;
                        color: #e06f18;
                        font-weight: bold;
                    }
                }

                .no-discount {
                    .product-price {
                        text-decoration: line-through;
                    }
                }
            }
        }

        .empty-message {
            padding: 110px 0;
            border-bottom: 1px solid #e5e5e5;
            border-top: 1px solid #e5e5e5;
            text-align: center;

            .message {
                font-size: 11px;
                color: #707070;
                font-weight: bold;
            }

        }
    }

}