/* review start */
.review_body {
    width: 90%;
    margin: 0 auto;

    .table_wrap {
        width: 100%;
        overflow-x: auto;

        table {
            tbody {
                tr {
                    td {
                        &.thumb {
                            img {
                                width: 60px;
                                height: 80px;
                            }
                        }

                        &.left {
                            text-align: left;

                            a {
                                color: #111111;
                            }
                        }

                        &.itemNm {
                            padding-right: 5px;

                            a {
                                color: #b5b5b5;

                                &:hover {
                                    color: #555555;
                                }
                            }
                        }

                        &.title {
                            padding-left: 20px;
                        }

                        &.createdBy {
                            color: #353535;
                        }

                        &.regDate {
                            font-size: 11px;
                            color: #939393;
                        }

                        .rate {
                            display: inline-block;

                            input {
                                display: none;
                            }

                            label {
                                float: right;
                                color: #ddd;

                                &:before {
                                    display: inline-block;
                                    font-size: 1rem;
                                    padding: .3rem .2rem;
                                    margin: 0;
                                    font-family: FontAwesome;
                                    content: "\f005 ";
                                }
                            }

                            .half:before {
                                content: "\f089 ";
                                position: absolute;
                            }

                            input:checked~label {
                                color: #f73c32 !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .message_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 110px 0;
        text-align: center;
        border-bottom: 1px solid #e5e5e5;

        .message {
            font-size: 11px;
            color: #707070;
            font-weight: bold;
        }
    }

    .btn_box {
        width: 100%;
        margin: 20px auto 0;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .search_box {
        padding: 20px 0 20px 10px;
        color: #2e2e2e;
        font-size: 12px;

        .board_search {
            display: block;
            border: none;

            legend {
                visibility: hidden;
                position: absolute;
                left: -9999px;
                top: -9999px;
                width: 0;
                height: 0;
                line-height: 0;
            }

            p {
                margin: 0 0 10px;
                padding: 0 0 0 7px;
                background: url(//img.echosting.cafe24.com/skin/base/common/ico_triangle3.gif) no-repeat 0 45%;

                &::before {
                    content: "검색어";
                }

                select.search_date_type {
                    margin: 0 2px 0 22px;
                    width: 80px;
                    height: 30px;
                    line-height: 29px;
                    min-height: 30px;
                    border: 1px solid #ddd;
                    padding: 0 5px 0 10px;
                    color: #353535;
                }

                input {
                    width: 240px;
                    border: none;
                    height: 30px;
                    border: 1px solid #d3d3d3;
                    padding-left: 10px;
                    font-size: 12px;
                    margin-right: 2px;
                    color: #353535;
                }

                input:focus {
                    outline: none;
                }

                input:focus::placeholder {
                    opacity: 0;
                }

                button.search_btn {
                    width: 72px !important;
                    font-size: 12px !important;
                    color: #353535;
                    vertical-align: top;
                }
            }
        }
    }
}