@import "../../../abstracts/variables";

.product-dtl-body {
    .product-dtl {
        width: 100%;

        .product-img-wrap {
            display: flex;
            flex-direction: column;
            margin-right: 30px;

            .main-img-box {
                margin-bottom: 5px;

                .main-img {
                    height: 600px;
                    width: 470px;
                }
            }

            .thumb-img-box {
                .thumb-img {
                    height: 125px;
                    width: 90px;
                    opacity: 0.6;
                    cursor: pointer;
                    margin-right: 5px;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .product-info-wrap {
            display: flex;
            flex-direction: column;
            min-width: 440px;
            max-width: 440px;
            padding-top: 30px;

            .product-title {
                margin-bottom: 20px;

                h3 {
                    font-size: 17px;
                    font-weight: bold;
                }
            }

            .product-desc {
                margin-bottom: 20px;

                p {
                    font-size: 14px;
                }
            }

            .product-price {
                padding-left: 5px !important;
                font-size: 12px;
                color: #555;

                .title {
                    display: inline-block;
                    width: 100px;
                    margin: 7px 20px 7px 0;
                    vertical-align: top;
                }

                .con {
                    display: inline-block;
                    width: calc(100% - 125px);
                    margin: 7px 0;
                    vertical-align: top;
                    font-weight: bold;
                }
            }

            .discount-price {
                padding-left: 5px !important;
                font-size: 12px;
                color: #555;

                .title {
                    display: inline-block;
                    width: 100px;
                    margin: 7px 20px 7px 0;
                    vertical-align: top;
                }

                .con {
                    display: inline-block;
                    margin: 7px 0;
                    vertical-align: top;
                    font-weight: bold;
                }

                .discount-rate {
                    display: inline-block;
                    margin: 7px 0;
                    vertical-align: top;
                    font-size: 12px;

                    span {
                        margin-left: 5px;
                        color: #e06f18;
                        font-weight: bold;
                    }
                }
            }

            .option-table {
                font-size: 12px;
                margin-top: 20px;
                border: 0;
                font-size: 12px;
                margin: 10px 0 0;
                border-spacing: 0;
                border-collapse: collapse;

                tbody {
                    margin-top: 20px;
                    tr {
                        th {
                            width: 125px;
                            padding: 5px 20px 5px 5px;
                            height: 21px;
                            line-height: 21px;
                            font-weight: normal;
                            color: #353535;
                        }
                        td {
                            padding: 4px 10px 4px 0;
                            vertical-align: top;

                            select {
                                width: 100%;
                                height: 34px !important;
                                line-height: 34px !important;
                                font-size: 12px;
                                color: #353535;
                                border: 1px solid #ddd !important;
                                padding: 0 20px 0 10px !important;
                            }
                        }
                    }
                }

                .product-color {
                    margin: 15px 0;
                    display: flex;
                    justify-content: space-between;

                    .title {
                        display: inline-block;
                        width: 25%;
                    }

                    .con {
                        display: inline-block;
                        width: auto;

                        select {
                            height: 20px;
                            line-height: 20px;
                            border: 1px solid #cccccc;
                            padding-left: 2px;
                            border-radius: 2px;
                        }
                    }
                }

                .product-size {
                    margin: 15px 0;
                    display: flex;
                    justify-content: space-between;

                    .title {
                        display: inline-block;
                        width: 25%;
                    }

                    .con {
                        display: inline-block;
                        width: auto;

                        select {
                            height: 20px;
                            line-height: 20px;
                            border: 1px solid #cccccc;
                            padding-left: 2px;
                            border-radius: 2px;
                        }
                    }
                }

                .product-cnt {
                    margin: 15px 0;
                    display: flex;
                    justify-content: space-between;

                    .title {
                        display: inline-block;
                        width: 25%;
                    }

                    .con {
                        display: inline-block;
                        vertical-align: middle;
                        display: flex;

                        input {
                            width: 35px;
                            height: 25px;
                            line-height: 20px;
                            border: 1px solid #cccccc;
                            border-top-left-radius: 2px;
                            border-bottom-left-radius: 2px;
                            padding-left: 2px;
                        }

                        .cnt-btn {
                            display: flex;
                            flex-direction: column;

                            i {
                                background: transparent;
                                outline: none;
                                border: 1px solid #cccccc;
                                width: 25px;
                                height: 12.5px;
                                text-align: center;
                                vertical-align: middle;
                                border-top-right-radius: 2px;
                                border-bottom-right-radius: 2px;
                                border-left: none;
                                cursor: pointer;

                                &::before {
                                    font-size: 10px;
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                }
            }

            .option-products {
                font-size: 12px;
                margin: 21px 0 0;
                color: #757575;

                table {
                    width: 100%;
                    tbody {
                        tr {
                            td {
                                padding: 0 10px 0 0;
                                font-weight: normal;
                                line-height: 21px;
                                border-top: 1px solid #ddd;
                                padding: 14px 4px 12px;
                                color: #353535;
                                span {
                                    color: #757575;
                                }

                                .option-products__price {
                                    font-weight: normal;
                                    line-height: 18px;
                                    color: #222;
                                }

                                .quantity-controller {
                                    display: flex;

                                    .quantity-input {
                                        width: 30px;
                                        height: 20px;
                                        line-height: 20px;
                                        border: 1px solid #cccccc;
                                        border-top-left-radius: 2px;
                                        border-bottom-left-radius: 2px;
                                        padding-left: 2px;
                                    }

                                    .quantity-control-btn {
                                        display: flex;
                                        flex-direction: column;

                                        i {
                                            background: transparent;
                                            outline: none;
                                            border: 1px solid #cccccc;
                                            width: 20px;
                                            height: 10px;
                                            text-align: center;
                                            vertical-align: middle;
                                            border-top-right-radius: 2px;
                                            border-bottom-right-radius: 2px;
                                            border-left: none;
                                            cursor: pointer;

                                            &::before {
                                                font-size: 10px;
                                                vertical-align: top;
                                            }
                                        }
                                    }

                                    .option-delete-btn {
                                        display: inline-block;
                                        margin-top: 2px;
                                        margin-left: 15px;
                                        font-size: 15px;
                                        cursor: pointer;
                                        color: #bebebe;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .total-box {
                margin: 0;
                padding: 25px 4px 25px;
                color: #333;
                border-top: 1px solid #ddd;
                vertical-align: middle;
                background: #fff;
                text-align: right;
                font-size: 12px;
                color: #000;

                strong span {
                    font-style: normal;
                    font-size: 17px;
                    padding: 0 5px 0 20px;
                }
            }

            .btn-inner {
                .buy-btn {
                    button {
                        display: inline-block;
                        border: 1px solid transparent;
                        border-radius: 0;
                        line-height: 18px;
                        vertical-align: middle;
                        word-spacing: -0.5px;
                        text-align: center;
                        color: #fff;
                        background-color: #151515;
                        width: 100%;
                        padding: 14px;
                        font-size: 12px;
                        letter-spacing: 1px;

                        &:hover {
                            background-color: #474747;
                        }
                    }
                }

                .cart-btn {
                    button {
                        display: inline-block;
                        border: 1px solid #e2e2e2;
                        border-radius: 0;
                        line-height: 18px;
                        vertical-align: middle;
                        word-spacing: -0.5px;
                        text-align: center;
                        color: #000;
                        background-color: #fff;
                        width: 100%;
                        padding: 14px;
                        font-size: 12px;
                        letter-spacing: 1px;

                        &:hover {
                            border: 1px solid black !important;
                        }
                    }
                }
            }
        }
    }

    .product-additional {
        width: 90%;
        margin: 100px auto 0;

        .product-review-warp {
            .product-review-header {
                h3 {
                    padding: 0 10px 0 9px;
                    font-size: 17px;
                    color: #222222;
                    text-align: center;
                    margin-bottom: 25px;
                    font-weight: bold;
                }
            }

            .product-review-body {
                .review-list-container {
                    .table-wrapper {
                        .base-table {
                            .base-table__head {
                                .base-table__row {
                                    .base-table__header-cell {
                                        font-weight: bold;
                                        font-size: 11px;
                                        color: #353535;
                                    }
                                }
                            }
                            .base-table__body {
                                .base-table__row {
                                    .base-table__cell {
                                        .rate {
                                            display: inline-block;

                                            input[type="radio"] {
                                                display: none;
                                            }

                                            label {
                                                float: right;
                                                color: #ddd;

                                                &:before {
                                                    display: inline-block;
                                                    font-size: 1rem;
                                                    padding: 0.3rem 0.2rem;
                                                    margin: 0;
                                                    cursor: pointer;
                                                    font-family: FontAwesome;
                                                    content: "\f005 ";
                                                }
                                            }

                                            .half:before {
                                                content: "\f089 ";
                                                position: absolute;
                                            }

                                            input:checked ~ label {
                                                color: #f73c32 !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .button-container {
                    margin: 20px 0;
                    display: flex;
                    justify-content: end;
                    align-items: center;

                    button {
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}
