.order-mng-body {
    width: 90%;
    margin: 0 auto;

    .order-list-container {
        width: 100%;
        overflow-x: auto;

        table {
            min-width: 810px;

            tbody {
                tr {
                    td {
                        height: 80px;

                        a {
                            width: 90px;
                            margin: 1px 0;
                        }

                        a:hover {
                            text-decoration: underline;
                            color: rgb(107, 107, 107);
                        }

                        button {
                            font-size: 12px !important;
                            padding: 0 !important;
                        }

                        &.thumb {
                            img {
                                width: 80px;
                                height: 110px;
                            }
                        }

                        &.product {
                            .name a {
                                color: #353535 !important;
                            }

                            .option {
                                color: #757575;
                                margin-top: 9px;
                            }
                        }

                        &.left {
                            text-align: left;
                        }

                        &.left-top {
                            text-align: left;
                            vertical-align: top;
                        }
                    }
                }
            }
        }
    }

    .search-input-container {
        @include search-input-container();
    }
}

@media (max-width:1200px) {
    .order-mng-body {
        width: 100%;
    }
}