<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/defaultLayout.html :: head"></div>
    <!-- 사용자 JS -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
    <main>
        <div th:replace="/layouts/defaultLayout.html :: sidebar"></div>

        <article class="content">
            <div th:replace="/layouts/defaultLayout.html :: nav"></div>

            <!-- item_dtl section -->
            <section id="item_dtl">
                <div class="container item_dtl">
                    <div class="item_dtl_header">
                        <h2>ITEM DETAIL</h2>
                        <div class="divider"></div>
                    </div>
                    <div class="item_dtl_body mt-5">
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto img">
                                <div class="main_img_box">
                                    <img id="image_box" class="main_img" th:src="${item.itemImgDtoList[0].imgUrl}"
                                        alt="">
                                </div>
                                <div class="thumb_img_box">
                                    <img class="thumb_img" th:src="${item.itemImgDtoList[0].imgUrl}"
                                        onclick="myFunction(this)" alt="img">
                                    <img class="thumb_img" th:src="${item.itemImgDtoList[1].imgUrl}"
                                        onclick="myFunction(this)" alt="img">
                                </div>
                            </div>

                            <div class="col-md-auto info">
                                <div class="item_title">
                                    <h3 th:text="${item.itemNm}">Black Coat</h3>
                                </div>
                                <div class="item_desc">
                                    <th:block th:utext="${item.itemDetail}"></th:block>
                                </div>

                                <div class="item_price">
                                        <div class="title">
                                            <span>판매가</span>
                                        </div>
                                        <div class="con">
                                            <span th:if="${item.discount == 0}" th:text="|${#numbers.formatInteger(item.price, 0, 'COMMA')}원|">가격</span>
                                            <span th:if="${item.discount > 0}" style="text-decoration: line-through" th:text="|${#numbers.formatInteger(item.price, 0, 'COMMA')}원|">가격</span>
                                        </div>
                                </div>

                                <th:block th:if="${item.discount > 0}">
                                    <div class="discount_price">
                                        <div class="title">
                                            <span>할인판매가</span>
                                        </div>
                                        <div class="con">
                                            <span th:text="|${#numbers.formatInteger(item.price * (1 - item.discount), 0, 'COMMA')}원|">가격</span>
                                        </div>
                                        <div class="discount_rate">
                                            <span th:text="${#numbers.formatInteger(item.discount * 100, 1, 'COMMA')} + '%'"></span>
                                        </div>
                                    </div>
                                </th:block>

                                <div class="point">
                                    <div class="title">
                                        <span>적립 포인트</span>
                                    </div>
                                    <div class="con">
                                        <span class="total_point"></span>
                                    </div>
                                </div>

                                <div class="item_option">
<!--                                    <div class="item_color">-->
<!--                                        <div class="title">-->
<!--                                            <span>색상</span>-->
<!--                                        </div>-->
<!--                                        <div class="con">-->
<!--                                            <select>-->
<!--                                                <option selected>- [필수] 옵션을 선택해 주세요 -</option>-->
<!--                                                <option value="1">블랙</option>-->
<!--                                                <option value="2">챠콜</option>-->
<!--                                                <option value="3">그레이</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="item_size">-->
<!--                                        <div class="title">-->
<!--                                            <span>사이즈</span>-->
<!--                                        </div>-->
<!--                                        <div class="con">-->
<!--                                            <select>-->
<!--                                                <option selected>- [필수] 옵션을 선택해 주세요 -</option>-->
<!--                                                <option value="1">S</option>-->
<!--                                                <option value="2">M</option>-->
<!--                                                <option value="3">L</option>-->
<!--                                                <option value="4">XL</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="item_cnt">
                                        <div class="title">
                                            <span>주문 수량</span>
                                        </div>
                                        <div class="con">
                                            <input class="order_cnt_input" type="text" value="1" onchange="changeCount(this)">
                                            <div class="cnt_btn">
                                                <i class="xi-caret-up-min" onclick="changeCountBtn('plus')"></i>
                                                <i class="xi-caret-down-min" onclick="changeCountBtn('minus')"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="total_box">
                                    <strong>
                                        <em class="total_price" th:text="|${#numbers.formatInteger(item.price, 1, 'COMMA')}원|">총 가격</em>
                                    </strong>
                                    <em class="total_order_cnt"></em>
                                </div>
                                <div class="btn_inner">
                                    <div class="buy_btn">
                                        <button type="button" onclick="order()">BUY NOW</button>
                                    </div>
                                    <div class="cart_btn">
                                        <button type="button" onclick="addCart()">CART</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <form action="/order" method="get" class="order_form">
                <input type="hidden" name="orders[0].itemId" th:value="${item.id}">
                <input type="hidden" name="orders[0].count" value="">
            </form>

            <div th:replace="/layouts/defaultLayout.html :: footer"></div>
        </article>
    </main>

    <script th:inline="javascript">
        $(document).ready(function () {
            /* 총 주문 결제 금액 삽입 */
            let price = [[${ item.price }]];
            let discount = [[${ item.discount }]];
            let totalPrice = Math.floor((price * (1 - discount)));
            $('.total_price').html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
            $(".total_order_cnt").html('(1개)');

            /* 적립 포인트 출력 */
            let salePrice = price * (1 - discount);
            let point = Math.floor(salePrice * 0.05);
            $(".total_point").text(point.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
        });

        /* 상품 구매 */
        function order() {
            if (confirm("선택하신 상품을 주문하시겠습니까?")) {
                let count = $(".order_cnt_input").val()
                $(".order_form").find("input[name='orders[0].count']").val(count);
                $(".order_form").submit();
            } else {
                return false;
            }
        }

        /* 상품 이미지 썸네일 */
        function myFunction(smallImg) {
            let fullImg = document.querySelector('#image_box');
            fullImg.src = smallImg.src;
        }

        /* 수량 직접 입력 시 동작 */
        function changeCount(obj) {
            let minCnt = 1;
            let maxCnt = [[${ item.stockNumber }]]; // 현재 재고
            let thisCnt = $('.order_cnt_input');
            let countVal = thisCnt.val();

            if (countVal < minCnt) {
                alert('수량은 1개 이상 입력해 주세요.');
                thisCnt.val(1);
                totalOrderCnt.html('('+1+'개)');
                getOrderTotalPrice();
                return;
            } else if ( countVal > maxCnt ) {
                alert('죄송합니다. 재고가 부족합니다.');
                thisCnt.val(maxCnt);
                totalOrderCnt.html('('+maxCnt+'개)');
                getOrderTotalPrice();
                return;
            }

            /* 적립 포인트 출력 */
            let price = [[${ item.price }]];
            let discount = [[${ item.discount }]];
            let salePrice = (price * (1 - discount)) * countVal;
            let point = Math.floor(salePrice * 0.05);
            $(".total_point").text(point.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");

            /* 총 주문 금액 출력 */
            getOrderTotalPrice();
            $(".total_order_cnt").html('('+countVal+'개)');
        }

        /* 수량 버튼 클릭 시 동작 */
        function changeCountBtn(type) {
            let minCnt = 1;
            let thisCntVal = $('.order_cnt_input').val() * 1;
            let maxCnt = [[${ item.stockNumber }]];

            if (type === 'minus') {
                thisCntVal -= 1;
                if (thisCntVal < minCnt) {
                    alert('수량은 1개 이상 입력해 주세요.');
                    return;
                }
            } else if (type === 'plus') {
                thisCntVal += 1;
                if (thisCntVal > maxCnt) {
                    alert('죄송합니다. 재고가 부족합니다.');
                    return;
                }
            }

            /* 적립 포인트 출력 */
            let price = [[${ item.price }]];
            let discount = [[${ item.discount }]];
            let salePrice = (price * (1 - discount)) * thisCntVal;
            let point = Math.floor(salePrice * 0.05);
            $(".total_point").text(point.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");

            /* 총 주문 금액 출력 */
            let totalPrice = Math.floor((price * (1 - discount)) * thisCntVal);
            $(".order_cnt_input").val(thisCntVal);
            $(".total_price").html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '원');
            $(".total_order_cnt").html('(' + thisCntVal + '개)');
        }

        /* 상품 가격 출력 */
        function getOrderTotalPrice() {
            let countVal = $('.order_cnt_input').val();
            let price = [[${ item.price }]];
            let discount = [[${ item.discount }]];
            let totalPrice = Math.floor((price * (1 - discount)) * countVal);
            $('.total_price').html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
        }

        /* 장바구니 추가 */
        function addCart() {
            let paramData = {
                itemId: [[${item.id}]],
                count : $(".order_cnt_input").val()
            };

            let param = JSON.stringify(paramData);

            $.ajax({
                url : "/cart",
                type : "POST",
                contentType : "application/json",
                data : param,
                dataType : "json",
                cache : false,
                success: function (result, status) {
                    alert("장바구니에 상품이 담겼습니다.");
                    location.href = '/cart';
                },
                error: function (request, status, error) {
                    alert('로그인 후 이용해주세요.');
                    location.href = '/login';
                },
            })
        }

    </script>
</body>

</html>