@import "../../../../abstracts/variables";

.qa-mng-body {
    .qa-list-container {
        overflow-x: auto;

        table {
            min-width: 1300px;

            tbody {
                tr {
                    td {
                        i {
                            font-size: 16px;
                            vertical-align: top;
                            padding-top: 1px;
                            margin-left: 3px;
                        }

                        .xi-reply {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    .button-container {
        @include button-container();
    }

    .search-input-container {
        @include search-input-container();
    }
}