<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="layouts/default-layout.html :: head"></div>
</head>

<body>
    <main class="def-main-area">
        <div th:replace="layouts/default-layout.html :: sidebar"></div>

        <article class="def-content-area">
            <div th:replace="layouts/default-layout.html :: nav"></div>

            <!-- section start -->
            <section class="def-section-area">
                <div class="container-fluid">

                    <div class="section-header">
                        <h2>CART</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section-body cart-body row">
                        <!-- cart-products-container -->
                        <div class="cart-products-container col-11">
                            <div class="table-wrapper">
                                <table class="base-table base-table--multi-columns">
                                    <thead class="base-table__head">
                                        <tr class="base-table__row">
                                            <th class="base-table__header-cell" style="width: 80px;" scope="col">
                                                <input class="base-table__checkbox" type="checkbox" id="all-check" name="all-check">
                                            </th>
                                            <th class="base-table__header-cell" style="width: 80px;" scope="col">이미지</th>
                                            <th class="base-table__header-cell" style="width: auto;" scope="col">상품정보</th>
                                            <th class="base-table__header-cell" style="width: 110px;" scope="col">가격</th>
                                            <th class="base-table__header-cell" style="width: 110px;" scope="col">수량</th>
                                            <th class="base-table__header-cell" style="width: 110px;" scope="col">상품주문금액</th>
                                            <th class="base-table__header-cell" style="width: 130px;" scope="col">배송비</th>
                                            <th class="base-table__header-cell" style="width: 130px;" scope="col">선택</th>
                                        </tr>
                                    </thead>

                                    <tbody class="base-table__body">
                                        <tr class="base-table__row" th:if="${#lists.isEmpty(cartProducts)}">
                                            <td class="base-table__cell base-table__cell--empty" colspan="8">
                                                <span class="base-table__message">장바구니가 비어있습니다.</span>
                                            </td>
                                        </tr>

                                        <tr class="base-table__row" th:each="cartProduct : ${cartProducts}">
                                            <td class="base-table__cell base-table__cell--info">
                                                <input type="checkbox" class="cart-check" name="cart-check" th:value="${cartProduct.cartProductId}">
                                                <!-- js에서 활용하기 위한 데이터 -->
                                                <input type="hidden" class="productId-hidden-input" th:value="${cartProduct.productId}" th:id="${'hidden-product-id-' + cartProduct.cartProductId}">
                                                <input type="hidden" class="price-hidden-input" th:value="${cartProduct.price}" th:id="${'hidden-price-id-' + cartProduct.cartProductId}">
                                                <input type="hidden" class="sale-price-hidden-input" th:value="${cartProduct.salePrice}" th:id="${'hidden-sale-price-' + cartProduct.cartProductId}">
                                                <input type="hidden" class="order-quantity-hidden-input" th:value="${cartProduct.orderQuantity}" th:id="${'hidden-order-quantity-' + cartProduct.cartProductId}">
                                                <input type="hidden" class="color-hidden-input" th:value="${cartProduct.color}" th:id="${'hidden-color-' + cartProduct.cartProductId}">
                                                <input type="hidden" class="size-hidden-input" th:value="${cartProduct.size}" th:id="${'hidden-size-' + cartProduct.cartProductId}">
                                            </td>
                                            <td class="base-table__cell base-table__cell--thumbnail">
                                                <a th:href="${'/product/' + cartProduct.productId}">
                                                    <img class="base-table__image" th:src="${cartProduct.imageUrl}">
                                                </a>
                                            </td>
                                            <td class="base-table__cell left top pl20">
                                                <a class="base-table__product-name" th:href="${'/product/' + cartProduct.productId}" th:text="${cartProduct.productName}"></a>
                                                <div class="base-table__option-wrap mt5">
                                                    <th:block th:if="${cartProduct.color == 'N/A'}">[옵션: X]</th:block>
                                                    <th:block th:if="${cartProduct.color != 'N/A' && cartProduct.size == 'N/A'}">[옵션: <span th:text="${cartProduct.color}"></span>]</th:block>
                                                    <th:block th:if="${cartProduct.color != 'N/A' && cartProduct.size != 'N/A'}">[옵션: <span th:text="${cartProduct.color}"></span>/<span th:text="${cartProduct.size}"></span> size]</th:block>
                                                </div>
                                            </td>
                                            <td class="base-table__cell">
                                                <strong class="displayblock" th:text="|${#numbers.formatInteger(cartProduct.price, 0, 'COMMA')}원|" th:classappend="${cartProduct.discount > 0} ? 'original-price' : ''"></strong>
                                                <strong th:if="${cartProduct.discount > 0}" th:text="|${#numbers.formatInteger(cartProduct.salePrice, 0, 'COMMA')}원|"></strong>
                                            </td>
                                            <td class="base-table__cell">
                                                <div class="base-table__cnt-wrapper">
                                                    <input class="base-table__order-quantity-input" th:id="'order-quantity-' + ${cartProduct.cartProductId}" type="text" th:data-product-id="${cartProduct.cartProductId}" th:value="${cartProduct.orderQuantity}" th:data-stock-quantity="${cartProduct.stockQuantity}">
                                                    <div class="base-table__cnt-btn-wrapper">
                                                        <i class="base-table__order-quantity-button xi-caret-up-min" th:data-id="${cartProduct.cartProductId}" data-option="up"></i>
                                                        <i class="base-table__order-quantity-button xi-caret-down-min" th:data-id="${cartProduct.cartProductId}" data-option="down"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="base-table__cell">
                                                <strong th:id="'price-' + ${cartProduct.cartProductId}" th:data-price="${cartProduct.price}"
                                                        th:data-discount="${cartProduct.discount}" th:text="|${#numbers.formatInteger(cartProduct.totalPrice, 0, 'COMMA')}원|">
                                                </strong>
                                            </td>
                                            <td class="base-table__cell base-table__cell--delivery-price">
                                                <span class="displayblock">3,000원</span>
                                                <span>조건</span>
                                            </td>
                                            <td class="base-table__cell">
                                                <button class="button button--black button--90x30 single-order-btn mb5" type="button" th:data-cart-product-id="${cartProduct.cartProductId}" th:data-order-quantity="${cartProduct.orderQuantity}" th:data-color="${cartProduct.color}" th:data-size="${cartProduct.size}">주문하기</button>
                                                <button class="button button--white button--90x30 delete-cart-product" type="button" th:data-cart-product-id="${cartProduct.cartProductId}">삭제</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="button-wrapper">
                                <button class="button button--white button--100x30 delete-selected-products">선택상품삭제</button>
                                <button class="button button--white button--100x30 delete-all-products">장바구니비우기</button>
                            </div>
                        </div>

                        <!-- payment-details-container -->
                        <div class="payment-details-container col-11">
                            <div class="table-wrapper">
                                <table class="base-table base-table--payment-info">
                                    <thead class="base-table__head">
                                        <tr class="base-table__row">
                                            <th class="base-table__header-cell" style="width: 17%;" scope="col">총 상품금액</th>
                                            <th class="base-table__header-cell" style="width: 19%;" scope="col">총 배송비</th>
                                            <th class="base-table__header-cell" style="width: auto;" scope="col">결제예정금액</th>
                                            <th class="base-table__header-cell" style="width: 17%;" scope="col">적립예정금액</th>
                                        </tr>
                                    </thead>

                                    <tbody class="base-table__body">
                                        <tr class="base-table__row">
                                            <td class="base-table__cell">
                                                <span class="total-product-price">0</span>원
                                            </td>
                                            <td class="base-table__cell">
                                                <span class="order-delivery-price">+ 0</span>원
                                            </td>
                                            <td class="base-table__cell">
                                                <span class="payment-price">= 0</span>원
                                            </td>
                                            <td class="base-table__cell">
                                                <span class="earned-points">0</span>원
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- button-container -->
                        <div class="button-container col-11">
                            <button type="button" class="button button--black button--130x40 all-products-order">전체상품주문</button>
                            <button type="button" class="button button--white button--130x40 order-selected-products">선택상품주문</button>
                            <span>
                            <button type="button" class="button button--white button--130x40 resume-btn" onclick="location.href='/'">쇼핑계속하기</button>
                        </span>
                        </div>

                        <!-- usage-guide-container -->
                        <div class="usage-guide-container col-11">
                            <h3>이용안내</h3>
                            <div class="inner">
                                <h4>장바구니 이용안내</h4>
                                <ol>
                                    <li class="product1">
                                        [전체 상품 주문] 버튼을 누르시면 모든 상품에 대한 주문/결제가 이루어집니다.

                                    </li>
                                </ol>
                                <ol>
                                    <li class="product2">
                                        [선택 상품 주문] 버튼을 통해 원하시는 상품만 선택하여 주문하실 수 있습니다.
                                    </li>
                                </ol>
                                <ol>
                                    <li class="product3">
                                        [쇼핑계속하기] 버튼을 누르시면 쇼핑을 계속 하실 수 있습니다.
                                    </li>
                                </ol>
                                <ol>
                                    <li class="product4">
                                        총 상품 금액(할인 적용된 금액)이 30,000원 이상인 경우 배송비가 무료입니다.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- 주문 form -->
            <form th:action="@{/orders/new}" method="get" id="orderForm">
            </form>

            <div th:replace="layouts/default-layout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="layouts/default-layout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script th:inline="javascript">
        let orderForm = $("#orderForm");

        $(function() {
            initialize(); // 페이지 로드 시 실행되는 초기화 함수

            // 전체 선택/해제 체크박스 클릭 이벤트 핸들러
            $("#all-check").change(checkAll);

            // 단일 상품 주문 버튼 클릭 이벤트 핸들러
            $(".single-order-btn").click(orderSingleProduct);

            // 선택 상품 주문 버튼 클릭 이벤트 핸들러
            $(".order-selected-products").click(orderSelectedProducts);

            // 전체 상품 주문 버튼 클릭 이벤트 핸들러
            $(".all-products-order").click(orderAllProducts);

            // 장바구니 상품 삭제 버튼 클릭 이벤트 핸들러
            $(".del-btn").click(deleteCartProduct);

            // 수량 입력창 체인지 이벤트 핸들러
            $(".base-table__order-quantity-input").change(handleOrderQuantityChange);

            // 수량 조절 버튼 클릭 이벤트 핸들러
            $(".base-table__order-quantity-button").click(handleOrderQuantityButtonClick);

            // 단일 상품 삭제 버튼 클릭 이벤트 핼러
            $(".delete-cart-product").click(handleDeleteCartProductButton);

            // 선택 상품 삭제 버튼 클릭 이벤트 핸들러
            $(".delete-selected-products").click(handleDeleteSelectedProductsButton);

            // 장바구니 비우기 버튼 클릭 이벤트 핸들러
            $(".delete-all-products").click(handleDeleteAllProductsButton);
        });

        /* 페이지 로드 시 실행되는 초기화 함수 */
        function initialize() {
            // 상품 금액, 배송비, 할인 합계, 최종 결제 금액, 적립 예정 금액 출력
            let cartCheck = $("input[name=cart-check]");
            cartCheck.prop("checked", true);
            refreshPaymentInfo();

            cartCheck.change(function () {
                refreshPaymentInfo();
            })
        }

        /* 단일 상품 주문 함수 */
        function orderSingleProduct() {
            let cartProductId = $(this).attr("data-cart-product-id");
            let productIdVal = $("#hidden-product-id-" + cartProductId).val();
            let orderQuantityVal = $("#hidden-order-quantity-" + cartProductId).val();
            let color = $(this).attr("data-color");
            let size = $(this).attr("data-size");

            let formContents = "<input name='orderProducts[0].productId' type='hidden' value='" + productIdVal + "'>";
            formContents += "<input name='orderProducts[0].quantity' type='hidden' value='" + orderQuantityVal + "'>";
            formContents += "<input name='orderProducts[0].color' type='hidden' value='" + color + "'>";
            formContents += "<input name='orderProducts[0].size' type='hidden' value='" + size + "'>";

            orderForm.html(formContents);
            orderForm.submit();
        }

        /* 선택 상품 주문 함수 */
        function orderSelectedProducts() {
            let formContents = "";
            let orderNum = 0;

            if (confirm("선택하신 상품을 주문하시겠습니까?")) {
                let checkOrderQuantity = 0;
                $(".base-table__cell--info").each(function (index, element) {
                    if ($(element).find(".cart-check").is(":checked")) {
                        let productId = $(element).find(".productId-hidden-input").val();
                        let color = $(element).find(".color-hidden-input").val();
                        let size = $(element).find(".size-hidden-input").val();
                        let orderQuantity = $(element).find(".order-quantity-hidden-input").val();

                        formContents += "<input name='orderProducts[" + orderNum + "].productId' type='hidden' value='" + productId + "'>";
                        formContents += "<input name='orderProducts[" + orderNum + "].color' type='hidden' value='" + color + "'>";
                        formContents += "<input name='orderProducts[" + orderNum + "].size' type='hidden' value='" + size + "'>";
                        formContents += "<input name='orderProducts[" + orderNum + "].orderQuantity' type='hidden' value='" + orderQuantity + "'>";

                        orderNum++;
                        checkOrderQuantity++;
                    }
                });

                if (checkOrderQuantity === 0) {
                    alert("1개 이상의 상품을 선택해주세요.");
                    return false;
                }

                orderForm.html(formContents);
                orderForm.submit();
            }
        }

        /* 전체 상품 주문 함수 */
        function orderAllProducts() {
            let formContents = "";
            let orderNum = 0;

            if (confirm("전체 상품을 주문하시겠습니까?")) {
                $(".base-table__cell--info").each(function (index, element) {
                    let productId = $(element).find(".productId-hidden-input").val();
                    let color = $(element).find(".color-hidden-input").val();
                    let size = $(element).find(".size-hidden-input").val();
                    let orderQuantity = $(element).find(".order-quantity-hidden-input").val();

                    formContents += "<input name='orderProducts[" + orderNum + "].productId' type='hidden' value='" + productId + "'>";
                    formContents += "<input name='orderProducts[" + orderNum + "].color' type='hidden' value='" + color + "'>";
                    formContents += "<input name='orderProducts[" + orderNum + "].size' type='hidden' value='" + size + "'>";
                    formContents += "<input name='orderProducts[" + orderNum + "].orderQuantity' type='hidden' value='" + orderQuantity + "'>";

                    orderNum++;
                });

                orderForm.html(formContents);
                orderForm.submit();
            }
            return false;
        }

        /* 단일 상품 삭제 버튼 핸들러 */
        function handleDeleteCartProductButton() {
            let cartProductIds = [];
            let cartProductId = $(this).attr("data-cart-product-id");
            cartProductIds.push(cartProductId);
            deleteCartProduct(cartProductIds, "선택하신 상품을 삭제하시겠습니까?");
        }

        /* 선택 상품 삭제 버튼 핸들러 */
        function handleDeleteSelectedProductsButton() {
            let cartProductIds = [];
            $('.base-table__cell--info').each(function() {
                let checkbox = $(this).find('input[name="cart-check"]');

                if (checkbox.is(':checked')) {
                    cartProductIds.push(checkbox.val());
                }
            });
            if (cartProductIds.length === 0) {
                alert("상품을 선택해 주세요.");
                return false;
            }
            deleteCartProduct(cartProductIds, "선택하신 상품을 삭제하시겠습니까?");
        }

        /* 장바구니 비우기 버튼 핸들러 */
        function handleDeleteAllProductsButton() {
            let cartProductIds = [];
            $('.base-table__cell--info').each(function() {
                let cartProductId = $(this).find('input[name="cart-check"]').val();
                cartProductIds.push(cartProductId);
            });
            if (cartProductIds.length === 0) {
                alert("장바구니에 상품이 없습니다.");
                return false;
            }
            deleteCartProduct(cartProductIds, "장바구니를 비우시겠습니까?");
        }

        /* 장바구니 상품 삭제 함수 */
        function deleteCartProduct(cartProductIds, confirmMessage) {
            if (confirm(confirmMessage)) {
                $.ajax({
                    url: "/cart/delete",
                    type: "DELETE",
                    contentType: "application/json", // JSON 형식으로 전송
                    data: JSON.stringify(cartProductIds), // 배열을 JSON 형식으로 변환하여 전송
                    dataType: "text",
                    cache: false,
                    success: function () {
                        location.reload(true);
                    },
                    error: function (xhr) {
                        if (xhr.status === 200) {
                            alert('로그인 후 이용해주세요.');
                            location.href = "/login";
                        } else {
                            alert(xhr.responseText);
                        }
                    },
                })
            }
        }

        /* 전체 선택/해제 체크박스 동작 함수 */
        function checkAll() {
            let isChecked = $("#all-check").prop("checked");
            $("input[name=cart-check]").prop("checked", isChecked);
            refreshPaymentInfo();
        }

        /* 상품 개수 조절 함수 (입력창) */
        function handleOrderQuantityChange() {
            let cartProductId = $(this).attr("data-product-id");
            let price = $("#price-" + cartProductId);
            let priceVal = price.data("price");
            let orderQuantity = $('#order-quantity-' + cartProductId);
            let minOrderQuantity = 1;
            let stockQuantity = orderQuantity.attr("data-stock-quantity") * 1;
            let hiddenOrderQuantity = $("#hidden-order-quantity-" + cartProductId);
            let orderQuantityVal = $(this).val();
            let totalPrice = Math.floor((priceVal * (1 - price.attr("data-discount"))) * orderQuantityVal);

            hiddenOrderQuantity.val(orderQuantityVal);
            if (orderQuantityVal < minOrderQuantity) {
                alert('수량은 1개 이상 입력해 주세요.');
                orderQuantity.val(1);
                hiddenOrderQuantity.val(1);
                price.html(Math.floor((priceVal * (1 - price.attr("data-discount")))).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
                refreshPaymentInfo();
                return;
            } else if (orderQuantityVal > stockQuantity) {
                alert('죄송합니다. 재고가 부족합니다.');
                orderQuantity.val(stockQuantity);
                hiddenOrderQuantity.val(stockQuantity);
                price.html(Math.floor((priceVal * (1 - price.attr("data-discount"))) * stockQuantity).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
                refreshPaymentInfo();
                return;
            }

            price.html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
            updateProductOrderQuantityInDatabase(cartProductId, orderQuantityVal);
            refreshPaymentInfo();
        }

        /* 상품 개수 조절 함수 (버튼) */
        function handleOrderQuantityButtonClick() {
            let cartProductId = $(this).attr("data-id");
            let orderQuantity = $("#order-quantity-" + cartProductId);
            let hiddenOrderQuantity = $("#hidden-order-quantity-" + cartProductId);
            let price = $("#price-" + cartProductId);
            let stock = $("#stock-" + cartProductId);
            let option = $(this).attr("data-option");

            let orderQuantityVal = Number(orderQuantity.val());
            let minCnt = 1;
            let maxCnt = Number(stock.attr("data-stock"));
            let priceVal = price.data("price");

            if (option === 'down') {
                orderQuantityVal -= 1;
                hiddenOrderQuantity.val(orderQuantityVal);
                if (orderQuantityVal < minCnt) {
                    alert('수량은 1개 이상 입력해 주세요.');
                    return;
                }
            } else if (option === 'up') {
                orderQuantityVal += 1;
                hiddenOrderQuantity.val(orderQuantityVal);
                if (orderQuantityVal > maxCnt) {
                    alert('죄송합니다. 재고가 부족합니다.');
                    return;
                }
            }

            let totalPrice = Math.floor((priceVal * (1 - price.attr("data-discount"))) * orderQuantityVal);
            orderQuantity.val(orderQuantityVal);
            price.html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
            updateProductOrderQuantityInDatabase(cartProductId, orderQuantityVal);
            refreshPaymentInfo();
        }

        /* 상품 개수 DB 업데이트 함수 - 상품 개수 변경했을 때 값이 저장되기 위함 */
        function updateProductOrderQuantityInDatabase(cartProductId, orderQuantity) {
            $.ajax({
                url: "/cart/" + cartProductId + "?quantity=" + orderQuantity,
                type: "PATCH",
                dataType: "text",
                cache: false,
                success: function () {
                    console.log("cartProduct quantity update success");
                },
                error: function (xhr) {
                    if (xhr.status === 200) {
                        alert('로그인 후 이용해주세요.');
                        location.href = "/login";
                    } else {
                        alert(xhr.responseText);
                    }
                },
            })
        }

        /* 결제 관련 값 업데이트 */
        function refreshPaymentInfo() {
            let totalProductPrice = 0; // 총 상품 금액
            let orderDeliveryPrice = 3000; // 총 배송비
            let earnedPoints = 0; // 적립 예정 금액

            $("input[name=cart-check]:checked").each(function () {
                let cartProductId = $(this).val();
                let salePrice = Number($("#hidden-sale-price-" + cartProductId).val());
                let orderQuantity = Number($("#hidden-order-quantity-" + cartProductId).val());

                totalProductPrice += salePrice * orderQuantity;
                earnedPoints += Math.floor((salePrice * orderQuantity) * 0.03);
            });

            // 최종 결제 금액 3만원 이상 배송비 무료
            if (totalProductPrice >= 30000) {
                orderDeliveryPrice = 0;
            } else if (totalProductPrice === 0) {
                orderDeliveryPrice = 0;
            } else {
                orderDeliveryPrice = 3000;
            }

            $(".base-table__cell--delivery-price").each(function () {
                if (totalProductPrice >= 30000) {
                    $(this).html("무료");
                } else {
                    $(this).html("<span class='displayblock'>3,000원</span><span>조건</span>");
                }
            });

            // 주문 관련 금액 화면에 추가
            $(".total-product-price").html(totalProductPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
            $(".order-delivery-price").html('+ ' + orderDeliveryPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
            $(".payment-price").html('= ' + (totalProductPrice + orderDeliveryPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
            $(".earned-points").html(earnedPoints.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
        }

    </script>
</body>
</html>