<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layouts/defaultLayout.html :: head"></div>
</head>

<body>
    <main>
        <div th:replace="/layouts/defaultLayout.html :: sidebar"></div>

        <article class="content">
            <div th:replace="/layouts/defaultLayout.html :: nav"></div>

            <!-- cart section -->
            <section id="cart">
                <div class="container cart">
                    <div class="section_header">
                        <h2>CART</h2>
                        <div class="divider"></div>
                    </div>
                    <div class="cart_body mt-5">
                        <div class="table_wrap">
                            <table class="row_header_table">
                                <thead>
                                    <tr>
                                        <th style="width: 8%;" scope="col">
                                            <input type="checkbox" id="check_all" name="check_all" onclick="checkAll()">
                                            <label for="check_all">전체 선택</label>
                                        </th>
                                        <th style="width: 10%;" scope="col">이미지</th>
                                        <th style="width: auto;" scope="col">상품정보</th>
                                        <th style="width: 10%;" scope="col">가격</th>
                                        <th style="width: 10%;" scope="col">수량</th>
                                        <th style="width: 10%;" scope="col">상품주문금액</th>
                                        <th style="width: 10%;" scope="col">배송비</th>
                                        <th style="width: 10%;" scope="col">선택</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cartItem : ${cartItems}">
                                        <td class="cart_info">
                                            <input type="checkbox" class="cart_check" name="cart_check"
                                                th:value="${cartItem.cartItemId}">
                                            <input type="hidden" class="price_hidden_input"
                                                th:value="${cartItem.price}">
                                            <input type="hidden" class="salePrice_hidden_input"
                                                th:value="${cartItem.salePrice}">
                                            <input type="hidden" th:id="${'hiddenCount_' + cartItem.cartItemId}"
                                                class="count_hidden_input" th:value="${cartItem.count}">
                                            <input type="hidden" class="totalPrice_hidden_input"
                                                th:value="${cartItem.salePrice * cartItem.count}">
                                            <input type="hidden" class="point_hidden_input"
                                                th:value="${cartItem.point}">
                                            <input type="hidden" class="totalPoint_hidden_input"
                                                th:value="${cartItem.totalPoint}">
                                            <input type="hidden" th:id="${'hiddenItemId_' + cartItem.cartItemId}"
                                                class="itemId_hidden_input" th:value="${cartItem.itemId}">
                                        </td>
                                        <td class="thumb">
                                            <a th:href="${'/item/' + cartItem.itemId}">
                                                <img th:src="${cartItem.imgUrl}">
                                            </a>
                                        </td>
                                        <td class="product left_top">
                                            <strong class="name">
                                                <a th:href="${'/item/' + cartItem.itemId}"
                                                    th:text="${cartItem.itemNm}"></a>
                                            </strong>
                                            <div class="option">[옵션: 선택 X]</div>
                                        </td>
                                        <td class="item_price">
                                            <span th:if="${cartItem.discount == 0}"
                                                th:text="|${#numbers.formatInteger(cartItem.price, 0, 'COMMA')}원|"></span>
                                            <span th:if="${cartItem.discount > 0}" style="text-decoration: line-through"
                                                th:text="|${#numbers.formatInteger(cartItem.price, 0, 'COMMA')}원|"></span>
                                            <strong th:if="${cartItem.discount > 0}"
                                                th:text="|${#numbers.formatInteger(cartItem.salePrice, 0, 'COMMA')}원|"></strong>
                                        </td>
                                        <td>
                                            <div class="cnt_box">
                                                <input th:id="'count_' + ${cartItem.cartItemId}" class="order_cnt_input"
                                                    type="text" th:data-itemId="${cartItem.cartItemId}"
                                                    th:value="${cartItem.count}" onchange="changeCount(this)">
                                                <div class="cnt_btn">
                                                    <i th:data-id="${cartItem.cartItemId}" data-option="up"
                                                        class="xi-caret-up-min" onclick="changeCountBtn(this)"></i>
                                                    <i th:data-id="${cartItem.cartItemId}" data-option="down"
                                                        class="xi-caret-down-min" onclick="changeCountBtn(this)"></i>
                                                </div>
                                                <span th:id="'stock_' + ${cartItem.cartItemId}"
                                                    th:data-stock="${cartItem.stockNumber}"></span>
                                            </div>
                                        </td>
                                        <td class="total_price">
                                            <strong th:id="'price_' + ${cartItem.cartItemId}"
                                                th:data-price="${cartItem.price}"
                                                th:data-discount="${cartItem.discount}"
                                                th:text="|${#numbers.formatInteger(cartItem.totalPrice, 0, 'COMMA')}원|"></strong>
                                        </td>
                                        <td class="delivery_price">
                                            <span>2,500원</span>
                                            <span class="text">(30,000원 이상 무료)</span>
                                        </td>
                                        <td>
                                            <button th:data-id="${cartItem.cartItemId}"
                                                class="black_btn_w90_h30 order_btn" type="button">주문하기</button>
                                            <button th:data-id="${cartItem.cartItemId}" type="button"
                                                class="white_btn_w90_h30" onclick="deleteCartItem(this)">삭제</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="message_wrap" th:if="${#lists.isEmpty(cartItems)}">
                            <span class="message">장바구니가 비어있습니다.</span>
                        </div>

                        <div class="cart_total mt-5">
                            <div class="table-responsive small">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%;" scope="col">상품 금액</th>
                                            <th style="width: 15%;" scope="col">배송비</th>
                                            <th style="width: 15%;" scope="col">할인 합계</th>
                                            <th style="width: auto;" scope="col">최종 결제 금액</th>
                                            <th style="width: 15%;" scope="col">적립 예정 금액</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="order_total_price">0원</span>
                                            </td>
                                            <td>
                                                <span class="order_delivery_price">+ 0원</span>
                                            </td>
                                            <td>
                                                <span class="order_discount_price">- 0원</span>
                                            </td>
                                            <td>
                                                = <span class="total_amount">0원</span>
                                            </td>
                                            <td>
                                                = <span class="total_point">0원</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="cart_btn">
                        <button type="button" class="black_btn_w130_h40 all_items_order">전체상품주문</button>
                        <button type="button" class="white_btn_w130_h40 select_order">선택상품주문</button>
                        <span>
                            <button type="button" class="white_btn_w130_h40 resume_btn">쇼핑계속하기</button>
                        </span>
                    </div>
                    <div class="user_help">
                        <h3>이용안내</h3>
                        <div class="inner">
                            <h4>장바구니 이용안내</h4>
                            <ol>
                                <li class="item1">
                                    [전체 상품 주문] 버튼을 누르시면 모든 상품에 대한 주문/결제가 이루어집니다.

                                </li>
                            </ol>
                            <ol>
                                <li class="item2">
                                    [선택 상품 주문] 버튼을 통해 원하시는 상품만 선택하여 주문하실 수 있습니다.
                                </li>
                            </ol>
                            <ol>
                                <li class="item3">
                                    [쇼핑계속하기] 버튼을 누르시면 쇼핑을 계속 하실 수 있습니다.
                                </li>
                            </ol>
                            <ol>
                                <li class="item4">
                                    총 상품 금액(할인 적용된 금액)이 30,000원 이상인 경우 배송비가 무료입니다.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="/layouts/defaultLayout.html :: footer"></div>
        </article>
    </main>

    <!-- 주문 form -->
    <form action="/order" method="get" class="order_form">
    </form>

    <div th:replace="/layouts/defaultLayout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script th:inline="javascript">
        $(function() {
            /* 상품 금액, 배송비, 할인 합계, 최종 결제 금액, 적립 예정 금액 출력 */
            let checkInput = $("input[name=cart_check]");
            checkInput.prop("checked", true);
            getOrderTotalPrice();

            checkInput.change(function () {
                getOrderTotalPrice();
            })
        });

        /* 단일 상품 주문 버튼 */
        $(".order_btn").on("click", function () {
            let formContents;
            let cartItemId = $(this).attr("data-id");
            let itemIdVal = $("#hiddenItemId_" + cartItemId).val();
            let countVal = $("#hiddenCount_" + cartItemId).val();

            formContents = "<input name='orders[0].itemId' type='hidden' value='" + itemIdVal + "'>";
            formContents += "<input name='orders[0].count' type='hidden' value='" + countVal + "'>";

            $(".order_form").html(formContents);
            $(".order_form").submit();
        });

        /* 선택 상품 주문 버튼 */
        $(".select_order").on("click", function () {
            let formContents;
            let orderNum = 0;

            $(".cart_info").each(function (index, element) {
                if ($(element).find(".cart_check").is(":checked") === true) {

                    let itemId = $(element).find(".itemId_hidden_input").val();
                    let count = $(element).find(".count_hidden_input").val();

                    let itemIdInput = "<input name='orders[" + orderNum + "].itemId' type='hidden' value='" + itemId + "'>";
                    formContents += itemIdInput;

                    let countInput = "<input name='orders[" + orderNum + "].count' type='hidden' value='" + count + "'>";
                    formContents += countInput;

                    orderNum += 1;
                }
            });
            $(".order_form").html(formContents);
            $(".order_form").submit();
        });

        /* 전체 상품 주문 버튼 */
        $(".all_items_order").on("click", function () {
            let formContents;
            let orderNum = 0;

            $(".cart_info").each(function (index, element) {
                let itemId = $(element).find(".itemId_hidden_input").val();
                let count = $(element).find(".count_hidden_input").val();

                let itemIdInput = "<input name='orders[" + orderNum + "].itemId' type='hidden' value='" + itemId + "'>";
                formContents += itemIdInput;

                let countInput = "<input name='orders[" + orderNum + "].count' type='hidden' value='" + count + "'>";
                formContents += countInput;

                orderNum += 1;
            });
            $(".order_form").html(formContents);
            $(".order_form").submit();
        });

        function checkAll() {
            if ($("#check_all").prop("checked")) {
                $("input[name=cart_check]").prop("checked", true);
            } else {
                $("input[name=cart_check]").prop("checked", false);
            }
            getOrderTotalPrice();
        }

        /* 상품 금액, 배송비, 할인 합계, 최종 결제 금액, 적립 예정 금액 출력 */
        function getOrderTotalPrice() {
            let orderTotalPrice = 0; // 상품 금액
            let orderDeliveryPrice = 2500; // 배송비
            let orderDiscountPrice = 0; // 할인 합계
            let totalAmount = 0; // 최종 결제 금액
            let totalPoint = 0; // 적립 예정 금액

            $("input[name=cart_check]:checked").each(function () {
                let cartItemId = $(this).val();
                let price = $("#price_" + cartItemId);
                let priceVal = price.attr("data-price");
                let countVal = $("#count_" + cartItemId).val();

                orderTotalPrice += priceVal * countVal;
                orderDiscountPrice += (price.attr("data-price") * (price.attr("data-discount"))) * countVal;
            });

            // 최종 결제 금액 3만원 이상 배송비 무료
            totalAmount = orderTotalPrice - orderDiscountPrice;
            if (totalAmount >= 30000) {
                orderDeliveryPrice = 0;
            } else if (totalAmount === 0) {
                orderDeliveryPrice = 0;
            } else {
                orderDeliveryPrice = 2500;
            }

            $(".order_total_price").html(orderTotalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
            $(".order_delivery_price").html('+ ' + orderDeliveryPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
            $(".order_discount_price").html('- ' + orderDiscountPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원')
            $(".total_amount").html((totalAmount + orderDeliveryPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
            $(".total_point").html((Math.floor(totalAmount * 0.05)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원')
        }

        /* 수량 입력 시 동작 */
        function changeCount(obj) {
            let cartItemId = obj.id.split('_')[1];
            let price = $("#price_" + cartItemId);
            let stock = $("#stock_" + cartItemId);
            let count = $('#count_' + cartItemId);
            let hiddenCount = $("#hiddenCount_" + cartItemId);

            let countVal = obj.value;
            let priceVal = price.data("price");
            let totalPrice = Math.floor((priceVal * (1 - price.attr("data-discount"))) * countVal);
            let minCnt = 1;
            let maxCnt = stock.attr("data-stock") * 1;

            hiddenCount.val(obj.value);
            if (countVal < minCnt) {
                alert('수량은 1개 이상 입력해 주세요.');
                count.val(1);
                hiddenCount.val(1);
                price.html(Math.floor((priceVal * (1 - price.attr("data-discount")))).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
                getOrderTotalPrice();
                return;
            } else if (countVal > maxCnt) {
                alert('죄송합니다. 재고가 부족합니다.');
                count.val(maxCnt);
                hiddenCount.val(maxCnt);
                price.html(Math.floor((priceVal * (1 - price.attr("data-discount"))) * maxCnt).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
                getOrderTotalPrice();
                return;
            }

            price.html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
            getOrderTotalPrice();
            updateCartItemCount(cartItemId, countVal);
        }

        /* 수량 조절 버튼 클릭 시 동작 */
        function changeCountBtn(obj) {
            let cartItemId = $(obj).attr("data-id");
            let count = $("#count_" + cartItemId);
            let hiddenCount = $("#hiddenCount_" + cartItemId);
            let price = $("#price_" + cartItemId);
            let stock = $("#stock_" + cartItemId);
            let option = $(obj).attr("data-option");

            let countVal = Number(count.val());
            let minCnt = 1;
            let maxCnt = Number(stock.attr("data-stock"));
            let priceVal = price.data("price");

            if (option === 'down') {
                countVal -= 1;
                hiddenCount.val(countVal);
                if (countVal < minCnt) {
                    alert('수량은 1개 이상 입력해 주세요.');
                    return;
                }
            } else if (option === 'up') {
                countVal += 1;
                hiddenCount.val(countVal);
                if (countVal > maxCnt) {
                    alert('죄송합니다. 재고가 부족합니다.');
                    return;
                }
            }

            let totalPrice = Math.floor((priceVal * (1 - price.attr("data-discount"))) * countVal);
            count.val(countVal);
            price.html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
            getOrderTotalPrice();
            updateCartItemCount(cartItemId, countVal);
        }

        /* 아이템 수량 DB 업데이트 */
        function updateCartItemCount(cartItemId, count) {
            $.ajax({
                url: "/cartItem/" + cartItemId + "?count=" + count,
                type: "PATCH",
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    console.log("cartItem count update success");
                },
                error: function (request, status, error) {
                    if (request.status === '401') {
                        alert('로그인 후 이용해주세요.');
                        location.href = "/login";
                    } else {
                        alert(request.responseText);
                    }
                },
            })
        }

        /* 장바구니 상품 삭제 */
        function deleteCartItem(obj) {
            let cartItemId = obj.dataset.id;

            if (confirm("선택하신 상품을 삭제하시겠습니까?")) {
                $.ajax({
                    url: "/cartItem/" + cartItemId,
                    type: "DELETE",
                    dataType: "json",
                    cache: false,
                    success: function (result, status) {
                        location.href = '/cart';
                    },
                    error: function (request, status, error) {
                        if (request.status === '401') {
                            alert('로그인 후 이용해주세요.');
                            location.href = '/login';
                        } else {
                            alert(error.responseText);
                        }
                    },
                })
            } else {
                false;
            }
        }

        /* 전체 주문 */
        function ordersAllItems() {
            $("input[name=cart_check]").prop("checked", true);
            getOrderTotalPrice();
            orders();
        }

        /* 쇼핑계속하기 버튼 */
        $(".resume_btn").on("click", function () {
            location.href = "/";
        });
    </script>
</body>

</html>