<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/defaultLayout.html :: head"></div>
</head>

<body>
    <main>
        <div th:replace="/layouts/defaultLayout.html :: sidebar"></div>

        <article class="content">
            <div th:replace="/layouts/defaultLayout.html :: nav"></div>

            <!-- cart section -->
            <section id="cart">
                <div class="container cart">
                    <div class="cart_header">
                        <h2>CART</h2>
                        <div class="divider"></div>
                    </div>
                    <div class="cart_body mt-5">
                        <div class="table-responsive small table_box">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;" scope="col" >
                                            <input type="checkbox" id="check_all" name="check_all" onclick="checkAll()">
                                            <label for="check_all">전체 선택</label>
                                        </th>
                                        <th style="width: 10%;" scope="col">이미지</th>
                                        <th style="width: auto;" scope="col">상품정보</th>
                                        <th style="width: 10%;" scope="col">수량</th>
                                        <th style="width: 10%;" scope="col">상품구매금액</th>
                                        <th style="width: 10%;" scope="col">배송비</th>
                                        <th style="width: 10%;" scope="col">선택</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="cartItem : ${cartItems}">
                                        <td>
                                            <input type="checkbox" name="cart_check" th:value="${cartItem.cartItemId}">
                                        </td>
                                        <td class="thumb">
                                            <a th:href="${'/item/' + cartItem.cartItemId}">
                                                <img th:src="${cartItem.imgUrl}">
                                            </a>
                                        </td>
                                        <td class="product left_top">
                                            <strong class="name">
                                                <a th:href="${'/item/' + cartItem.cartItemId}" th:text="${cartItem.itemNm}"></a>
                                            </strong>
                                            <div class="option">[옵션: 선택 X]</div>
                                        </td>
                                        <td>
                                            <div class="cnt_box">
                                                <input th:id="'count_' + ${cartItem.cartItemId}" class="order_cnt_input" type="text"
                                                       th:data-itemId="${cartItem.cartItemId}" th:value="${cartItem.count}" onchange="changeCount(this)">
                                                <div class="cnt_btn">
                                                    <i th:data-id="${cartItem.cartItemId}" data-option="up" class="xi-caret-up-min" onclick="changeCountBtn(this)"></i>
                                                    <i th:data-id="${cartItem.cartItemId}" data-option="down" class="xi-caret-down-min" onclick="changeCountBtn(this)"></i>
                                                </div>
                                                <span th:id="'stock_' + ${cartItem.cartItemId}" th:data-stock="${cartItem.stockNumber}"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <strong th:id="'price_' + ${cartItem.cartItemId}" th:data-price="${cartItem.price}"
                                                    th:text="|${#numbers.formatInteger(cartItem.price * cartItem.count, 0, 'COMMA')}원|"></strong>
                                        </td>
                                        <td>
                                            2,500원
                                        </td>
                                        <td>
                                            <button th:data-id="${cartItem.cartItemId}" class="black_btn_w90_h30" onclick="order(this)">주문하기</button>
                                            <button th:data-id="${cartItem.cartItemId}" onclick="deleteCartItem(this)" type="button" class="white_btn_w90_h30">
                                                삭제
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cart_null" th:if="${#lists.isEmpty(cartItems)}">
                            장바구니가 비어 있습니다.
                        </div>
                        <div class="cart_total mt-5">
                            <div class="table-responsive small">
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th style="width: 35%;" scope="col">총 상품금액</th>
                                        <th style="width: 35%;" scope="col">총 배송비</th>
                                        <th style="width: 35%;" scope="col">결제예정금액</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span class="order_total_price">0원</span>
                                        </td>
                                        <td>
                                            <span class="order_delivery_price">+0원</span>
                                        </td>
                                        <td>
                                            = <span class="total_amount">0원</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="cart_btn">
                        <button type="button" class="black_btn_w130_h40" onclick="ordersAllItems()">전체상품주문</button>
                        <button type="button" class="white_btn_w130_h40" onclick="orders()">선택상품주문</button>
                        <span>
                            <button type="button" class="white_btn_w130_h40 resume_btn">쇼핑계속하기</button>
                        </span>
                    </div>
                    <div class="user_help">
                        <h3>이용안내</h3>
                        <div class="inner">
                            <h4>장바구니 이용안내</h4>
                            <ol>
                                <li class="item1">
                                    [쇼핑계속하기] 버튼을 누르시면 쇼핑을 계속 하실 수 있습니다.
                                </li>
                            </ol>
                            <ol>
                                <li class="item2">
                                    장바구니를 이용하여 원하시는 상품만 주문하실 수 있습니다.
                                </li>
                            </ol>
                            <ol>
                                <li class="item3">
                                    총 상품 주문 금액이 30,000원 이상인 경우 배송비가 무료입니다.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="/layouts/defaultLayout.html :: footer"></div>
        </article>
    </main>

    <!-- 사용자 JS -->
    <script th:inline="javascript">
        $(document).ready(function () {
            let checkInput = $("input[name=cart_check]");

            checkInput.prop("checked", true);
            getOrderTotalPrice();

            checkInput.change(function(){
                getOrderTotalPrice();
            })
        });

        function getOrderTotalPrice() {
            let orderTotalPrice = 0;
            let orderDeliveryPrice = 0;
            $("input[name=cart_check]:checked").each(function () {
                let cartItemId = $(this).val();
                let price = $("#price_" + cartItemId).attr("data-price");
                let count = $("#count_" + cartItemId).val();
                orderTotalPrice += price * count;
            });

            if (orderTotalPrice >= 30000) {
                orderDeliveryPrice = 0;
            } else if (orderTotalPrice === 0) {
                orderDeliveryPrice = 0;
            } else {
                orderDeliveryPrice = 2500;
            }

            $(".order_total_price").html(orderTotalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
            $(".order_delivery_price").html('+' + orderDeliveryPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
            $(".total_amount").html((orderDeliveryPrice + orderTotalPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원');
        }

        function checkAll() {
            if ($("#check_all").prop("checked")) {
                $("input[name=cart_check]").prop("checked", true);
            } else {
                $("input[name=cart_check]").prop("checked", false);
            }
            getOrderTotalPrice();
        }

        function changeCount(obj) {
            let cartItemId = obj.id.split('_')[1];
            let price = $("#price_" + cartItemId);
            let stock = $("#stock_" + cartItemId);
            let count = $('#count_' + cartItemId);

            let countVal = obj.value;
            let priceVal = price.data("price");
            let totalPrice = countVal * priceVal;
            let minCnt = 1;
            let maxCnt = stock.attr("data-stock") * 1;

            if (countVal < minCnt) {
                alert('수량은 1개 이상 입력해 주세요.');
                count.val(1);
                price.html(priceVal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
                return;
            } else if ( countVal > maxCnt ) {
                alert('죄송합니다. 재고가 부족합니다.');
                count.val(maxCnt);
            }

            price.html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
            getOrderTotalPrice();
            updateCartItemCount(cartItemId, countVal);
        }

        function changeCountBtn(obj) {
            let cartItemId = $(obj).attr("data-id");
            let count = $("#count_" + cartItemId);
            let price = $("#price_" + cartItemId);
            let stock = $("#stock_" + cartItemId);
            let option = $(obj).attr("data-option");

            let countVal = Number(count.val());
            let minCnt = 1;
            let maxCnt = Number(stock.attr("data-stock"));
            let priceVal = price.data("price");

            if (option === 'down') {
                countVal -= 1;
                if (countVal < minCnt) {
                    alert('수량은 1개 이상 입력해 주세요.');
                    return;
                }
            } else if (option === 'up') {
                countVal += 1;
                if (countVal > maxCnt) {
                    alert('죄송합니다. 재고가 부족합니다.');
                    return;
                }
            }

            let totalPrice = countVal * priceVal;
            count.val(countVal);
            price.html(totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원");
            getOrderTotalPrice();
            updateCartItemCount(cartItemId, countVal);
        }

        function updateCartItemCount(cartItemId, count) {
            console.log(count);

            $.ajax({
                url: "/cartItem/" + cartItemId + "?count=" + count,
                type: "PATCH",
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    console.log("cartItem count update success");
                },
                error: function (request, status, error) {
                    if (request.status === '401') {
                        alert('로그인 후 이용해주세요.');
                        location.href = "/login";
                    } else {
                        alert(request.responseText);
                    }
                },
            })
        }

        function deleteCartItem(obj) {
            let cartItemId = obj.dataset.id;

            if(confirm("선택하신 상품을 삭제하시겠습니까?")){
                $.ajax({
                    url: "/cartItem/" + cartItemId,
                    type: "DELETE",
                    dataType: "json",
                    cache: false,
                    success: function (result, status) {
                        location.href='/cart';
                    },
                    error: function (request, status, error) {
                        if (request.status === '401') {
                            alert('로그인 후 이용해주세요.');
                            location.href = '/login';
                        } else {
                            alert(request.responseText);
                        }
                    },
                })
            }else{
                false;
            }
        }

        function order(obj) {
            if (confirm("선택하신 상품을 주문하시겠습니까?")) {
                let cartItemId = $(obj).attr("data-id");
                let paramData = {};
                let dataList = [];

                dataList.push(cartItemId);

                paramData["cartItemIds"] = dataList;

                let param = JSON.stringify(paramData);

                $.ajax({
                    url: "/cart/orders",
                    type: "POST",
                    contentType: "application/json",
                    data: param,
                    dataType: "json",
                    cache: false,
                    success: function (result, status) {
                        alert("주문이 완료 되었습니다.");
                        location.href = '/orders';
                    },
                    error: function (request, status, error) {
                        if (request.status === '401') {
                            alert('로그인 후 이용해주세요.');
                            location.href = '/login';
                        } else {
                            alert(request.responseText);
                        }
                    },
                });
            } else {
                false;
            }

        }

        function orders() {
            if (confirm("선택하신 상품을 주문하시겠습니까?")) {
                let paramData = {};
                let dataList = [];

                $("input[name=cart_check]:checked").each(function () {
                    let cartItemId = $(this).val();
                    dataList.push(cartItemId);
                });

                paramData["cartItemIds"] = dataList;

                let param = JSON.stringify(paramData);

                $.ajax({
                    url: "/cart/orders",
                    type: "POST",
                    contentType: "application/json",
                    data: param,
                    dataType: "json",
                    cache: false,
                    success: function (result, status) {
                        alert("주문이 완료 되었습니다.");
                        location.href = '/orders';
                    },
                    error: function (request, status, error) {
                        if (request.status === '401') {
                            alert('로그인 후 이용해주세요.');
                            location.href = '/login';
                        } else {
                            alert(request.responseText);
                        }
                    },
                });
            } else {
                return false;
            }
        }

        function ordersAllItems() {
            if (confirm("전체 상품을 주문하시겠습니까?")) {
                $("input[name=cart_check]").prop("checked", true);
                getOrderTotalPrice();
                orders();
            } else {
                false;
            }
        }

        $(".resume_btn").on("click", function () {
            location.href = "/";
        });
    </script>
</body>
</html>

