<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/admin-layout.html :: head"></div>
</head>

<body>
    <main class="admin-main-area">
    <div th:replace="/layouts/admin-layout.html :: sidebar(currentMenu='memberManagement')"></div>

    <article class="admin-content-area">
        <div th:replace="/layouts/admin-layout.html :: nav"></div>

        <!-- section start -->
        <section class="admin-section-area">
            <div class="container-fluid">

                <div class="section-header">
                    <h2 th:if="${viewName} == 'dtlPage'">회원 상세 정보</h2>
                    <h2 th:if="${viewName} == 'updatePage'">회원 정보 수정</h2>
                    <div class="divider"></div>
                </div>

                <div class="section-body member-form-body">
                    <form id="profileForm" th:action="@{'/admin/members/' + ${memberDetails.id}}" th:object="${memberDetails}" method="post">

                        <div class="table-wrapper">
                            <table class="base-table base-table--two-columns base-table--no-border-sides">
                                <colgroup>
                                    <col style="width:200px;">
                                    <col style="width: auto;">
                                </colgroup>
                                <tbody class="base-table__body">
                                    <input type="hidden" th:field="*{id}" th:value="${memberDetails.id}">
                                    <tr class="base-table__row">
                                        <th class="base-table__header-cell" scope="row">
                                            <label th:for="*{userIdentifier}">아이디 <span class="required-field">*</span></label>
                                        </th>
                                        <td class="base-table__cell">
                                            <input class="base-table__input id-input"  th:if="${viewName} == 'dtlPage'" th:field="*{userIdentifier}" type="text" minlength="5" maxlength="20" readonly>
                                            <input class="base-table__input id-input"  th:if="${viewName} == 'updatePage'" th:field="*{userIdentifier}" type="text" minlength="5" maxlength="20">
                                        </td>
                                    </tr>
                                    <tr class="base-table__row" th:if="${viewName} == 'updatePage'">
                                        <th class="base-table__header-cell" scope="row">
                                            <label th:for="*{password}">비밀번호 <span class="required-field">*</span></label>
                                        </th>
                                        <td class="base-table__cell">
                                            <input class="base-table__input pw-input" th:field="*{password}" type="password" minlength="8" maxlength="20">
                                        </td>
                                    </tr>
                                    <tr class="base-table__row">
                                        <th class="base-table__header-cell" scope="row">
                                            <label th:for="*{name}">이름 <span class="required-field">*</span></label>
                                        </th>
                                        <td class="base-table__cell">
                                            <input class="base-table__input name-input" th:if="${viewName} == 'dtlPage'" readonly th:field="*{name}" type="text">
                                            <input class="base-table__input name-input" th:if="${viewName} == 'updatePage'" th:field="*{name}" type="text">
                                        </td>
                                    </tr>
                                    <tr class="base-table__row">
                                        <th class="base-table__header-cell" scope="row">
                                            <label th:for="*{email}">이메일 <span class="required-field">*</span></label>
                                        </th>
                                        <td class="base-table__cell">
                                            <div class="mail-input-box mb-1">
                                                <input class="email-hidden-input" type="hidden" th:field="*{email}">
                                                <input class="base-table__input mail-input" th:if="${viewName} == 'dtlPage'" readonly type="text">
                                                <input class="base-table__input mail-input" th:if="${viewName} == 'updatePage'" type="text">
                                                @
                                                <input th:if="${viewName} == 'dtlPage'" readonly class="mail-input2" type="text">
                                                <input  class="base-table__input mail-input2" th:if="${viewName} == 'updatePage'" type="text">
                                                <select class="base-table__select mail-select" th:if="${viewName} == 'updatePage'"  name="mail-select">
                                                    <option value="1" selected>직접입력</option>
                                                    <option value="naver.com">naver.com</option>
                                                    <option value="hanmail.net">hanmail.net</option>
                                                    <option value="hotmail.com">hotmail.com</option>
                                                    <option value="nate.com">nate.com</option>
                                                    <option value="yahoo.co.kr">yahoo.co.kr</option>
                                                    <option value="empas.com">empas.com</option>
                                                    <option value="dreamwiz.com">dreamwiz.com</option>
                                                    <option value="freechal.com">freechal.com</option>
                                                    <option value="lycos.co.kr">lycos.co.kr</option>
                                                    <option value="korea.com">korea.com</option>
                                                    <option value="gmail.com">gmail.com</option>
                                                    <option value="hanmir.com">hanmir.com</option>
                                                    <option value="paran.com">paran.com</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="base-table__row">
                                        <th class="base-table__header-cell" scope="row">
                                            <label th:for="*{zipcode}">주소 <span class="required-field">*</span></label>
                                        </th>
                                        <td class="base-table__cell">
                                            <input class="base-table__input zipcode-input" th:field="*{zipcode}" type="text" readonly="readonly">
                                            <button th:if="${viewName} == 'updatePage'" type="button" class="find-addr button button--white button--90x30" onclick="addressAPI()">주소 찾기</button>
                                            <input class="base-table__input base-table__input--big displayblock mt5 addr-input" th:field="*{addr}" type="text" readonly="readonly">
                                            <input class="base-table__input base-table__input--big displayblock mt5 addr-detail-input" th:field="*{addrDetail}" type="text" readonly="readonly">
                                        </td>
                                    </tr>
                                    <tr class="base-table__row">
                                        <th class="base-table__header-cell" scope="row">
                                            <label th:for="*{availablePoints}">사용 가능한 포인트 <span class="required-field">*</span></label>
                                        </th>
                                        <td class="base-table__cell">
                                            <input class="base-table__input point-input" th:if="${viewName} == 'dtlPage'" readonly th:field="*{availablePoints}" type="text">
                                            <input class="base-table__input point-input" th:if="${viewName} == 'updatePage'" th:field="*{availablePoints}" type="text">
                                        </td>
                                    </tr>
                                    <tr class="base-table__row">
                                        <th class="base-table__header-cell" scope="row">
                                            <label th:for="*{totalEarnedPoints}">총 적립 포인트 <span class="required-field">*</span></label>
                                        </th>
                                        <td class="base-table__cell">
                                            <input class="base-table__input total-point-input" th:if="${viewName} == 'dtlPage'" readonly th:field="*{totalEarnedPoints}" type="text">
                                            <input class="base-table__input total-point-input" th:if="${viewName} == 'updatePage'" th:field="*{totalEarnedPoints}" type="text">
                                        </td>
                                    </tr>
                                    <tr class="base-table__row">
                                        <th class="base-table__header-cell" scope="row">
                                            <label th:for="*{totalUsedPoints}">총 사용 포인트 <span class="required-field">*</span></label>
                                        </th>
                                        <td class="base-table__cell">
                                            <input class="base-table__input total-use-point-input" th:if="${viewName} == 'dtlPage'" readonly th:field="*{totalUsedPoints}" type="text">
                                            <input class="base-table__input total-use-point-input" th:if="${viewName} == 'updatePage'" th:field="*{totalUsedPoints}" type="text">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="btn-box">
                            <button th:if="${viewName} == 'dtlPage'" th:data-memberId="${memberDetails.id}" class="button button--black button--130x40 modify-btn" type="button">회원정보수정</button>
                            <button th:if="${viewName} == 'updatePage'" class="button button--black button--130x40 save-btn" type="button">저장</button>
                            <button class="button button--white button--130x40 cancel-btn" type="button" th:data-memberId="${memberDetails.id}">취소</button>
                            <button th:if="${viewName} == 'updatePage'" class="button button--white button--130x40 del-btn" type="button" th:data-memberId="${memberDetails.id}">회원 삭제</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <div th:replace="/layouts/admin-layout.html :: footer"></div>
    </article>
</main>

    <div th:replace="/layouts/admin-layout.html :: commonJs"></div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- custom js -->
    <script th:inline="javascript">
        let code = ""; // 이메일 인증번호 저장 변수

        /* 유효성 검사 통과 유무 변수 */
        let checkId = false;
        let checkPw = false;
        let checkName = false;
        let checkMail = false;
        let checkAddress = false;
        let checkTotalOrderPrice = false;
        let checkPoint = false;
        let checkTotalUsePoint = false;
        let checkTotalPoint = false;

        $(function () {
            showMessage(); // 페이지가 로드될 때 메시지를 확인하고 알림을 표시하는 함수
            initializeEmail(); // 회원의 이메일 정보를 가져와서 이메일 입력 필드에 초기화하는 함수

            /* 저장 버튼 클릭 처리 */
            $(".save-btn").click(saveProfile);

            /* 이메일 선택 체인지 처리 */
            $('.mail-select').on("change", setEmailInputMode);

            /* 회원정보 수정 버튼 클릭 처리 */
            $(".modify-btn").click(modifyProfile);

            /* 취소 버튼 클릭 처리 */
            $(".cancel-btn").click(cancelProfile);

            /* 회원 삭제 버튼 클릭 처리 */
            $(".del-btn").click(deleteMember);
        });

        /* 페이지가 로드될 때 메시지를 확인하고 알림을 표시하는 함수 */
        function showMessage() {
            let message = [[${message}]];
            if (message) {
                alert(message);
            }
        }

        /* 회원의 이메일 정보를 가져와서 이메일 입력 필드에 초기화하는 함수 */
        function initializeEmail() {
            let email = [[${memberDetails.email}]];
            let emailArr = email.split("@");

            $(".mail-input").val(emailArr[0]);
            $(".mail-input2").val(emailArr[1]);
        }

        /* 회원 정보 수정 함수 */
        function saveProfile() {
            let idVal = $(".id-input").val();
            let pwVal = $('.pw-input').val();
            let nameVal = $('.name-input').val();
            let mailVal1 = $(".mail-input").val();
            let mailVal2 = $(".mail-input2").val();
            let fullEmail = mailVal1 + '@' + mailVal2;
            let addressVal = $('.addr-detail-input').val();
            let totalOrderPriceVal = $(".total-order-price-input").val();
            let pointVal = $(".point-input").val();
            let totalUsePointVal = $(".total-use-point-input").val();
            let totalPointVal = $(".total-point-input").val();
            let form = $('#profileForm');

            if (idVal === "") {
                alert("아이디를 입력하세요.");
                $('.id-input').focus();
                return false;
            } else {
                checkId = true;
            }

            if (pwVal === "") {
                checkPw = true;
            } else {
                if (hasBlank(pwVal)) {
                    alert("비밀번호는 공백 없이 입력해주세요.");
                    $('.pw-input').focus();
                    return false;
                }
                checkPw = true;
            }

            if (nameVal === "") {
                alert("이름을 입력하세요.");
                $('.name-input').focus();
                return false;
            } else {
                checkName = true;
            }

            if (mailVal1 === '' || mailVal2 === '') {
                alert("이메일을 입력하세요.");
                $('.mail-input').focus();
                return false;
            } else {
                checkMail = true;
            }

            if (addressVal === "") {
                alert("주소를 입력하세요.");
                $('.zipcode-input').focus();
                return false;
            } else {
                checkAddress = true;
            }

            if (totalOrderPriceVal === "") {
                alert("총 주문 금액을 입력하세요.");
                $('.total-order-price-input').focus();
                return false;
            } else {
                checkTotalOrderPrice = true;
            }

            if (pointVal === "") {
                alert("보유 포인트를 입력하세요.");
                $('.point-input').focus();
                return false;
            } else {
                checkPoint = true;
            }

            if (totalUsePointVal === "") {
                alert("총 사용 포인트를 입력하세요.");
                $('.total-use-point-input').focus();
                return false;
            } else {
                checkTotalUsePoint = true;
            }

            if (totalPointVal === "") {
                alert("총 적립 포인트를 입력하세요.");
                $('.total-point-input').focus();
                return false;
            } else {
                checkTotalPoint = true;
            }

            if (checkId && checkPw && checkName && checkMail && checkAddress && checkTotalOrderPrice && checkPoint && checkTotalUsePoint && checkTotalPoint) {
                $(".email-hidden-input").val(fullEmail);
                if (pwVal === '') {
                    $(".pw-input").attr("disabled", true);
                }
                form.submit();
            }
        }

        /* 이메일 입력 모드 설정 함수 */
        function setEmailInputMode() {
            let mailVal = $(".mail-input2");
            $(".mail-select option:selected").each(function () {
                if ($(this).val() === '1') {
                    // 직접 입력 모드일 경우 입력 필드를 비워두고 활성화
                    mailVal.val('');
                    mailVal.attr("disabled",false);
                } else {
                    // 선택한 이메일 도메인을 입력 필드에 설정하고 비활성화
                    mailVal.val($(this).text());
                    mailVal.attr("disabled",true);
                }
            });
        }

        /* 회원 정보 수정 화면으로 이동하는 함수 */
        function modifyProfile() {
            let memberId = $(this).attr("data-memberId");
            location.href = '/admin/members/' + memberId + '/edit';
        }

        /* 회원 관리 페이지로 이동하는 함수 */
        function cancelProfile() {
            location.href = '/admin/members';
        }

        /* 회원 삭제 함수 */
        function deleteMember() {
            let memberIds = [];
            let memberId = $(this).attr("data-memberId");
            memberIds.push(memberId);

            if (confirm("정말로 회원을 삭제하시겠습니까?")) {
                $.ajax({
                    url: '/admin/members/delete',
                    type: 'delete',
                    data: JSON.stringify(memberIds),
                    success(res) {
                        alert(res);
                        location.href = '/admin/members';
                    },
                    error(request) {
                        alert(request.responseText);
                    },
                })
            }
        }

        /* 주어진 문자열에 공백이 있는지 확인하는 함수 */
        function hasBlank (str) {
            return /\s/g.test(str);
        }

        /* 주소 API 호출 함수 */
        function addressAPI() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let addr = ''; // 주소 변수
                    let extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        addr += extraAddr;
                    } else {
                        addr += ' ';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    $(".zipcode-input").val(data.zonecode);
                    $(".addr-input").val(addr);
                    // 커서를 상세주소 필드로 이동한다.
                    $(".addr-detail-input").attr("readonly", false);
                    $(".addr-detail-input").focus();
                }
            }).open();
        }
    </script>
</body>
</html>