@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import 'common';

button {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px 10px;
    color: #fff;
}

td button:nth-child(1) {
    background-color: #0298cf;
}

td button:nth-child(2) {
    background-color: #f80000;
}

button:focus {
    border: none;
    outline: none;
}

/* custom css start */
main {
    .content {

        /* board */
        #board {
            .board {
                .board_header {
                    h2 {
                        font-size: 15px;
                        text-align: center;
                    }

                    .divider {
                        width: 70px;
                        height: 1px;
                        background: #aaa;
                        margin: 20px auto;
                    }
                }

                .board_body {
                    margin: 0 auto;

                    table {
                        font-size: 12px;

                        thead {
                            th {
                                padding: 15px 0 14px;
                                border-bottom: 1px solid #e5e5e5;
                                color: #353535;
                                vertical-align: middle;
                                font-weight: normal;
                                background: #fff;
                                text-align: center;
                            }
                        }

                        tbody {
                            vertical-align: middle;
                            text-align: center;

                            tr {
                                td {
                                    padding: 15px 5px 14px;
                                    border-top: 1px solid #e5e5e5;
                                    color: #353535;

                                    a {
                                        width: 90px;
                                        margin: 1px 0;
                                    }
                                }

                                td:nth-child(2) {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }

                .pagenation {
                    ul {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px 20px;
                        line-height: 50px;
                        font-size: 13px;

                        li {
                            margin: 0 15px;

                            a {
                                color: #999;
                            }
                        }

                        .page {
                            text-align: center;
                        }

                        .page:hover a {
                            color: #000;
                            font-weight: bold;
                        }

                        .page.active a {
                            color: #000;
                            font-weight: bold;
                            text-decoration-line: underline;
                        }

                        .prev,
                        .next {
                            color: rgba(50, 50, 50, 1);
                            font-size: 13px;
                        }

                        .prev {
                            margin-right: 20px;

                        }

                        .next {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}