@charset "UTF-8";
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype");
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button,
a,
p {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container header {
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  right: 0;
  min-width: 483px;
  max-width: 898px;
  width: inherit;
  margin: 0 auto;
}
.container header .logo {
  position: relative;
  padding: 18px 0;
  text-align: center;
  vertical-align: top;
  background: #fff;
  border-left: 1px solid #bcbcbc;
  border-right: 1px solid #bcbcbc;
}
.container header .logo h1 {
  margin: 0 95px;
  font-size: 18px;
  text-align: center;
  color: #000;
}
.container header .logo .back-btn {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -10px;
  font-size: 20px;
  cursor: pointer;
}
.container header .title h1 {
  background: #333 !important;
  position: relative;
  padding: 0 42px;
  line-height: 61px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #d7d7d7;
  border-right: 0;
  border-left: 0;
}
.container form {
  padding-top: 122px;
  min-width: 483px;
  max-width: 898px;
  margin: 0 auto;
  background: #ededed;
  border: 1px solid #bcbcbc;
}
.container form .shipping-address-container,
.container form .order-products-container,
.container form .discount-payment-container,
.container form .payment-details-container,
.container form .payment-options-container,
.container form .payment-details-container,
.container form .point-earn-price-container {
  background-color: white;
  margin-top: 10px;
}
.container form .shipping-address-container .title,
.container form .order-products-container .title,
.container form .discount-payment-container .title,
.container form .payment-details-container .title,
.container form .payment-options-container .title,
.container form .payment-details-container .title,
.container form .point-earn-price-container .title {
  padding: 20px 16px;
  position: relative;
  cursor: pointer;
}
.container form .shipping-address-container .title h2,
.container form .order-products-container .title h2,
.container form .discount-payment-container .title h2,
.container form .payment-details-container .title h2,
.container form .payment-options-container .title h2,
.container form .payment-details-container .title h2,
.container form .point-earn-price-container .title h2 {
  margin: 0 10px 0 0;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  line-height: 27px;
}
.container form .shipping-address-container .title::after,
.container form .order-products-container .title::after,
.container form .discount-payment-container .title::after,
.container form .payment-details-container .title::after,
.container form .payment-options-container .title::after,
.container form .payment-details-container .title::after,
.container form .point-earn-price-container .title::after {
  position: absolute;
  top: 29px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 20px;
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 2px solid #bcbcbc;
  border-right: 0;
  border-bottom: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.container form .shipping-address-container.selected .title::after,
.container form .order-products-container.selected .title::after,
.container form .discount-payment-container.selected .title::after,
.container form .payment-details-container.selected .title::after,
.container form .payment-options-container.selected .title::after,
.container form .payment-details-container.selected .title::after,
.container form .point-earn-price-container.selected .title::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 22px;
}
.container form .shipping-address-container .contents .address-wrapper .tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
  border-top: 1px solid #d7d5d5;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  word-break: break-all;
}
.container form .shipping-address-container .contents .address-wrapper .tab ul li {
  text-align: center;
  border-left: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;
  background: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.container form .shipping-address-container .contents .address-wrapper .tab ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px 14px;
  color: #797979;
  font-weight: 400;
}
.container form .shipping-address-container .contents .address-wrapper .tab ul li.selected {
  border-bottom-color: #fff;
}
.container form .shipping-address-container .contents .address-wrapper .tab ul li.selected a {
  border-left: 0;
  font-weight: 500;
  color: #000;
  background: #fff;
}
.container form .shipping-address-container .contents .address-wrapper .tab ul li:first-child {
  border-left: 0;
}
.container form .shipping-address-container .contents .address-wrapper .recent-address-wrapper {
  font-size: 15px;
  padding: 0 16px 20px;
  position: relative;
}
.container form .shipping-address-container .contents .address-wrapper .recent-address-wrapper .address-info {
  padding: 9px 0 0;
}
.container form .shipping-address-container .contents .address-wrapper .recent-address-wrapper .address-info .name {
  display: block;
  font-weight: 500;
  color: #333;
  font-size: 16px;
}
.container form .shipping-address-container .contents .address-wrapper .recent-address-wrapper .address-info .address {
  color: #383838;
  margin-top: 18px;
  letter-spacing: -0.4px;
}
.container form .shipping-address-container .contents .address-wrapper .recent-address-wrapper .address-info .tel {
  display: block;
  margin: 8px 0 0 0;
  color: rgb(102, 102, 102);
  letter-spacing: -0.4px;
}
.container form .shipping-address-container .contents .address-wrapper .recent-address-wrapper .address-list-btn {
  position: absolute;
  top: 0;
  right: 15px;
  height: 42px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border: 1px solid #b5b5b5;
  background: #fff;
  line-height: 38px;
  vertical-align: middle;
  display: inline-block;
  letter-spacing: -0.4px;
  cursor: pointer;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper {
  padding-bottom: 13px;
  display: none;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-options-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px 15px;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-options-area .custom-radio {
  color: #383838;
  font-size: 16px;
  text-transform: capitalize;
  display: block;
  position: relative;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 20px;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-options-area .custom-radio input {
  display: none;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-options-area .custom-radio input:checked ~ span {
  border: 6px solid #3971ff;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-options-area .custom-radio span {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 6px solid #e2e5ea;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area {
  padding-bottom: 13px;
  word-break: break-all;
  word-wrap: break-word;
  color: #383838;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table {
  table-layout: fixed;
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table caption {
  overflow: hidden;
  width: 1px;
  font-size: 1px;
  line-height: 0;
  text-indent: 150%;
  white-space: nowrap;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr th {
  padding: 16px 0 12px 16px;
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  word-break: break-word;
  font-size: 15px;
  border: 0;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr th .required {
  color: #73a2f0;
  font-weight: bold;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td {
  padding: 8px 16px 7px 4px;
  vertical-align: middle;
  border: 0;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .name-input {
  height: 42px;
  width: 100%;
  padding: 10px 11px 10px 10px;
  border: 1px solid #e1e1e1;
  outline-style: none;
  line-height: 14px;
  color: #000;
  font-weight: 400;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .address-input-box .zipcode-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px 7px 0;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .address-input-box .zipcode-wrap .zipcode-input {
  width: 160px;
  height: 42px;
  border: 1px solid #e1e1e1;
  padding: 10px 11px 10px 10px;
  outline-style: none;
  line-height: 14px;
  color: #000;
  font-weight: 400;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .address-input-box .zipcode-wrap .find-addr-btn {
  color: #000;
  border: 1px solid #a7a7a7;
  background: #fff;
  min-width: 80px;
  height: 42px;
  line-height: 38px;
  padding: 0 12px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  letter-spacing: -0.4px;
  margin: 0 0 0 -6px;
  letter-spacing: -0.4px;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .address-input-box .addr-wrap {
  line-height: 22px;
  padding: 8px 16px 7px 0;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .address-input-box .addr-wrap .addr-input {
  width: 100%;
  height: 42px;
  border: 1px solid #e1e1e1;
  padding: 10px 11px 10px 10px;
  outline-style: none;
  line-height: 14px;
  color: #000;
  font-weight: 400;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .address-input-box .addr-detail-wrap {
  line-height: 22px;
  padding: 8px 16px 7px 0;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .address-input-box .addr-detail-wrap .addr-detail-input {
  width: 100%;
  height: 42px;
  border: 1px solid #e1e1e1;
  padding: 10px 11px 10px 10px;
  outline-style: none;
  line-height: 14px;
  color: #000;
  font-weight: 400;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .tel-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .tel-input-box select {
  width: 100% !important;
  margin: 0 !important;
  max-width: 100%;
  height: 42px;
  margin: 0;
  padding: 0 20px 0 10px;
  line-height: 40px;
  color: #333;
  word-break: break-all;
  border: 1px solid #c5c5c5;
  font-size: 14px;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .tel-input-box input {
  width: 100% !important;
  margin: 0 !important;
  height: 42px;
  padding: 10px 11px 10px 10px;
  border: 1px solid #e1e1e1;
  outline-style: none;
  line-height: 14px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .email-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .email-input-box input {
  width: 100% !important;
  margin: 0 !important;
  height: 42px;
  padding: 10px 11px 10px 10px;
  border: 1px solid #e1e1e1;
  outline-style: none;
  line-height: 14px;
  color: #000;
  font-weight: 400;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .email-input-box .mail-address {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  vertical-align: top;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .email-input-box .mail-address select {
  width: 100% !important;
  margin: 0 !important;
  max-width: 100%;
  height: 42px;
  padding: 0 20px 0 10px;
  line-height: 40px;
  color: #333;
  word-break: break-all;
  border: 1px solid #c5c5c5;
  outline: none;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .email-input-box .mail-address .direct-input {
  overflow: hidden;
  position: absolute;
  top: 1px;
  left: 8px;
  right: 20px;
  bottom: 1px;
  display: none;
}
.container form .shipping-address-container .contents .address-wrapper .new-address-wrapper .address-table-area table tbody tr td .email-input-box .mail-address .direct-input input {
  border-color: #fff;
  height: 100%;
  padding: 0 7px 0 0;
  width: 100% !important;
  margin: 0 !important;
  outline-style: none;
  line-height: 14px;
  color: #000;
  font-weight: 400;
}
.container form .shipping-address-container .contents .req-wrapper {
  border-top: 1px solid #EBEBEB;
  padding: 20px 16px 15px;
}
.container form .shipping-address-container .contents .req-wrapper select {
  width: 100%;
  padding: 0 20px 0 15px;
  height: 42px;
  margin: 0;
  line-height: 40px;
  color: #333;
  border: 1px solid #c5c5c5;
  font-size: 14px;
}
.container form .shipping-address-container .contents .set-def-address-btn-warpper {
  padding: 0 16px 20px;
  position: relative;
}
.container form .shipping-address-container .contents .set-def-address-btn-warpper input[type=checkbox] {
  margin: 0;
  width: 20px;
  height: 20px;
  border: 0;
  -webkit-appearance: none; /* 웹킷 기반 브라우저에서 기본적인 스타일 제거 */
  -moz-appearance: none;
       appearance: none; /* 다른 브라우저에서 기본적인 스타일 제거 */
  cursor: pointer;
  background: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox.png) no-repeat 0 0;
  background-size: 20px 20px;
  vertical-align: middle;
}
.container form .shipping-address-container .contents .set-def-address-btn-warpper input[type=checkbox]:checked {
  background: url(//img.echosting.cafe24.com/skin/mobile/common/bg_newCheckbox_checked.png);
}
.container form .shipping-address-container .contents .set-def-address-btn-warpper label {
  font-size: 15px;
  margin: 0 16px 0 6px;
  color: #383838;
  display: inline-block;
  min-height: 29px;
  line-height: 29px;
  vertical-align: middle;
  cursor: pointer;
}
.container form .order-products-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 48px;
}
.container form .order-products-container .title .text-box {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 400;
}
.container form .order-products-container .title .text-box .total {
  color: #333;
}
.container form .order-products-container .contents .order-products-info {
  margin-bottom: 20px;
}
.container form .order-products-container .contents .order-products-info .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 16px 15px 16px;
  padding: 15px 0 0;
  border-top: 1px dashed #d5d5d5;
}
.container form .order-products-container .contents .order-products-info .product-info .thumbnail {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  border: 1px solid #d7d5d5;
}
.container form .order-products-container .contents .order-products-info .product-info .thumbnail img {
  width: 88px;
  height: 90px;
}
.container form .order-products-container .contents .order-products-info .product-info .description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.container form .order-products-container .contents .order-products-info .product-info .description .name {
  display: block;
  margin: 0 0 9px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.container form .order-products-container .contents .order-products-info .product-info .description .option {
  display: block;
  margin: 0 0 2px;
  font-size: 14px;
  color: #606060;
}
.container form .order-products-container .contents .order-products-info .product-info .description .quantity {
  display: block;
  font-size: 14px;
  color: #606060;
  margin: 0 0 14px;
}
.container form .order-products-container .contents .order-products-info .product-info .description .price {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #000;
}
.container form .order-products-container .contents .order-products-info .product-info .button-wrapper .delete-btn {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #b5b5b5;
  border-radius: 2px;
  margin: 0 0 0 4px;
  text-indent: 150%;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  background: inherit;
  cursor: pointer;
}
.container form .order-products-container .contents .order-products-info .product-info .button-wrapper .delete-btn::before {
  position: absolute;
  top: 50%;
  left: 4px;
  content: "";
  width: 14px;
  height: 1px;
  background: #7b7d8a;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.container form .order-products-container .contents .order-products-info .product-info .button-wrapper .delete-btn::after {
  position: absolute;
  top: 50%;
  left: 4px;
  content: "";
  width: 14px;
  height: 1px;
  background: #7b7d8a;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.container form .order-products-container .contents .order-products-info .product-info:first-child {
  padding: 0;
  border-top: 0;
}
.container form .order-products-container .contents .delivery-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 16px 11px 16px;
  background: #f8f9fa;
}
.container form .order-products-container .contents .delivery-price-wrapper h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #606060;
}
.container form .order-products-container .contents .delivery-price-wrapper .delivery-price {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.container form .discount-payment-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 48px;
}
.container form .discount-payment-container .title .text-box {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 400;
}
.container form .discount-payment-container .title .text-box .total {
  color: #333;
}
.container form .discount-payment-container .contents .discount-code-use-wrapper {
  border-bottom: 1px solid #eaeaea;
  padding: 20px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container form .discount-payment-container .contents .discount-code-use-wrapper .heading {
  font-size: 16px;
  font-weight: 400;
  color: #383838;
  line-height: 42px;
  margin-right: 22px;
}
.container form .discount-payment-container .contents .discount-code-use-wrapper .discount-code-input-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.container form .discount-payment-container .contents .discount-code-use-wrapper .discount-code-input-wrapper .discount-code-input {
  color: #3971ff;
  height: 42px;
  width: 100%;
  border: 1px solid #e1e1e1;
  outline-style: none;
  line-height: 14px;
  font-weight: 400;
  padding: 10px 11px 10px 10px;
}
.container form .discount-payment-container .contents .discount-code-use-wrapper .discount-code-input-wrapper .discount-code-use-btn {
  white-space: nowrap;
  margin-left: -1px;
  color: #000;
  border: 1px solid #b5b5b5;
  background: #fff;
  height: 42px;
  line-height: 38px;
  padding: 0 12px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
}
.container form .discount-payment-container .contents .point-use-wrapper {
  border-bottom: 1px solid #eaeaea;
  padding: 20px 16px;
  text-align: right;
}
.container form .discount-payment-container .contents .point-use-wrapper .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container form .discount-payment-container .contents .point-use-wrapper .input-box .heading {
  font-size: 16px;
  font-weight: 400;
  color: #383838;
  line-height: 42px;
  margin-right: 22px;
}
.container form .discount-payment-container .contents .point-use-wrapper .input-box .point-use-input-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.container form .discount-payment-container .contents .point-use-wrapper .input-box .point-use-input-wrapper .point-use-input {
  color: #3971ff;
  height: 42px;
  width: 100%;
  border: 1px solid #e1e1e1;
  outline-style: none;
  line-height: 14px;
  font-weight: 400;
  padding: 10px 11px 10px 10px;
}
.container form .discount-payment-container .contents .point-use-wrapper .input-box .point-use-input-wrapper .all-point-use-btn {
  white-space: nowrap;
  margin-left: -1px;
  color: #000;
  border: 1px solid #b5b5b5;
  background: #fff;
  height: 42px;
  line-height: 38px;
  padding: 0 12px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
}
.container form .discount-payment-container .contents .point-use-wrapper .summary {
  display: block;
  font-size: 15px;
  color: #383838;
  margin-top: 8px;
  text-align: right;
}
.container form .discount-payment-container .contents .point-use-wrapper .help-message-box {
  margin-top: 20px;
  padding: 13px 20px;
  background-color: #f8f9fa;
  text-align: left;
}
.container form .discount-payment-container .contents .point-use-wrapper .help-message-box .help-msg {
  font-size: 13px;
  font-weight: 400;
  color: #383838;
}
.container form .discount-payment-container .contents .discount-applied-price-wrapper {
  padding: 15px 16px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-all;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container form .discount-payment-container .contents .discount-applied-price-wrapper h3 {
  margin: 0 4px 0 0;
  font-size: 18px;
  font-weight: 500;
}
.container form .payment-details-container .contents .total-price-wrapper {
  padding: 0px 16px 20px;
}
.container form .payment-details-container .contents .total-price-wrapper .products-total-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 5px 0;
}
.container form .payment-details-container .contents .total-price-wrapper .products-total-price-wrapper .heading {
  width: 155px;
}
.container form .payment-details-container .contents .total-price-wrapper .products-total-price-wrapper .heading span {
  color: #383838;
}
.container form .payment-details-container .contents .total-price-wrapper .products-total-price-wrapper .content {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.container form .payment-details-container .contents .total-price-wrapper .delivery-total-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 5px 0;
}
.container form .payment-details-container .contents .total-price-wrapper .delivery-total-price-wrapper .heading {
  width: 155px;
}
.container form .payment-details-container .contents .total-price-wrapper .delivery-total-price-wrapper .heading span {
  color: #383838;
}
.container form .payment-details-container .contents .total-price-wrapper .delivery-total-price-wrapper .content {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.container form .payment-details-container .contents .total-price-wrapper .discount-total-price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 5px 0;
}
.container form .payment-details-container .contents .total-price-wrapper .discount-total-price-wrapper .heading {
  width: 155px;
}
.container form .payment-details-container .contents .total-price-wrapper .discount-total-price-wrapper .heading span {
  color: #383838;
}
.container form .payment-details-container .contents .total-price-wrapper .discount-total-price-wrapper .content {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.container form .payment-details-container .contents .total-price-wrapper .discount-total-price-wrapper .content .price {
  color: #e04444;
}
.container form .payment-details-container .contents .order-total-price-wrapper {
  background-color: #f4f7ff;
  padding: 15px 16px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container form .payment-details-container .contents .order-total-price-wrapper .heading {
  margin: 0 4px 0 0;
  font-size: 18px;
  line-height: 22px;
}
.container form .payment-details-container .contents .order-total-price-wrapper .heading strong {
  font-weight: 500;
}
.container form .payment-details-container .contents .order-total-price-wrapper .content {
  color: #333 !important;
  font-size: 22px;
  font-weight: 700;
}
.container form .payment-options-container .contents .payment-options {
  padding: 0 15px 20px;
  font-weight: 400;
  color: #383838;
  font-size: 18px;
}
.container form .payment-options-container .contents .payment-options .custom-radio {
  color: #383838;
  font-size: 16px;
  text-transform: capitalize;
  display: block;
  position: relative;
  padding-top: 4px;
  padding-left: 30px;
  margin: 0 0 20px;
}
.container form .payment-options-container .contents .payment-options .custom-radio input {
  display: none;
}
.container form .payment-options-container .contents .payment-options .custom-radio input:checked ~ span {
  border: 6px solid #3971ff;
}
.container form .payment-options-container .contents .payment-options .custom-radio span {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 6px solid #e2e5ea;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
}
.container form .payment-options-container .contents .payment-options .credit-card {
  display: block;
  font-size: 15px;
  padding: 17px 25px;
  border: 1px solid #3971ff;
  color: #3971ff;
  font-weight: 700;
  cursor: pointer;
}
.container form .payment-options-container .contents .help-message-wrapper {
  padding: 0 16px 15px;
  background-color: #fafafd;
}
.container form .payment-options-container .contents .help-message-wrapper .help-msg {
  display: block;
  padding: 13px 10px 13px;
  border: 1px solid #eaeaea;
  font-size: 13px;
  color: #797979;
}
.container form .point-earn-price-container {
  margin-bottom: 10px;
  border-bottom: 1px solid #d7d5d5;
}
.container form .point-earn-price-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 48px;
}
.container form .point-earn-price-container .title .text-box {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 400;
}
.container form .point-earn-price-container .title .text-box .total {
  color: #333;
}
.container form .point-earn-price-container .contents .reward-wrapper {
  padding: 0 16px 20px;
  font-size: 16px;
  color: #383838;
}
.container form .point-earn-price-container .contents .reward-wrapper .product-reward-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container form .point-earn-price-container .contents .reward-wrapper .product-reward-wrapper .heading {
  width: 160px;
  padding: 0 0 5px 0;
}
.container form .point-earn-price-container .contents .reward-wrapper .product-reward-wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding: 0 0 5px 0;
}
.container form .point-earn-price-container .contents .reward-wrapper .member-reward-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container form .point-earn-price-container .contents .reward-wrapper .member-reward-wrapper .heading {
  width: 160px;
  padding: 5px 0;
}
.container form .point-earn-price-container .contents .reward-wrapper .member-reward-wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding: 5px 0;
}
.container form .point-earn-price-container .contents .reward-wrapper .coupon-reward-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container form .point-earn-price-container .contents .reward-wrapper .coupon-reward-wrapper .heading {
  width: 160px;
  padding: 5px 0;
}
.container form .point-earn-price-container .contents .reward-wrapper .coupon-reward-wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding: 5px 0;
}
.container form .point-earn-price-container .contents .total-reward-wrapper {
  padding: 15px 16px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-all;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container form .point-earn-price-container .contents .total-reward-wrapper .heading {
  width: 160px;
}
.container form .point-earn-price-container .contents .total-reward-wrapper .heading strong {
  font-weight: 500;
}
.container form .point-earn-price-container .contents .total-reward-wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
.container form .point-earn-price-container .contents .total-reward-wrapper .content strong {
  color: #333;
}
.container form .button-container .order-btn {
  width: 100%;
  border: 1px solid #333 !important;
  background: #333 !important;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  color: #fff;
  letter-spacing: -0.4px;
}
.container form .help-area {
  padding: 30px 16px;
  background-color: #fafafd;
}
.container form .help-area span {
  letter-spacing: -1px;
  color: #797979;
  font-size: 13px;
}