@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "JeonjuCraftMjB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftMjB.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px 10px;
  color: #fff;
}

/* custom css start */
main {
  display: flex;
  min-height: 100vh;
}
main .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 300px;
  flex: 1 1 0;
  padding: 3rem 2rem;
  background-color: #F8F9FA;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: 0.2s linear;
}
main .sidebar .top_logo {
  font-family: "JeonjuCraftMjB";
}
main .sidebar .top_logo h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: bold;
}
main .sidebar .top_nav {
  height: 40px;
  margin: 20px 0 30px;
}
main .sidebar .top_nav li {
  display: inline-block;
}
main .sidebar .top_nav li a {
  display: block;
  padding: 0 7px 0 0;
  font-size: 10px;
  letter-spacing: 1px;
  transition: 0.3s;
  font-weight: 400;
  font-family: Arial, sans-serif;
}
main .sidebar .top_nav li a:hover {
  color: #cccccc;
}
main .sidebar .top_menu {
  display: flex;
  margin-bottom: 50px;
}
main .sidebar .top_menu .category,
main .sidebar .top_menu .boardinfo {
  width: 50%;
}
main .sidebar .top_menu .category > h2,
main .sidebar .top_menu .boardinfo > h2 {
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
  font-weight: bold;
  color: #353535;
}
main .sidebar .top_menu .category > ul > li,
main .sidebar .top_menu .boardinfo > ul > li {
  width: 110px;
  margin-right: 15px;
  height: 22px;
}
main .sidebar .top_menu .category > ul > li a,
main .sidebar .top_menu .boardinfo > ul > li a {
  display: block;
  text-align: left;
  color: #000;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.1em;
}
main .sidebar .top_menu .category > ul > li:hover,
main .sidebar .top_menu .boardinfo > ul > li:hover {
  color: #cccccc;
}
main .sidebar .top_menu .category ul li {
  position: relative;
}
main .sidebar .top_menu .category ul li .sub_category {
  position: absolute;
  display: none;
  width: 170px;
  background-color: #fff;
  padding: 15px 15px;
  top: -22px;
  right: -150px;
  z-index: 100;
  border: 1px solid #f1f1f1;
}
main .sidebar .top_menu .category ul li .sub_category ul li {
  background-color: #fff;
  padding: 4px 7px;
}
main .sidebar .top_menu .category ul li .sub_category ul li a {
  display: block;
  color: #000;
}
main .sidebar .top_menu .category ul li .sub_category ul li a:hover {
  color: #000;
}
main .sidebar .top_menu .category ul li .sub_category ul li:has(a:hover) {
  background-color: #f0f0f0;
}
main .sidebar .top_menu .category ul li:hover .sub_category {
  display: block;
}
main .sidebar .search_form {
  margin-bottom: 30px;
}
main .sidebar .search_form form > input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  width: 200px;
  outline: none;
  font-size: 12px;
}
main .sidebar .search_form .fz16 {
  vertical-align: middle;
  font-size: 16px;
  cursor: pointer;
}
main .sidebar .menu_cs > ul > li:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
main .sidebar .menu_cs > ul > li:nth-child(2) {
  font-size: 11px;
}
main .content {
  flex: 1 1 0;
  padding-top: 70px;
  padding-left: 300px;
  /* footer */
}
main .content nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px 5%;
  background-color: #fff;
  height: 70px;
  z-index: 99;
}
main .content nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content nav .menu .menu_link {
  display: flex;
  gap: 30px;
}
main .content nav .menu .menu_link li {
  padding: 20px 0;
}
main .content nav .menu .menu_link li a {
  font-size: 13px;
}
main .content nav .menu .menu_link li .account_menu {
  position: absolute;
  display: none;
  width: 140px;
  background-color: #fff;
  padding: 10px 10px;
  top: 85%;
  left: -25%;
  z-index: 100;
  border: 1px solid #f1f1f1;
}
main .content nav .menu .menu_link li .account_menu ul li {
  background-color: #fff;
  padding: 4px 7px;
}
main .content nav .menu .menu_link li .account_menu ul li a {
  color: #000;
  display: block;
}
main .content nav .menu .menu_link li .account_menu ul li a:hover {
  color: #000;
}
main .content nav .menu .menu_link li .account_menu ul li:has(a:hover) {
  background-color: #f0f0f0;
}
main .content nav .menu .menu_link li:nth-child(2) {
  cursor: pointer;
  position: relative;
}
main .content nav .menu .menu_link li:nth-child(2):hover .account_menu {
  display: block;
}
main .content nav .menu_toggle {
  display: none;
}
main .content nav .menu_toggle input {
  display: none;
}
main .content nav .menu_toggle label {
  width: 35px;
  height: 25px;
  display: block;
  position: relative;
  cursor: pointer;
}
main .content nav .menu_toggle label span {
  position: absolute;
  height: 3px;
  border-radius: 99px;
  background-color: #000;
  width: 100%;
  left: 0;
  transition: 0.3s;
}
main .content nav .menu_toggle label span:nth-child(1) {
  top: 0;
}
main .content nav .menu_toggle label span:nth-child(2) {
  top: 50%;
}
main .content nav .menu_toggle label span:nth-child(3) {
  top: 100%;
}
main .content nav .menu_toggle input:checked + label span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
main .content nav .menu_toggle input:checked + label span:nth-child(2) {
  opacity: 0;
}
main .content nav .menu_toggle input:checked + label span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
main .content #wishlist .wishlist .wishlist_header h2 {
  font-size: 15px;
  text-align: center;
}
main .content #wishlist .wishlist .wishlist_header .divider {
  width: 70px;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}
main .content #wishlist .wishlist .wishlist_body {
  width: 100%;
  margin: 0 auto;
}
main .content #wishlist .wishlist .wishlist_body table {
  font-size: 12px;
}
main .content #wishlist .wishlist .wishlist_body table thead th {
  padding: 15px 0 14px;
  border-bottom: 1px solid #e5e5e5;
  color: #353535;
  vertical-align: middle;
  font-weight: normal;
  background: #fff;
  text-align: center;
}
main .content #wishlist .wishlist .wishlist_body table tbody {
  vertical-align: middle;
  text-align: center;
}
main .content #wishlist .wishlist .wishlist_body table tbody tr td {
  padding: 15px 5px 14px;
  border-top: 1px solid #e5e5e5;
  color: #353535;
}
main .content #wishlist .wishlist .wishlist_body table tbody tr td a {
  width: 90px;
  margin: 1px 0;
}
main .content #wishlist .wishlist .wishlist_body table tbody tr td a.btn_submit {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid transparent;
  border-radius: 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  word-spacing: -0.5px;
  letter-spacing: 0;
  white-space: nowrap;
  color: #fff;
  background-color: #000;
}
main .content #wishlist .wishlist .wishlist_body table tbody tr td a.btn_normal {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #e2e2e2;
  border-radius: 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  word-spacing: -0.5px;
  letter-spacing: 0;
  white-space: nowrap;
  color: #222;
  background-color: #fff;
}
main .content #wishlist .wishlist .wishlist_body table tbody tr td.left {
  padding-left: 20px;
  text-align: left;
}
main .content #wishlist .wishlist .wishlist_btn {
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  overflow: hidden;
}
main .content #wishlist .wishlist .wishlist_btn .left {
  float: left;
  text-align: left;
}
main .content #wishlist .wishlist .wishlist_btn .left .text {
  margin: 0 6px 0 10px;
  color: #353535;
  line-height: 24px;
}
main .content #wishlist .wishlist .wishlist_btn .left .btn_del {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #e2e2e2;
  line-height: 18px;
  vertical-align: middle;
  word-spacing: -0.5px;
  color: #222;
  background-color: #fff;
}
main .content #wishlist .wishlist .wishlist_btn .left .btn_cart {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #e2e2e2;
  line-height: 18px;
  vertical-align: middle;
  word-spacing: -0.5px;
  color: #222;
  background-color: #fff;
}
main .content #wishlist .wishlist .wishlist_btn .right {
  float: right;
  text-align: right;
}
main .content #wishlist .wishlist .wishlist_btn .right .btn_order {
  display: inline-block;
  padding: 10px 8px;
  font-size: 13px;
  width: 130px;
  border: 1px solid transparent;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background-color: #151515;
}
main .content #wishlist .wishlist .wishlist_btn .right .btn_del_all {
  display: inline-block;
  padding: 10px 8px;
  font-size: 13px;
  border: 1px solid #e2e2e2;
  line-height: 18px;
  text-align: center;
  color: #222;
  background-color: #fff;
}
main .content #wishlist .wishlist .pagenation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  line-height: 50px;
  font-size: 13px;
}
main .content #wishlist .wishlist .pagenation ul li {
  margin: 0 15px;
}
main .content #wishlist .wishlist .pagenation ul li a {
  color: #999;
}
main .content #wishlist .wishlist .pagenation ul .page {
  text-align: center;
}
main .content #wishlist .wishlist .pagenation ul .page:hover a {
  color: #000;
  font-weight: bold;
}
main .content #wishlist .wishlist .pagenation ul .page.active a {
  color: #000;
  font-weight: bold;
  text-decoration-line: underline;
}
main .content #wishlist .wishlist .pagenation ul .prev,
main .content #wishlist .wishlist .pagenation ul .next {
  color: rgb(50, 50, 50);
  font-size: 13px;
}
main .content #wishlist .wishlist .pagenation ul .prev {
  margin-right: 20px;
}
main .content #wishlist .wishlist .pagenation ul .next {
  margin-left: 20px;
}
main .content footer {
  padding: 100px 0;
}
main .content footer .footer_header {
  text-align: center;
  line-height: 35px;
  height: 35px;
}
main .content footer .footer_header ul li {
  display: inline-block;
  padding: 0 10px;
}
main .content footer .footer_header ul li a {
  color: #333;
  font-family: "Open Sasns", sans-serif;
  font-size: 12px;
}
main .content footer .footer_address {
  text-align: center;
  padding: 22px 0 0 0;
  color: #333;
  line-height: 18px;
  font-size: 11px;
  letter-spacing: 0.05em;
}
main .content footer .footer_address span {
  display: inline-block;
}
main .content footer .footer_address .shop_black {
  padding: 0 3px;
}
main .content footer .footer_copyright {
  height: 32px;
  color: #aaa;
  font-size: 11px;
  line-height: 32px;
  text-align: center;
}

@media (max-width: 786px) {
  main .sidebar {
    position: fixed;
    left: -300px;
    width: 100%;
  }
  main .sidebar.active {
    left: 0;
  }
  main .content {
    padding-left: 0;
  }
  main .content nav .menu {
    display: none;
  }
  main .content nav .menu_toggle {
    display: block;
  }
}/*# sourceMappingURL=wishlist.css.map */