<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/defaultLayout.html :: head"></div>
</head>

<body>

<main>
    <div th:replace="/layouts/defaultLayout.html :: sidebar"></div>

    <article class="content">
        <div th:replace="/layouts/defaultLayout.html :: nav"></div>

        <!-- findAccount section -->
        <section id="find_id">
            <div class="container find_id">
                <div class="section_header">
                    <h2>아이디 찾기 결과</h2>
                    <div class="divider"></div>
                </div>

                <div class="find_id_body mt-5">
                    <div class="message_box">
                        <p th:if="${not #strings.isEmpty(result)}"><i class="fa-solid fa-circle-user"></i>회원님의 아이디는 <span th:text="${result}"></span> 입니다.</p>
                        <p th:if="${#strings.isEmpty(result)}"><i class="fa-solid fa-circle-user"></i>등록된 아이디가 없습니다.</p>
                    </div>

                    <div class="btn_box">
                        <button onclick="location.href='/login'">로그인페이지 이동</button>
                        <button onclick="location.href='/find/account?type=findPw'">비밀번호 찾기</button>
                    </div>
                </div>
            </div>
        </section>

        <div th:replace="/layouts/defaultLayout.html :: footer"></div>
    </article>
</main>

<div th:replace="/layouts/defaultLayout.html :: commonJs"></div>
<!-- 사용자 JS -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">
</script>
</body>
</html>