<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/defaultLayout.html :: head"></div>
</head>

<body>
    <main>
        <div th:replace="/layouts/defaultLayout.html :: sidebar"></div>

        <article class="content">
            <div th:replace="/layouts/defaultLayout.html :: nav"></div>

            <!-- signup section -->
            <section id="signup">
                <div class="container signup">
                    <div class="section_header">
                        <h2>JOIN</h2>
                        <div class="divider"></div>
                    </div>
                    <div class="signup_body mt-5">
                        <form id="signUpFormDto" th:action="@{/signUp}" th:object="${signUpFormDto}" method="post"
                            onsubmit="return chkPW()">
                            <table style="table-layout: fixed !important;">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width: auto;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{userIdentifier}">아이디 <span>*</span></label>
                                        </th>
                                        <td>
                                            <div class="id_input_box">
                                                <input class="id_input" th:field="*{userIdentifier}" type="text"
                                                    minlength="5" maxlength="20">
                                                (영문 소문자/숫자, 5~20자)
                                            </div>
                                            <span class="id_input_re_1 text-success">사용 가능한 아이디입니다.</span>
                                            <span class="id_input_re_2 text-danger">아이디가 이미 존재합니다.</span>
                                            <span class="final_id_ck text-danger">아이디를 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{password}">비밀번호 <span>*</span></label>
                                        </th>
                                        <td>
                                            <div class="password_input_box">
                                                <input class="pw_input" th:field="*{password}" type="password"
                                                    minlength="8" maxlength="20">
                                                (영문 대소문자/숫자, 8~20자)
                                            </div>
                                            <span class="final_pw_ck text-danger">비밀번호를 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{passwordConfirm}">비밀번호 확인 <span>*</span></label>
                                        </th>
                                        <td>
                                            <div class="password_confirm_input_box">
                                                <input class="pwck_input" th:field="*{passwordConfirm}" type="password"
                                                    minlength="8" maxlength="20">
                                                (영문 대소문자/숫자, 8~20자)
                                            </div>
                                            <span class="pwck_input_re_1 text-success">비밀번호가 일치합니다.</span>
                                            <span class="pwck_input_re_2 text-danger">비밀번호가 일치하지 않습니다.</span>
                                            <span class="final_pwck_ck text-danger">비밀번호 확인을 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{name}">이름 <span>*</span></label>
                                        </th>
                                        <td>
                                            <div class="name_input_box">
                                                <input class="name_input" th:field="*{name}" type="text">
                                            </div>
                                            <span class="final_name_ck text-danger">이름을 입력해주세요.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{email}">이메일 <span>*</span></label>
                                        </th>
                                        <td>
                                            <div class="mail_input_box mb-1">
                                                <input class="mail_input" th:field="*{email}" type="email">
                                                <button type="button" class="send_mail">전송</button>
                                            </div>
                                            <div class="mail_check_box">
                                                <input class="mail_check_input" disabled="disabled">
                                                <button type="button" class="check_number"
                                                    onclick="confirmNumber()">확인</button>
                                            </div>
                                            <span class="final_mail_ck text-danger">이메일을 입력해주세요.</span>
                                            <span class="need_mail_check text-danger">이메일 인증이 필요합니다.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{address1}">주소 <span>*</span></label>
                                        </th>
                                        <td>
                                            <input th:field="*{address1}" class="address_input_1 mb-1"
                                                readonly="readonly">
                                            <button type="button" class="find_addr white_btn_w65_h30"
                                                onclick="execution_daum_address()">주소 찾기</button>
                                            <div class="clearfix"></div>
                                            <input th:field="*{address2}" class="address_input_2 d-block w-50 mb-1"
                                                readonly="readonly">
                                            <input th:field="*{address3}" class="address_input_3 d-block w-50 mb-1"
                                                readonly="readonly">
                                            <span class="final_addr_ck text-danger">주소를 입력해주세요.</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btn_box">
                                <button class="signup_btn black_btn_w130_h40" type="submit">회원가입</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <div th:replace="/layouts/defaultLayout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="/layouts/defaultLayout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        /* 유효성 검사 통과유무 변수 */
        let code = ""; // 이메일 전송 인증번호 저장 변수
        let id_check = false;            // 아이디
        let idck_check = false;          // 아이디 중복 검사
        let pw_check = false;            // 비번
        let pwck_check = false;          // 비번 확인
        let pwckcor_check = false;       // 비번 확인 일치 확인
        let name_check = false;          // 이름
        let mail_check = false;          // 이메일
        let mailnum_check = false;       // 이메일 인증번호 확인
        let address_check = false        // 주소


        $(document).ready(function () {
            //회원가입 버튼(회원가입 기능 작동)
            $(".signup_btn").click(function () {
                /* 입력값 변수 */
                let id = $('.id_input').val(); // id 입력란
                let pw = $('.pw_input').val(); // 비밀번호 입력란
                let pwck = $('.pwck_input').val(); // 비밀번호 확인 입력란
                let name = $('.name_input').val(); // 이름 입력란
                let mail = $('.mail_input').val(); // 이메일 입력란
                let address = $('.address_input_3').val(); // 주소 입력란

                /* 아이디 유효성검사 */
                if (id === "") {
                    $('.final_id_ck').css('display', 'inline-block')
                    id_check = false;
                } else {
                    $('.final_id_ck').css('display', 'none')
                    id_check = true;
                }

                /* 비밀번호 유효성 검사 */
                if (pw === "") {
                    $('.final_pw_ck').css('display', 'inline-block')
                    pw_check = false;
                } else {
                    $('.final_pw_ck').css('display', 'none')
                    pw_check = true;
                }

                /* 비밀번호 확인 유효성 검사 */
                if (pwck === "") {
                    $('.final_pwck_ck').css('display', 'inline-block')
                    pwck_check = false;
                } else {
                    $('.final_pwck_ck').css('display', 'none')
                    pwck_check = true;
                }

                /* 이름 유효성 검사 */
                if (name === "") {
                    $('.final_name_ck').css('display', 'inline-block')
                    name_check = false;
                } else {
                    $('.final_name_ck').css('display', 'none')
                    name_check = true;
                }

                /* 이메일 유효성 검사 */
                if (mail === "") {
                    $('.final_mail_ck').css('display', 'inline-block')
                    mail_check = false;
                } else {
                    $('.final_mail_ck').css('display', 'none')
                    mail_check = true;
                }

                /* 주소 유효성 검사 */
                if (address === "") {
                    $('.final_addr_ck').css('display', 'inline-block')
                    address_check = false;
                } else {
                    $('.final_addr_ck').css('display', 'none')
                    address_check = true;
                }

                /* 최종 유효성 검사 */
                if (id_check && idck_check && pw_check && pwck_check && pwckcor_check && name_check && mail_check && mailnum_check && address_check) {
                    $('#signUpFormDto').attr("action", "/signUp");
                    $('#signUpFormDto').submit();
                }
                return false;
            });
        });

        //아이디 중복검사
        $('.id_input').on("propertychange change keyup paste input", function () {
            const userId = $('.id_input').val();
            const data = { userId: userId }

            $.ajax({
                type: "POST",
                url: "/check/id",
                data: data,
                success: function (result) {
                    if (result === true && userId.length > 4) {
                        $('.id_input_re_1').css("display", "inline-block");
                        $('.id_input_re_2').css("display", "none");
                        $('.final_id_ck').css("display", "none");
                        idck_check = true;
                    } else if (userId.length < 5) {
                        $('.id_input_re_2').css("display", "none");
                        $('.id_input_re_1').css("display", "none");
                        $('.final_id_ck').css("display", "none");
                        idck_check = false;
                    }
                },
                error: function (request, status, error) {
                    $('.id_input_re_2').css("display", "inline-block");
                    $('.id_input_re_1').css("display", "none");
                    $('.final_id_ck').css("display", "none");
                    idck_check = false;
                },
            })
        })

        /* 비밀번호 확인 일치 유효성 검사 */
        $('.pwck_input').on("propertychange change keyup paste input", function () {
            let pw = $('.pw_input').val();
            let pwck = $('.pwck_input').val();

            if (pw === pwck) {
                $('.pwck_input_re_1').css('display', 'inline-block');
                $('.pwck_input_re_2').css('display', 'none');
                $('.final_pwck_ck').css('display', 'none');
                $('.final_pw_ck').css('display', 'none');
                pwckcor_check = true;
            } else {
                $('.pwck_input_re_1').css('display', 'none');
                $('.pwck_input_re_2').css('display', 'inline-block');
                $('.final_pwck_ck').css('display', 'none');
                $('.final_pw_ck').css('display', 'none');
                pwckcor_check = false;
            }
        })

        /* 비밀번호 유효성 검사 */
        function chkPW() {
            var pw = $(".pw_input").val();
            var pwck = $(".pwck_input").val();
            var num = pw.search(/[0-9]/g);
            var eng = pw.search(/[a-z]/ig);

            if (pw.length < 8 || pw.length > 20) {
                alert("8자리 ~ 20자리 이내로 입력해주세요.");
                return false;
            } else if (pw.search(/\s/) != -1) {
                alert("비밀번호는 공백 없이 입력해주세요.");
                return false;
            } else if (num < 0 || eng < 0) {
                alert("영문,숫자를 혼합하여 입력해주세요.");
                return false;
            } else {
                return true;
            }

            if (pwck.length < 8 || pwck.length > 20) {
                alert("8자리 ~ 20자리 이내로 입력해주세요.");
                return false;
            } else if (pw.search(/\s/) != -1) {
                alert("비밀번호는 공백 없이 입력해주세요.");
                return false;
            } else if (num < 0 || eng < 0) {
                alert("영문,숫자를 혼합하여 입력해주세요.");
                return false;
            } else {
                return true;
            }
        }

        // 이메일 전송
        $(".send_mail").click(function () {
            let email = $(".mail_input").val(); // 입력한 이메일
            let check_input = $(".mail_check_input"); // 인증 번호 입력란

            if (confirm("인증번호를 전송하시겠습니까?")) {
                if (mail_form_check(email)) {
                    $.ajax({
                        type: "GET",
                        url: "/check/email?email=" + email,
                        success: function (data) {
                            check_input.css("background-color", "white");
                            check_input.attr("disabled", false);
                            code = data;
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                } else {
                    alert("올바른 이메일을 입력해주세요.");
                }
            } else {
                return false;
            }
        })

        // 인증 번호 일치 여부
        function confirmNumber() {
            let check_input = $(".mail_check_input"); // 인증 번호 입력란
            let input_code = $(".mail_check_input").val(); // 사용자가 입력한 인증 번호
            let mail_input = $(".mail_input");
            let send_mail_btn = $(".send_mail");

            if (input_code === code) {
                alert("인증되었습니다.");
                check_input.css("background-color", "#fafafa");
                check_input.attr("disabled", true);
                send_mail_btn.css("display", "none");
                mail_input.attr("readonly", true);
                mailnum_check = true;
            } else {
                alert("인증번호를 다시 확인해주세요.");
                mailnum_check = false;
            }
        }

        // 입력 이메일 형식 유효성 검사
        function mail_form_check(email) {
            let form = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return form.test(email);
        }

        // 다음 주소 연동
        function execution_daum_address() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let addr = ''; // 주소 변수
                    let extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        addr += extraAddr;
                    } else {
                        addr += ' ';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    $(".address_input_1").val(data.zonecode);
                    $(".address_input_2").val(addr);
                    // 커서를 상세주소 필드로 이동한다.
                    $(".address_input_3").attr("readonly", false);
                    $(".address_input_3").focus();
                }
            }).open();
        }

        $('.mail_url_select').change(function () {
            let mailUrlInput = $('.mail_url_input');
            let mailUrlSelect = $('.mail_url_select');

            if (mailUrlSelect.val() === 'directly') {
                mailUrlInput.attr("disabled", false);
                mailUrlInput.val("");
                mailUrlInput.focus();
            } else {
                mailUrlInput.val(mailUrlSelect.val());
            }
        })
    </script>
</body>