@import "../../../abstracts/variables";

.admin-order-form-body {
    min-width: 1200px;

    .order-info-container,
    .payment-info-container,
    .order-products-container,
    .shipping-info-container {
        .title {
            margin: 40px 0 10px 10px;

            h3 {
                font-size: 16px;
                color: $graphite;
                margin: 0;
                padding: 0;
                font-weight: bold;
            }
        }
    }

    .order-info-container {
        .table-wrapper {
            .base-table {
                .base-table__head {
                    .base-table__row {
                        .base-table__header-cell {
                            border-right: 1px solid #e5e5e5;
                        }
                    }
                }
            }
        }
    }

    .payment-info-container {
    }

    .order-products-container {
        overflow-x: auto;
        .table-wrapper {
            min-width: 830px;
            .base-table {
                .base-table__head {
                    .base-table__row {
                        .base-table__header-cell {
                        }
                    }
                }
                .base-table__body {
                    .base-table__row {
                        .base-table__cell {
                            .order-quantity-input {
                                width: 50px;
                            }

                            .option-change-wrap {
                                .option-change-btn {
                                }
                                .option-change {
                                    display: none;
                                    width: 450px;
                                    color: #707070;
                                    position: absolute;
                                    z-index: 100;
                                    border: 1px solid #757575;
                                    background: #fff;
                                    .header {
                                        padding: 7px 35px 7px 19px;
                                        color: #fff;
                                        background: #222;
                                        h3 {
                                            font-size: 14px;
                                            line-height: 1.5;
                                            font-weight: bold;
                                            margin: 0;
                                        }
                                    }
                                    .content {
                                        padding: 20px;
                                        font-size: 12px;
                                        .product-name {
                                            margin: 0 0 10px;
                                            padding: 0 0 10px;
                                            border-bottom: 1px dotted #b0b1b3;
                                            line-height: 1.5;
                                            color: #353535;
                                            font-weight: bold;
                                        }
                                        .modify {
                                            h4 {
                                                color: #353535;
                                                font-size: 12px;
                                                margin: 0;
                                                font-weight: bold;
                                            }
                                            ul {
                                                li {
                                                    padding: 6px 0 0;
                                                    span {
                                                        float: left;
                                                        width: 110px;
                                                        margin: 3px 0 0;
                                                    }
                                                    select {
                                                        float: right;
                                                        width: 294px;
                                                        font-size: 12px;
                                                        height: 30px !important;
                                                        line-height: 29px !important;
                                                        min-height: 30px !important;
                                                        border: 1px solid #ddd !important;
                                                        padding: 0 20px 0 10px !important;
                                                        outline: none;
                                                    }

                                                    &::after {
                                                        content: "";
                                                        display: block;
                                                        clear: both;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .button-wrap {
                                        border-top: none;
                                        background: none;
                                        padding: 9px;
                                        text-align: center;
                                    }
                                    .close-btn {
                                        position: absolute;
                                        right: 0px;
                                        top: 0px;
                                        padding: 6px 17px;
                                        cursor: pointer;
                                        .xi-close {
                                            color: white;
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .base-table__footer {
                    .base-table__row {
                        .base-table__cell {
                        }
                    }
                }
            }
        }
    }

    .shipping-info-container {
        .table-wrapper {
            .base-table {
                .base-table__head {
                    .base-table__row {
                        .base-table__header-cell {
                            border: 1px solid #e5e5e5;
                            border-bottom-width: 0;
                            border-left: 0;
                        }
                    }
                }
            }
        }
    }

    .button-container {
        width: 90%;
        margin: 0 auto;
        padding: 10px 0;
        text-align: center;
    }
}

.total-detail-container {
    display: block;
    position: absolute;
    z-index: 100;
    border: 1px solid #757575;
    background: #fff;
    width: 300px;
    color: #757575;
    top: 416px;
    left: 669px;

    .header {
        padding: 7px 35px 7px 19px;
        color: #fff;
        background: #222;

        h3 {
            font-size: 14px;
            line-height: 1.5;
            margin: 0;
        }
    }
    .content {
        padding: 20px;
        font-size: 12px;

        p {
            margin: 0 0 8px;
            padding: 0 0 10px;
            color: #000;
            font-size: 16px;
            font-weight: bold;
            text-align: right;
            border-bottom: 1px dotted #b0b1b3;
        }

        ul {
            overflow: hidden;
            text-align: left;

            li {
                .term {
                    position: relative;
                    padding: 0 4px 0 10px;
                    width: 50%;
                    float: left;
                    margin: 0 0 2px;
                    line-height: 22px;
                    font-weight: normal;

                    &:before {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        content: "";
                        display: block;
                        width: 2px;
                        height: 2px;
                        margin: -2px 0 0 0;
                        background: #383838;
                    }
                }

                .desc {
                    padding-right: 0;
                    text-align: right;
                    padding: 0 0 0 50%;
                    display: block;
                    margin: 0 0 2px;
                    min-height: 22px;
                    line-height: 22px;
                    word-wrap: break-word;
                    word-break: break-all;
                }
            }
        }
    }

    .close {
        position: absolute;
        right: -7px;
        top: -5px;
        padding: 11px 20px;
        cursor: pointer;

        svg {
            color: white;
        }
    }
}
