@import "../../../abstracts/variables";

.order-mng-body {
    .order-list-container {
        overflow-x: auto;

        table {
            min-width: 1300px;
        }
    }

    .search-input-container {
        @include search-input-container();
    }
}

@media (max-width: 1200px) {
    .order-mng-body {
        width: 100%;
    }
}
