<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/admin-layout.html :: head"></div>
</head>

<body>
    <main class="admin-main-area">
        <div th:replace="/layouts/admin-layout.html :: sidebar(currentMenu='orderManagement')"></div>

        <article class="admin-content-area">
            <div th:replace="/layouts/admin-layout.html :: nav"></div>

            <!-- section start -->
            <section class="admin-section-area">
                <div class="container-fluid">

                    <div class="section-header">
                        <h2>주문 관리</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section-body order-mng-body">
                        <div class="order-list-container">

                            <div class="table-wrapper">
                                <table class="base-table base-table--multi-columns">
                                    <thead class="base-table__head">
                                        <tr class="base-table__row">
                                            <th class="base-table__header-cell" style="width: 80px;" scope="col">주문 번호</th>
                                            <th class="base-table__header-cell" style="width: 110px;" scope="col">이미지</th>
                                            <th class="base-table__header-cell" style="width: auto;" scope="col">상품 정보</th>
                                            <th class="base-table__header-cell" style="width: 110px;" scope="col">주문자 아이디</th>
                                            <th class="base-table__header-cell" style="width: 110px;" scope="col">주문 날짜</th>
                                            <th class="base-table__header-cell" style="width: 110px;" scope="col">주문 상태</th>
                                            <th class="base-table__header-cell" style="width: 110px;" scope="col">취소</th>
                                        </tr>
                                    </thead>

                                    <tbody class="base-table__body">
                                        <tr class="base-table__row" th:if="${#lists.isEmpty(orders.getContent())}">
                                            <td class="base-table__cell base-table__cell--empty" colspan="7">
                                                <span class="base-table__message">주문 내역이 없습니다.</span>
                                            </td>
                                        </tr>

                                        <th:block th:each="order, status: ${orders.getContent()}">
                                            <tr class="base-table__row" th:each="orderProduct, status: ${order.orderHistProductList}">
                                                <td class="base-table__cell" th:if="${status.index == 0}" th:rowspan="${#lists.size(order.orderHistProductList)}">
                                                    <span th:text="${order.orderId}"></span>
                                                </td>
                                                <td class="base-table__cell base-table__cell--thumbnail">
                                                    <a th:href="${'/product/' + orderProduct.id}">
                                                        <img class="base-table__image" th:src="${orderProduct.imageUrl}">
                                                    </a>
                                                </td>
                                                <td class="base-table__cell left">
                                                    <a class="base-table__product-name" th:href="${'/product/' + orderProduct.id}" th:text="${orderProduct.name}"></a>
                                                    <div class="mt5">[옵션: 선택 X]</div>
                                                </td>
                                                <td class="base-table__cell">
                                                    <span th:text="${order.buyerId}"></span>
                                                </td>
                                                <td class="base-table__cell">
                                                    <span th:text="${order.orderDate}"></span>
                                                </td>
                                                <td class="base-table__cell">
                                                    <span th:text="${order.orderStatus}"></span>
                                                </td>
                                                <td class="base-table__cell" th:if="${status.index == 0}" th:rowspan="${#lists.size(order.orderHistProductList)}">
                                                    <button th:if="${order.orderStatus.displayName == '배송준비중'}" class="button button--black button--65x30" type="button" th:value="${order.orderId}" onclick="cancelOrder(this.value)">주문 취소</button>
                                                    <div th:if="${order.orderStatus.displayName == '결제취소'}">-</div>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="pagination-container"
                            th:with="start=${(orders.number/maxPage)*maxPage + 1},
                                 end=(${(orders.totalPages == 0) ? 1 :
                                 (start + (maxPage - 1) < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})">
                            <ul>
                                <li class="prev" th:classappend="${orders.first} ? 'disabled'">
                                    <a th:onclick="'javascript:goToPage(0)'">
                                        <i class="fa-solid fa-angle-left"></i><i
                                            class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="prev" th:classappend="${orders.first} ? 'disabled'">
                                    <a th:onclick="'javascript:goToPage(' +  ${orders.number - 1} + ')'">
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page" th:each="page: ${#numbers.sequence(start, end)}"
                                    th:classappend="${orders.number eq page - 1} ? 'active' : ''">
                                    <a th:onclick="'javascript:goToPage(' + ${page - 1} + ')'"
                                        th:inline="text">[[${page}]]</a>
                                </li>
                                <li class="next" th:classappend="${orders.last} ? 'disabled'">
                                    <a th:onclick="'javascript:goToPage(' + ${orders.number + 1} + ')'">
                                        <i class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="next" th:classappend="${orders.last} ? 'disabled'">
                                    <a th:onclick="'javascript:goToPage(' + ${orders.totalPages - 1} + ')'">
                                        <i class="fa-solid fa-angle-right"></i><i
                                            class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="search-input-container">
                            <i class="fa-solid fa-angle-right"></i>
                            <span class="txt">검색어</span>
                            <select class="search-type">
                                <option value="">아이디</option>
                            </select>
                            <input class="userid-input" name="userIdentifier" type="text"
                                   placeholder="주문자 아이디를 입력해주세요">
                            <button class="search-btn button button--white button--90x30" type="button">검색</button>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="/layouts/admin-layout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="/layouts/admin-layout.html :: commonJs"></div>
    <!-- custom js -->
    <script th:inline="javascript">
        $(function () {
            /* 검색 버튼 클릭 처리 */
            $(".search-btn").click(handleSearchButtonClick);
        });

        /* 주문 취소 함수 */
        function cancelOrder(orderId) {
            if (confirm("선택하신 주문을 취소하시겠습니까?")) {
                $.ajax({
                    url: "/admin/order/" + orderId + "/cancel",
                    type: "POST",
                    dataType: "text",
                    success: function () {
                        alert("주문이 취소되었습니다.");
                        location.reload(true);
                    },
                    error: function (xhr) {
                        if (xhr.status === 200) {
                            alert('로그인 후 이용해주세요.');
                            location.href = "/login";
                        } else {
                            alert(xhr.responseText);
                        }
                    },
                })
            } else {
                return false;
            }
        }

        /* 검색 함수 */
        function handleSearchButtonClick(e) {
            e.preventDefault();
            goToPage(0);
        }

        /* 페이지 이동 함수 */
        function goToPage(page) {
            let userIdentifier = $(".userid-input").val();
            location.href = "/admin/orders/" + page + "?userIdentifier=" + userIdentifier;
        }
    </script>

</body>