<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/admin-layout.html :: head"></div>
</head>

<body>
<main class="admin-main-area">
    <div th:replace="/layouts/admin-layout.html :: sidebar(currentMenu='qaManagement')"></div>

    <article class="admin-content-area">
        <div th:replace="/layouts/admin-layout.html :: nav"></div>

        <!-- section start -->
        <section class="admin-section-area">
            <div class="container-fluid">

                <div class="section-header">
                    <h2>Q&A</h2>
                    <div class="divider"></div>
                </div>

                <div class="section-body qa-mng-body row">

                    <div class="col-11">
                        <div class="list-total-count-container">
                            <span class="me-1" th:text="${qaList.getTotalElements()}"></span>POSTS
                        </div>

                        <div class="qa-list-container">

                            <div class="table-wrapper">
                                <table class="base-table base-table--multi-columns">
                                    <thead class="base-table__head">
                                    <tr class="base-table__row">
                                        <th class="base-table__header-cell" style="width: 80px;" scope="col">
                                            <input type="checkbox" id="all-check" name="all-check" onclick="checkAll()">
                                            <label for="all-check"></label>
                                        </th>
                                        <th class="base-table__header-cell" style="width: auto;" scope="col">제목</th>
                                        <th class="base-table__header-cell" style="width: 180px;" scope="col">작성자</th>
                                        <th class="base-table__header-cell" style="width: 180px;" scope="col">작성일</th>
                                        <th class="base-table__header-cell" style="width: 180px;" scope="col">선택</th>
                                    </tr>
                                    </thead>

                                    <tbody class="base-table__body">

                                    <tr class="base-table__row" th:if="${#lists.isEmpty(qaList.getContent())}">
                                        <td class="base-table__cell base-table__cell--empty" colspan="5">
                                            <span class="base-table__message">등록된 Q&A가 없습니다.</span>
                                        </td>
                                    </tr>

                                    <tr class="base-table__row" th:each="qa, status:${qaList.getContent()}">
                                        <td class="base-table__cell">
                                            <input type="checkbox" class="check" name="check" th:data-qaId="${qa.qaId}">
                                        </td>
                                        <td class="base-table__cell left">
                                            <a th:if="${qa.groupLayer == 0}" th:href="@{'/board/qa/' + ${qa.qaId}}"><span th:text="${qa.title}"></span></a>
                                            <a class="ml15" th:if="${qa.groupLayer == 1}" th:href="@{'/board/qa/' + ${qa.qaId}}"><i class="xi-reply xi-rotate-180"></i> <span th:text="${qa.title}"></span></a>
                                            <a class="ml30" th:if="${qa.groupLayer == 2}" th:href="@{'/board/qa/' + ${qa.qaId}}"><i class="xi-reply xi-rotate-180"></i> <span th:text="${qa.title}"></span></a>
                                            <a class="ml45" th:if="${qa.groupLayer >= 3}" th:href="@{'/board/qa/' + ${qa.qaId}}"><i class="xi-reply xi-rotate-180"></i> <span th:text="${qa.title}"></span></a>
                                            <i class="xi-lock-o"></i>
                                        </td>
                                        <td class="base-table__cell">
                                            <span th:if="${qa.state.name == T(com.windsome.constant.Role).USER.name}" th:text="|${#strings.substring(qa.createdBy, 0, 1)}****|"></span>
                                            <span th:if="${qa.state.name == T(com.windsome.constant.Role).ADMIN.name}" th:text="${qa.createdBy}"></span>
                                        </td>
                                        <td class="base-table__cell">
                                            <span th:text="${qa.regDate}"></span>
                                        </td>
                                        <td class="base-table__cell">
                                            <button class="button button--white button--65x30 del-btn" th:data-qaId="${qa.qaId}">삭제</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>

                        <div class="button-container">
                            <button class="button button--white button--90x30 posts-del-btn">선택 삭제</button>
                            <button class="button button--white button--90x30 all-post-del-btn">전체 삭제</button>
                            <button class="button button--white button--65x30 write-btn">글쓰기</button>
                        </div>

                        <div class="pagination-container"
                             th:with="start=${(qaList.number/maxPage)*maxPage + 1}, end=(${(qaList.totalPages == 0) ? 1 :
                                                 (start + (maxPage - 1) < qaList.totalPages ? start + (maxPage - 1) : qaList.totalPages)})">
                            <ul>
                                <li class="prev" th:classappend="${qaList.first} ? 'disabled'">
                                    <a th:onclick="'javascript:page(0)'">
                                        <i class="fa-solid fa-angle-left"></i><i
                                            class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="prev" th:classappend="${qaList.first} ? 'disabled'">
                                    <a th:onclick="'javascript:page(' +  ${qaList.number - 1} + ')'">
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page" th:each="page: ${#numbers.sequence(start, end)}"
                                    th:classappend="${qaList.number eq page - 1} ? 'active' : ''">
                                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'"
                                       th:inline="text">[[${page}]]</a>
                                </li>
                                <li class="next" th:classappend="${qaList.last} ? 'disabled'">
                                    <a th:onclick="'javascript:page(' + ${qaList.number + 1} + ')'">
                                        <i class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="next" th:classappend="${qaList.last} ? 'disabled'">
                                    <a th:onclick="'javascript:page(' + ${qaList.totalPages - 1} + ')'">
                                        <i class="fa-solid fa-angle-right"></i><i
                                            class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="search-input-container" th:object="${qaSearchDto}">
                            <i class="fa-solid fa-angle-right"></i>
                            <span class="txt">검색어</span>
                            <select class="search-date-type" th:field="*{searchDateType}">
                                <option value="">(전체)</option>
                                <option value="title">제목</option>
                                <option value="content">내용</option>
                                <option value="name">작성자</option>
                            </select>
                            <input class="search-query" th:field="*{searchQuery}" type="text" placeholder="검색어를 입력해주세요">
                            <button class="search-btn button button--white button--90x30" type="button">검색</button>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <div th:replace="/layouts/admin-layout.html :: footer"></div>
    </article>
</main>


<div th:replace="/layouts/admin-layout.html :: commonJs"></div>
    <!-- custom js -->
    <script th:inline="javascript">
        $(function () {
            initSubMenu(); // 서브 메뉴 초기화

            /* 글쓰기 버튼 클릭 처리 */
            $(".write-btn").click(handleWriteButtonClick);

            /* 검색 버튼 클릭 처리 */
            $(".search-btn").click(handleSearchButtonClick);

            /* 삭제 버튼 클릭 처리 */
            $(".del-btn").click(handleDeleteButtonClick);

            /* 선택 삭제 버튼 클릭 처리 */
            $(".posts-del-btn").click(handleDeleteSelectedButtonClick);

            /* 전체 삭제 버튼 클릭 처리 */
            $(".all-post-del-btn").click(handleDeleteAllButtonClick);
        });

        /* 서브 메뉴 초기화 */
        function initSubMenu() {
            $("a[data-bs-target='#board-management-submenu']").removeClass("collapsed");
            $("#board-management-submenu").addClass("show");
        }

        /* 게시글 등록 화면으로 이동하는 함수 */
        function handleWriteButtonClick() {
            location.href = '/board/notice/enroll';
        }

        /* 검색 함수 */
        function handleSearchButtonClick(e) {
            e.preventDefault();
            if ($(".search-query").val() === '') {
                alert("검색어를 입력해주세요.");
                return false;
            }
            page(0);
        }

        /* 단일 게시글 삭제 함수 */
        function handleDeleteButtonClick() {
            let qaId = $(this).attr("data-qaId");
            deleteQa([qaId]);
        }

        /* 선택된 게시글 삭제 함수 */
        function handleDeleteSelectedButtonClick() {
            let qaIds = getSelectedQaIds();
            if (qaIds.length > 0) {
                if (confirm("게시글을 삭제하시겠습니까?")) {
                    deleteQa(qaIds);
                }
            } else {
                alert("게시글을 1개 이상 선택해 주세요.")
            }
        }

        /* 게시글 전체 삭제 함수 */
        function handleDeleteAllButtonClick() {
            let qaIds = getSelectedQaIds();
            if (qaIds.length > 0) {
                if (confirm("전체 게시글을 삭제하시겠습니까?")) {
                    deleteQa(qaIds);
                } else {
                    // 체크 박스 전체 선택 해제
                    $("input[name='check']").each(function () {
                        $("input[name=check]").prop("checked", false);
                    });
                }
            }
        }

        /* 페이지 이동 함수 */
        function page(page) {
            let searchDateType = $(".search-date-type").val();
            let searchQuery = $(".search-query").val();
            location.href = "/admin/board/qa?page=" + page + "&searchDateType=" + searchDateType + "&searchQuery=" + searchQuery;
        }

        /* 체크 박스 전체 선택/해제 함수 */
        function checkAll() {
            if ($("#all-check").prop("checked")) {
                $("input[name=check]").prop("checked", true);
            } else {
                $("input[name=check]").prop("checked", false);
            }
        }

        /* 게시글 삭제 함수 */
        function deleteQa(qaIds) {
            $.ajax({
                url: "/admin/board/qa/",
                type: "delete",
                traditional: true,
                data: {
                    qaIds: qaIds
                },
                success(res) {
                    alert(res);
                    location.reload(true);
                },
                error(request) {
                    alert(request.responseText);
                }
            });
        }

        /* 선택된 게시글들의 id 값 가져오기 */
        function getSelectedQaIds() {
            let qaIds = [];
            $("input[name='check']").each(function () {
                if ($(this).is(':checked') === true) {
                    qaIds.push($(this).attr("data-qaId"));
                }
            });
            return qaIds;
        }
    </script>

</body>