/*  start */
.black_btn_w130_h40,
.black_btn_w90_h40,
.black_btn_w90_h30,
.black_btn_w65_h30 {
    display: inline-block;
    padding: 10px 8px 10px 8px;
    font-size: 13px;
    border: 1px solid transparent;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: #151515;
    border-radius: 0 !important;

    &:hover {
        background-color: #474747;
    }
}

.black_btn_w130_h40 {
    width: 130px;
    height: 40px;
}

.black_btn_w90_h40 {
    width: 90px;
    height: 40px;
}

.black_btn_w90_h30 {
    width: 90px;
    height: 30px;
}

.black_btn_w65_h30 {
    width: 65px;
    height: 30px;
}

.white_btn_w130_h40,
.white_btn_w90_h40,
.white_btn_w90_h30,
.white_btn_w65_h30 {
    display: inline-block;
    padding: 10px 8px 10px 8px;
    font-size: 13px;
    border: 1px solid #e2e2e2;
    vertical-align: middle;
    text-align: center;
    color: #222;
    background-color: #fff;
    border-radius: 0px !important;

    &:hover {
        border: 1px solid black;
    }
}

.white_btn_w130_h40 {
    width: 130px;
    height: 40px;
}

.white_btn_w90_h40 {
    width: 90px;
    height: 40px;
}

.white_btn_w90_h30 {
    width: 90px;
    height: 30px;
}

.white_btn_w65_h30 {
    width: 65px;
    height: 30px;
}