/* button start */
button.black_btn {
    display: inline-block;
    width: 130px;
    padding: 10px 8px 10px 8px;
    font-size: 13px;
    border: 1px solid transparent;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: #151515;
    border-radius: 0 !important;
}

button.black_btn:hover {
    background-color: #474747;
}

a.white_btn {
    display: inline-block;
    width: 130px;
    padding: 10px 8px 10px 8px;
    font-size: 13px;
    border: 1px solid #e2e2e2;
    vertical-align: middle;
    text-align: center;
    color: #222;
    background-color: #fff;
    border-radius: 0px !important;
}

a.white_btn:hover {
    border: 1px solid black;
}