.review_form_body {
    .item_info_wrap {
        width: 70%;
        display: table;
        table-layout: fixed;
        padding: 50px 0 35px;
        border-top: 1px solid #e8e8e8;
        margin: 0 auto;

        .thumbnail {
            display: table-cell;
            padding: 0 20px;
            vertical-align: middle;
            width: 190px;

            img.no_img {
                width: 150px;
            }

            img.item_img {
                width: 150px;
                height: 190px;
            }
        }

        .information {
            display: table-cell;
            padding: 0 20px 0 0;
            vertical-align: bottom;

            h3 {
                font-size: 14px;
                color: #333;
                max-width: 600px;
                letter-spacing: 0.01em;
                word-break: keep-all;
                margin: 0 0 5px;
            }

            .price {
                margin-bottom: 20px;

                span.price {
                    font-size: 12px;
                    color: #666666;
                }

                span.beforePrice {
                    font-size: 12px;
                    color: #666666;
                    text-decoration: line-through;
                }

                span.salePrice {
                    font-size: 12px;
                    color: #333333;
                    font-weight: bold;
                    margin-left: 5px;
                }
            }

            button {
                font-size: 12px;
                color: #222222;
                height: 30px !important;
                display: block;
            }

            .itemId_warn_msg {
                display: none;
                font-size: 12px;
                margin-top: 2px;
            }
        }
    }

    .review_form_wrap {
        display: flex;
        justify-content: center;

        form {
            width: 70%;

            table {
                tbody {
                    td {
                        select {
                            width: 10%;
                        }

                        textarea {
                            width: 100%;
                            height: 400px;
                            padding: 2px 4px;
                            border: 1px solid #d5d5d5;

                            &:focus::placeholder {
                                color: transparent;
                            }
                        }

                        .password_input {
                            width: 30%;
                        }

                        .rate {
                            display: inline-block;

                            input {
                                display: none;
                            }

                            label {
                                float: right;
                                color: #ddd;

                                &:before {
                                    display: inline-block;
                                    font-size: 1rem;
                                    padding: .3rem .2rem;
                                    margin: 0;
                                    cursor: pointer;
                                    font-family: FontAwesome;
                                    content: "\f005 ";
                                }
                            }

                            .half:before {
                                content: "\f089 ";
                                position: absolute;
                            }

                            input:checked~label,
                            label:hover,
                            label:hover~label {
                                color: #f73c32 !important;
                            }
                        }
                    }
                }
            }

            .btn_box,
            .btn_box_add_float {
                padding: 10px 0;
                text-align: center;
                display: block;
                margin-top: 50px;
            }

            .btn_box_add_float {
                .cancel_btn {
                    float: left;
                }

                .del_btn,
                .update_btn {
                    float: right;
                    margin-left: 5px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .review_form_body {
        .item_info_wrap {
            width: 90%;
        }

        .review_form_wrap {
            form {
                width: 90%;
            }
        }
    }
}

@media (max-width: 992px) {
    .review_form_body {
        .item_info_wrap {
            width: 100%;
        }

        .review_form_wrap {
            form {
                width: 100%;

                .btn_box {
                    button.del_btn {
                        width: 50px;
                    }
                }
            }
        }
    }
}