.noticeMng_body {
    width: 90%;
    margin: 0 auto;

    .table_wrap {
        width: 100%;
        overflow-x: auto;

        table {
            min-width: 1150px;

            tbody {
                &.notice {
                    tr {
                        background-color: rgb(250, 250, 250);
                    }
                }
            }
        }
    }

    .message_wrap {
        @include board_message_wrap();
    }

    .btn_box {
        @include board_btn_box();
    }

    .search_box {
        @include board_search_box();
    }
}