.qaMng_body {
    width: 90%;
    margin: 0 auto;

    .table_wrap {
        width: 100%;
        overflow-x: auto;

        table {
            min-width: 1150px;

            tbody {
                tr {
                    td {
                        i {
                            font-size: 16px;
                            vertical-align: top;
                            padding-top: 1px;
                            margin-left: 3px;
                        }

                        .xi-reply {
                            vertical-align: middle;
                        }

                        span {
                            color: #111111;
                        }
                    }
                }
            }
        }
    }

    .message_wrap {
        @include board_message_wrap();
    }

    .btn_box {
        @include board_btn_box();
    }

    .search_box {
        @include board_search_box();
    }
}