@import "../../../abstracts/variables";

.notice-mng-body {
    width: 90%;
    margin: 0 auto;

    .notice-list-container {
        width: 100%;
        overflow-x: auto;

        table {
            min-width: 1150px;
        }
    }

    .button-container {
        @include button-container();
    }

    .search-input-container {
        @include search-input-container();
    }
}