<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/default-layout.html :: head"></div>
</head>

<body>
    <main class="def-main-area">
        <div th:replace="/layouts/default-layout.html :: sidebar"></div>

        <article class="def-content-area">
            <div th:replace="/layouts/default-layout.html :: nav"></div>

            <!-- section start -->
            <section class="def-section-area">
                <div class="container-fluid">

                    <div class="section-header">
                        <h2>REVIEW</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section-body review-form-body row">
                        <div class="review-form-wrap col-11 col-md-10 col-xxl-8">
                            <form id="reviewEnrollForm" th:action="@{'/board/review/enroll'}" th:object="${reviewDto}" method="post">
                                <div class="table-wrapper">
                                    <table class="base-table base-table--post">
                                        <colgroup>
                                            <col style="width:15%;">
                                            <col style="width: auto;">
                                        </colgroup>
                                        <tbody class="base-table__body">
                                            <tr class="base-table__row">
                                                <td class="base-table__cell base-table__cell--border-bottom base-table__cell--big-padding" colspan="2">
                                                    <div class="product-info-wrap" th:if="${#strings.isEmpty(review)}">
                                                        <input type="hidden" class="hiddenProductId" value="0">
                                                        <span class="thumbnail">
                                                            <a class="product-link" style="pointer-events: none">
                                                                <img class="no-img" src="/imgs/no_image.jpg">
                                                            </a>
                                                        </span>
                                                        <div class="information">
                                                            <button id="test" class="button button--white button--90x40 find-product-btn">상품정보선택</button>
                                                            <span class="productId-warn-msg text-danger">상품을 선택해주세요.</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-info-wrap" th:if="${not #strings.isEmpty(review)}">
                                                        <input type="hidden" class="hiddenProductId" th:value="${review.productId}">
                                                        <span class="thumbnail">
                                                            <a th:href="${'/product/' + review.productId}">
                                                                <img class="product-img" th:src="${review.imageUrl}">
                                                            </a>
                                                        </span>
                                                        <div class="information">
                                                            <h3><a th:href="${'/product/' + review.productId}" th:text="${review.productName}"></a></h3>
                                                            <div class="price">
                                                                <span class="price" th:unless="${review.discount > 0}" th:text="|${#numbers.formatInteger(review.price, 0, 'COMMA')}원|"></span>
                                                                <span class="beforePrice" th:if="${review.discount > 0}" th:text="|${#numbers.formatInteger(review.price, 0, 'COMMA')}원|"></span>
                                                                <span class="salePrice" th:if="${review.discount > 0}" th:text="|${#numbers.formatInteger(review.salePrice, 0, 'COMMA')}원|"></span>
                                                            </div>
                                                            <button class="button button--white button--90x40 new-find-product-btn">상품정보선택</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="base-table__row">
                                                <th class="base-table__header-cell" scope="row">
                                                    <label th:for="*{rating}">평점 <span>*</span></label>
                                                </th>
                                                <td class="base-table__cell">
                                                    <fieldset class="rate">
                                                        <input type="radio" id="rating10" name="rating" value="5"><label for="rating10"></label>
                                                        <input type="radio" id="rating9" name="rating" value="4.5"><label for="rating9" class="half" ></label>
                                                        <input type="radio" id="rating8" name="rating" value="4"><label for="rating8"></label>
                                                        <input type="radio" id="rating7" name="rating" value="3.5"><label for="rating7" class="half" ></label>
                                                        <input type="radio" id="rating6" name="rating" value="3"><label for="rating6"></label>
                                                        <input type="radio" id="rating5" name="rating" value="2.5"><label for="rating5" class="half" ></label>
                                                        <input type="radio" id="rating4" name="rating" value="2"><label for="rating4"></label>
                                                        <input type="radio" id="rating3" name="rating" value="1.5"><label for="rating3" class="half" ></label>
                                                        <input type="radio" id="rating2" name="rating" value="1"><label for="rating2"></label>
                                                        <input type="radio" id="rating1" name="rating" value="0.5"><label for="rating1" class="half" ></label>
                                                    </fieldset>
                                                </td>
                                            </tr>
                                            <tr class="base-table__row">
                                                <td class="base-table__cell base-table__cell--no-padding" colspan="2">
                                                    <textarea class="content-input" th:field="*{content}" maxlength="200" placeholder="내용을 입력하세요."></textarea>
                                                    <span class="content-text-count">0자/200자</span>
                                                </td>
                                            </tr>
                                            <tr class="base-table__row">
                                                <th class="base-table__header-cell base-table__header-cell--border-top" scope="row">
                                                    <label th:for="*{password}">비밀번호 <span>*</span></label>
                                                </th>
                                                <td class="base-table__cell base-table__cell--border-top">
                                                    <input class="base-table__input password-input" th:field="*{password}" type="password">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="btn-box">
                                    <button class="button button--black button--130x40 enroll-btn" type="button">등록</button>
                                    <button class="button button--white button--130x40 cancel-btn" type="button">취소</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="/layouts/default-layout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="/layouts/default-layout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script th:inline="javascript">

        /* 유효성 검사 통과유무 변수 */
        let titleCheck = false;     // 제목 체크
        let ratingCheck = false;    // 평점 체크
        let contentCheck = false;   // 내용 체크
        let passwordCheck = false;  // 비밀번호 체크
        let productIdCheck = false;    // 상품정보선택 체크

        $(function () {
            /* 상품 선택 팝업창 열기 */
            $(".find-product-btn").on("click", function (e) {
                e.preventDefault();

                let popUrl = "/board/review/product-selection";
                let popOption = "width=600px, height=500px,top=300px, left=300px, scrollbars=yes";

                window.open(popUrl, "findProduct", popOption);
            });

            /* 동적으로 생성된 상품 선택 팝업창 열기 */
            $(document).on("click", ".new-find-product-btn", function (e) {
                e.preventDefault();

                let popUrl = "/board/review/product-selection";
                let popOption = "width=600px, height=500px,top=300px, left=300px, scrollbars=yes";

                window.open(popUrl, "findProduct", popOption);
            });

            /* 리뷰 등록 */
            $(".enroll-btn").on("click", function () {
                /* 입력값 변수 */
                let titleVal = $('.title-input').val(); // 제목 입력란
                let ratingVal = $("input[name='rating']:checked").val(); // 제목 입력란
                let contentVal = $('.content-input').val(); // 내용 입력란
                let passwordVal = $('.password-input').val(); // 비밀번호 입력란
                let productIdVal = $('.hiddenProductId').val(); // 비밀번호 입력란

                /* 상품정보선택 빈값 검사 */
                if (productIdVal === "0") {
                    alert("상품정보를 선택하세요.");
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    productIdCheck = true;
                }

                /* 제목 빈값 검사 */
                if (titleVal === '') {
                    alert("제목을 입력하세요.");
                    $(".title-input").focus();
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    titleCheck = true;
                }

                /* 평점 빈값 검사 */
                if (!ratingVal >= 1) {
                    alert("평점을 입력하세요.");
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    ratingCheck = true;
                }

                /* 내용 빈값 검사 */
                if (contentVal === "") {
                    alert("내용을 입력하세요.");
                    $(".content-input").focus();
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    contentCheck = true;
                }

                /* 비밀번호 빈값 검사 */
                if (passwordVal === "") {
                    alert("비밀번호를 입력하세요.");
                    $(".password-input").focus();
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    passwordCheck = true;
                }

                /* 최종 유효성 검사 */
                if (titleCheck && ratingCheck && contentCheck && passwordCheck && productIdCheck) {
                    let productId = $(".hiddenProductId").val();

                    $.ajax({
                        url: "/board/review/check/" + productId,
                        type: "POST",
                        dataType: "text",
                        cache: false,
                        success: function (result, status) {
                            let param = {
                                productId: productId,
                                title: $(".title-input").val(),
                                rating: $("input[name='rating']:checked").val(),
                                content: $(".content-input").val(),
                                password: $(".password-input").val()
                            }
                            let paramData = JSON.stringify(param);

                            $.ajax({
                                url: "/board/review/enroll",
                                type: "POST",
                                contentType: "application/json",
                                dataType: "text",
                                cache: false,
                                data: paramData,
                                success: function (result) {
                                    alert(result);
                                    location.href = '/board/review';
                                },
                                error: function (xhr) {
                                    if (xhr.status === 200) {
                                        alert('로그인 후 이용해주세요.');
                                        location.href = "/login";
                                    } else {
                                        alert(xhr.responseText);
                                    }
                                },
                            });
                        },
                        error: function (request) {
                            alert(request.responseText);
                        },
                    })
                }
                return false;
            });

            /* 리뷰 게시판으로 이동 */
            $(".cancel-btn").on("click", function () {
                location.href = '/board/review';
            });

            /* 게시글 제목 글자 수 제한 */
            $(".title-input").on("propertychange change keyup paste input", function () {
                let titleInputVal = $(this).val();

                // 글자 수 세기
                if (titleInputVal.length === 0 || titleInputVal === '') {
                    $(".title-text-count").text("0자/50자");
                } else {
                    $(".title-text-count").text(titleInputVal.length + '자/50자');
                }

                // 글자 수 제한
                if (titleInputVal.length > 50) {
                    // 50자 부터는 타이핑 되지 않도록
                    $(this).val($(this).val().substring(0, 50));
                    // 50자 넘으면 알림창 뜨도록
                    alert('제목은 50자까지 입력 가능합니다.');
                }
            });

            /* 게시글 내용 글자 수 제한 */
            $(".content-input").on("propertychange change keyup paste input", function () {
                let contentInputVal = $(this).val();

                // 글자 수 세기
                if (contentInputVal.length === 0 || contentInputVal === '') {
                    $(".content-text-count").text("0자/200자");
                } else {
                    $(".content-text-count").text(contentInputVal.length + '자/200자');
                }

                // 글자 수 제한
                if (contentInputVal.length > 200) {
                    // 200자 부터는 타이핑 되지 않도록
                    $(this).val($(this).val().substring(0, 200));
                    // 200자 넘으면 알림창 뜨도록
                    alert('내용은 200자까지 입력 가능합니다.');
                }
            });
        });
    </script>
</body>
</html>