<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/defaultLayout.html :: head"></div>
</head>

<body>
    <main class="def_main_area">
        <div th:replace="/layouts/defaultLayout.html :: sidebar"></div>

        <article class="def_content_area">
            <div th:replace="/layouts/defaultLayout.html :: nav"></div>

            <!-- section start -->
            <section class="def_section_area">
                <div class="container-fluid">

                    <div class="section_header">
                        <h2>리뷰 상세</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section_body review_form_body mt-5">

                        <div class="item_info_wrap">
                            <span class="thumbnail">
                                <a th:href="${'/item/' + review.itemId}">
                                    <img class="item_img" th:src="${review.imgUrl}">
                                </a>
                            </span>
                            <div class="information">
                                <h3>
                                    <a th:href="${'/item/' + review.itemId}" th:text="${review.itemNm}"></a>
                                </h3>
                                <div class="price">
                                    <span class="price" th:unless="${review.discount > 0}" th:text="|${#numbers.formatInteger(review.price, 0, 'COMMA')}원|"></span>
                                    <span class="beforePrice" th:if="${review.discount > 0}" th:text="|${#numbers.formatInteger(review.price, 0, 'COMMA')}원|"></span>
                                    <span class="salePrice" th:if="${review.discount > 0}" th:text="|${#numbers.formatInteger(review.salePrice, 0, 'COMMA')}원|"></span>
                                </div>
                            </div>
                        </div>

                        <div class="review_form_wrap">
                            <form th:object="${review}" method="post">
                                <table class="col_header_table_basic">
                                    <colgroup>
                                        <col style="width:15%;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{title}">제목 <span>*</span></label>
                                        </th>
                                        <td>
                                            <input class="title_input" type="text" th:field="*{title}" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{rating}">평점 <span>*</span></label>
                                        </th>
                                        <td>
                                            <fieldset class="rate">
                                                <input type="radio" id="rating10" name="rating" value="5" onclick="return false;"><label for="rating10"></label>
                                                <input type="radio" id="rating9" name="rating" value="4.5" onclick="return false;"><label for="rating9" class="half" ></label>
                                                <input type="radio" id="rating8" name="rating" value="4" onclick="return false;"><label for="rating8"></label>
                                                <input type="radio" id="rating7" name="rating" value="3.5" onclick="return false;"><label for="rating7" class="half" ></label>
                                                <input type="radio" id="rating6" name="rating" value="3" onclick="return false;"><label for="rating6"></label>
                                                <input type="radio" id="rating5" name="rating" value="2.5" onclick="return false;"><label for="rating5" class="half" ></label>
                                                <input type="radio" id="rating4" name="rating" value="2" onclick="return false;"><label for="rating4"></label>
                                                <input type="radio" id="rating3" name="rating" value="1.5" onclick="return false;"><label for="rating3" class="half" ></label>
                                                <input type="radio" id="rating2" name="rating" value="1" onclick="return false;"><label for="rating2"></label>
                                                <input type="radio" id="rating1" name="rating" value="0.5" onclick="return false;"><label for="rating1" class="half" ></label>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{content}">내용 <span>*</span></label>
                                        </th>
                                        <td>
                                            <textarea class="content_input" th:field="*{content}" readonly></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label th:for="*{password}">비밀번호 <span>*</span></label>
                                        </th>
                                        <td>
                                            <input class="password_input" th:field="*{password}" type="password">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="btn_box_add_float">
                                    <button class="white_btn_w130_h40 cancel_btn" type="button">목록</button>
                                    <button class="white_btn_w130_h40 del_btn" type="button">삭제</button>
                                    <button th:data-reviewId="${review.reviewId}" class="black_btn_w130_h40 update_btn" type="button">수정</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>

            <div th:replace="/layouts/defaultLayout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="/layouts/defaultLayout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script th:inline="javascript">
        $(function() {
            /* 리뷰 수정 버튼 */
            $(".update_btn").on("click", function () {
                let password = [[${review.password}]];
                let passwordVal = $(".password_input").val();

                if (passwordVal === '') {
                    alert("비밀번호를 입력하세요.");
                    $('.password_input').focus();
                } else if (passwordVal === password) {
                    let reviewId = $(this).attr("data-reviewId");
                    location.href = "/board/review/update/" + reviewId;
                } else {
                    alert("비밀번호가 일치하지 않습니다.");
                    $('.password_input').focus();
                }
            });

            /* 리뷰 삭제 */
            $(".del_btn").on("click", function () {
                let reviewId = [[${review.reviewId}]];
                let password = [[${review.password}]];
                let itemId = [[${review.itemId}]];
                let passwordVal = $(".password_input").val();

                if (passwordVal === '') {
                    alert("비밀번호를 입력하세요.");
                    $('.password_input').focus();
                } else if (passwordVal === password) {
                    if (confirm("리뷰를 삭제하시겠습니까?")) {
                        $.ajax({
                            url: "/board/review/delete/" + reviewId + "?itemId=" + itemId,
                            type: "DELETE",
                            dataType: "text",
                            cache: false,
                            success: function (result, status) {
                                alert(result);
                                location.href = '/board/review';
                            },
                            error: function (request, status, error) {
                                if (request.status === '401') {
                                    alert('로그인 후 이용해주세요.');
                                    location.href = '/login';
                                } else {
                                    alert(request.responseText);
                                }
                            },
                        });
                    } else {
                        false;
                    }
                } else {
                    alert("비밀번호가 일치하지 않습니다.");
                    $('.password_input').focus();
                }
            });

            /* 취소 버튼 */
            $(".cancel_btn").on("click", function () {
                location.href = '/board/review';
            });

            /* 평점 값 설정 */
            $("input:radio[name=rating]").each(function() {
                let reviewRating = [[${review.rating}]]; // 2.5
                let ratingVal = Number($(this).val());

                if (ratingVal === reviewRating) {
                    $(this).prop("checked", true);
                }
            });
        });
    </script>
</body>