<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/adminLayout.html :: head"></div>
</head>

<body>
    <main>
        <div th:replace="/layouts/adminLayout.html :: sidebar(currentMenu='productManagement')"></div>

        <article class="content">
            <div th:replace="/layouts/adminLayout.html :: nav"></div>

            <!-- items section -->
            <section id="item_mng">
                <div class="container item_mng">
                    <div class="section_header">
                        <h2>상품 관리</h2>
                        <div class="divider"></div>
                    </div>
                    <div class="item_mng_body mt-5">
                        <div class="table-responsive">
                            <form id="search_form" th:object="${items}">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;" scope="col">번호</th>
                                            <th style="width: auto;" scope="col">상품명</th>
                                            <th style="width: 10%;" scope="col">상태</th>
                                            <th style="width: 10%;" scope="col">등록자</th>
                                            <th style="width: 10%;" scope="col">등록일</th>
                                            <th style="width: 15%;" scope="col">선택</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, status: ${items.getContent()}">
                                            <td
                                                th:text="${items.getTotalElements() - (items.getSize() * items.getNumber()) - status.index}">
                                            </td>
                                            <td>
                                                <button class="item_dtl_btn" type="button" th:value="${item.id}"
                                                    th:text="${item.itemNm}"
                                                    onclick="moveItemDtlPage(this.value)"></button>
                                            </td>
                                            <td th:text="${item.itemSellStatus == sellStatus} ? '판매' : '품절'">
                                            </td>
                                            <td th:text="${item.createdBy}"></td>
                                            <td th:text="${#temporals.format(item.regTime, 'yyyy-MM-dd HH:mm:ss')}">
                                            </td>
                                            <td>
                                                <div class="btn_box">
                                                    <button th:data-id="${item.id}" class="black_btn_w90_h30 modify_btn" type="button">수정</button>
                                                    <button th:data-id="${item.id}" class="white_btn_w90_h30 delete_btn" type="button">삭제</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="pagination mt-3"
                                    th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 :
                                     (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
                                    <ul>
                                        <li class="prev" th:classappend="${items.first} ? 'disabled'">
                                            <a th:onclick="'javascript:page(0)'">
                                                <i class="fa-solid fa-angle-left"></i><i
                                                    class="fa-solid fa-angle-left"></i>
                                            </a>
                                        </li>
                                        <li class="prev" th:classappend="${items.first} ? 'disabled'">
                                            <a th:onclick="'javascript:page(' +  ${items.number - 1} + ')'">
                                                <i class="fa-solid fa-angle-left"></i>
                                            </a>
                                        </li>
                                        <li class="page" th:each="page: ${#numbers.sequence(start, end)}"
                                            th:classappend="${items.number eq page - 1} ? 'active' : ''">
                                            <a th:onclick="'javascript:page(' + ${page - 1} + ')'"
                                                th:inline="text">[[${page}]]</a>
                                        </li>
                                        <li class="next" th:classappend="${items.last} ? 'disabled'">
                                            <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </a>
                                        </li>
                                        <li class="next" th:classappend="${items.last} ? 'disabled'">
                                            <a th:onclick="'javascript:page(' + ${items.totalPages - 1} + ')'">
                                                <i class="fa-solid fa-angle-right"></i><i
                                                    class="fa-solid fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="search_box" th:object="${itemSearchDto}">
                                    <select class="search_date_type" th:field="*{searchDateType}">
                                        <option value="all">전체기간</option>
                                        <option value="1d">1일</option>
                                        <option value="1w">1주</option>
                                        <option value="1m">1개월</option>
                                        <option value="6m">6개월</option>
                                    </select>
                                    <select class="search_sell_status" th:field="*{searchSellStatus}">
                                        <option value="">판매상태(전체)</option>
                                        <option value="SELL">판매</option>
                                        <option value="SOLD_OUT">품절</option>
                                    </select>
                                    <select class="search_by" th:field="*{searchBy}">
                                        <option value="itemNm">상품명</option>
                                        <option value="createdBy">등록자</option>
                                    </select>
                                    <input class="search_query" th:field="*{searchQuery}" type="text"
                                        placeholder="검색어를 입력해주세요">
                                    <button class="search_btn black_btn_w90_h40" type="button">검색</button>
                                    <button class="white_btn_w90_h40 ms-2" type="button"
                                        onclick="moveItemEnrollPage()">상품 등록</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <form id="move_form" method="get">
                <input type="hidden" name="page" th:value="${items.number}">
                <input th:if="${not #strings.isEmpty(itemSearchDto.searchDateType)}" type="hidden" name="searchDateType"
                    th:value="${itemSearchDto.searchDateType}">
                <input th:if="${#strings.isEmpty(itemSearchDto.searchDateType)}" type="hidden" name="searchDateType"
                    value="all">
                <input type="hidden" name="searchSellStatus" th:value="${itemSearchDto.searchSellStatus}">
                <input th:if="${not #strings.isEmpty(itemSearchDto.searchBy)}" type="hidden" name="searchBy"
                    th:value="${itemSearchDto.searchBy}">
                <input th:if="${#strings.isEmpty(itemSearchDto.searchBy)}" type="hidden" name="searchBy" value="itemNm">
                <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
            </form>

            <div th:replace="/layouts/adminLayout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="/layouts/adminLayout.html :: js"></div>
    <!-- custom js -->
    <script th:inline="javascript">
        $(function() {
            $(".search_btn").on("click", function (e) {
                e.preventDefault();

                if (!$("#search_form").find("input[name='searchQuery']").val()) {
                    alert("검색어를 입력해주세요.");
                    return false;
                }

                page(0);
            });

            /* 상품 수정,등록 시 결과 창 출력 */
            let save_result = [[${ save_result }]];
            let update_result = [[${ update_result }]];
            checkResultForSave(save_result);
            checkResultForUpdate(update_result);

            function checkResultForSave(result) {
                if (result === 'save_ok') {
                    alert("상품 등록이 완료되었습니다.");
                }
            }

            function checkResultForUpdate(result) {
                if (result === 'update_ok') {
                    alert("상품 정보가 수정되었습니다.");
                } else if (result === 'update_fail') {
                    alert("상품 수정 중 오류가 발생하였습니다.");
                } else if (result === 'required_rep_img') {
                    alert("상품 수정 중 오류가 발생하였습니다. (첫 번째 상품 이미지 필수)")
                }
            }
        })

        /* page 이동 */
        function page(page) {
            let searchDateType = $(".search_date_type").val();
            let searchSellStatus = $(".search_sell_status").val();
            let searchBy = $(".search_by").val();
            let searchQuery = $(".search_query").val();

            location.href = "/admin/items/" + page + "?searchDateType=" + searchDateType
                + "&searchSellStatus=" + searchSellStatus
                + "&searchBy=" + searchBy
                + "&searchQuery=" + searchQuery;
        }

        /* 상품명 클릭 시 상품 상세 화면으로 이동 */
        function moveItemDtlPage(itemId) {
            let moveForm = $('#move_form');

            moveForm.attr("action", "/admin/itemDtl/" + itemId);
            moveForm.submit();
        }

        /* 상품 관리 페이지로 이동 */
        function moveItemEnrollPage() {
            location.href = "/admin/item";
        }

        /* 상품 수정 페이지 이동 버튼 */
        let moveForm = $("#move_form");
        $(".modify_btn").on("click", function(e){
            let itemId = $(this).attr("data-id");
            e.preventDefault();

            moveForm.attr("action", "/admin/item/" + itemId);
            moveForm.submit();
        });

        /* 상품 삭제 버튼 */
        $(".delete_btn").on("click", function (e) {
            let itemId = $(this).attr("data-id");
            e.preventDefault();

            $.ajax({
                url: "/admin/item/" + itemId,
                type: "DELETE",
                success: function (res) {
                    alert("상품이 삭제되었습니다.");
                    location.href = "/admin/items";
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            })
        });

    </script>
</body>