/* button start */
.black_btn_w130_h40,
.black_btn_w90_h40,
.black_btn_w90_h30,
.black_btn_w65_h30 {
    display: inline-block;
    font-size: 13px;
    border: 1px solid transparent !important;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: #151515;

    &:hover {
        background-color: #474747;
    }
}

.black_btn_w130_h40 {
    width: 130px;
    height: 40px;
}

.black_btn_w90_h40 {
    width: 90px;
    height: 40px;
}

.black_btn_w90_h30 {
    width: 90px;
    height: 30px;
}

.black_btn_w65_h30 {
    width: 65px;
    height: 30px;
}

.white_btn_w130_h40,
.white_btn_w90_h40,
.white_btn_w90_h30,
.white_btn_w65_h30 {
    display: inline-block;
    font-size: 13px;
    border: 1px solid #e2e2e2 !important;
    vertical-align: middle;
    text-align: center;
    color: #222;
    background-color: white;

    &:hover {
        border: 1px solid black !important;
    }
}

.white_btn_w130_h40 {
    width: 130px;
    height: 40px;
}

.white_btn_w90_h40 {
    width: 90px;
    height: 40px;
}

.white_btn_w90_h30 {
    width: 90px;
    height: 30px;
}

.white_btn_w65_h30 {
    width: 65px;
    height: 30px;
}