/* button start */
.black-btn-w130-h40,
.black-btn-w100-h30,
.black-btn-w90-h40,
.black-btn-w90-h30,
.black-btn-w65-h30 {
    display: inline-block;
    font-size: 12px;
    border: 1px solid transparent !important;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: #151515;

    &:hover {
        background-color: #474747;
    }
}

.black-btn-w130-h40 {
    width: 130px;
    height: 40px;
}

.black-btn-w100-h30 {
    width: 100px;
    height: 30px;
}

.black-btn-w90-h40 {
    width: 90px;
    height: 40px;
}

.black-btn-w90-h30 {
    width: 90px;
    height: 30px;
}

.black-btn-w65-h30 {
    width: 65px;
    height: 30px;
}

.white-btn-w130-h40,
.white-btn-w100-h30,
.white-btn-w90-h40,
.white-btn-w90-h30,
.white-btn-w65-h30 {
    display: inline-block;
    font-size: 12px;
    border: 1px solid #e2e2e2 !important;
    vertical-align: middle;
    text-align: center;
    color: #222;
    background-color: white;

    &:hover {
        border: 1px solid black !important;
    }
}

.white-btn-w130-h40 {
    width: 130px;
    height: 40px;
}

.white-btn-w100-h30 {
    width: 100px;
    height: 30px;
}

.white-btn-w90-h40 {
    width: 90px;
    height: 40px;
}

.white-btn-w90-h30 {
    width: 90px;
    height: 30px;
}

.white-btn-w65-h30 {
    width: 65px;
    height: 30px;
}