<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="layouts/default-layout.html :: head"></div>
</head>

<body>
<main class="def-main-area">
        <div th:replace="layouts/default-layout.html :: sidebar"></div>

        <article class="def-content-area">
            <div th:replace="layouts/default-layout.html :: nav"></div>

            <!-- section start -->
            <section class="def-section-area">
                <div class="container-fluid">

                    <div class="section-header">
                        <h2>NOTICE</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section-body notice-detail-body row">
                        <div class="col-12 col-md-10">
                            <div class="table-box">
                                <table>
                                    <colgroup>
                                        <col style="width:130px;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td colspan="2" class="board-title">
                                            <span th:text="${noticeDtlList.get(0).title}"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="board-date-con">
                                            <ul class="etcArea">
                                                <li th:text="${noticeDtlList.get(0).createdBy}"></li>
                                                <li>
                                                    <span class="txtNum" th:text="${#temporals.format(noticeDtlList.get(0).regTime, 'yyyy-MM-dd')}"></span>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="detail">
                                    <div class="article" th:utext="${noticeDtlList.get(0).content}"></div>
                                </div>
                            </div>

                            <div class="btn-box">
                                <button class="button button--white button--90x30 list-btn" onclick="location.href='/board/notices'" type="button">목록</button>
                            </div>

                            <div class="board-movement" th:if="${noticeDtlList.size() > 1}">
                                <ul th:if="${noticeDtlList.size() == 3}">
                                    <li class="prev">
                                        <strong>이전글</strong>
                                        <a th:href="@{'/board/notices/' + ${noticeDtlList.get(2).noticeId}}"><span
                                                th:text="${noticeDtlList.get(2).title}"></span></a>
                                    </li>
                                    <li class="next">
                                        <strong>다음글</strong>
                                        <a th:href="@{'/board/notices/' + ${noticeDtlList.get(1).noticeId}}"><span
                                                th:text="${noticeDtlList.get(1).title}"></span></a>
                                    </li>
                                </ul>

                                <!-- 이전글만 존재하는 경우 -->
                                <ul
                                        th:if="${noticeDtlList.size() == 2 && noticeDtlList.get(0).noticeId > noticeDtlList.get(1).noticeId}">
                                    <li class="only-prev">
                                        <strong>이전글</strong>
                                        <a th:href="@{'/board/notices/' + ${noticeDtlList.get(1).noticeId}}"><span
                                                th:text="${noticeDtlList.get(1).title}"></span></a>
                                    </li>
                                </ul>

                                <!-- 다음글만 존재하는 경우 -->
                                <ul th:if="${noticeDtlList.size() == 2 && noticeDtlList.get(0).noticeId < noticeDtlList.get(1).noticeId}">
                                    <li class="next">
                                        <strong>다음글</strong>
                                        <a th:href="@{'/board/notices/' + ${noticeDtlList.get(1).noticeId}}"><span
                                                th:text="${noticeDtlList.get(1).title}"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="layouts/default-layout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="layouts/default-layout.html :: commonJs"></div>
    <!-- 사용자 JS -->
    <script th:inline="javascript">
        $(function () {
        });
    </script>
</body>