<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/default-layout.html :: head"></div>
</head>

<body>
    <main class="def-main-area">
        <div th:replace="/layouts/default-layout.html :: sidebar"></div>

        <article class="def-content-area">
            <div th:replace="/layouts/default-layout.html :: nav"></div>

            <!-- section start -->
            <section class="def-section-area">
                <div class="container-fluid">

                    <div class="section-header">
                        <h2>공지사항 등록</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section-body notice-form-body mt-5">
                        <form id="noticeEnrollForm" th:action="@{'/board/notice/enroll'}" th:object="${noticeDto}" method="post">
                            <table class="col-header-table-basic">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width: auto;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">
                                        <label th:for="*{noticeYN}">공지 여부 <span>*</span></label>
                                    </th>
                                    <td class="check">
                                        <input class="noticeYN-input" type="checkbox" id="noticeYN" th:field="*{noticeYN}">
                                        <label for="noticeYN">상단 고정</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <label th:for="*{title}">제목 <span>*</span></label>
                                    </th>
                                    <td class="title">
                                        <input class="title-input" type="text" th:field="*{title}" maxlength="50" placeholder="제목을 입력하세요.">
                                        <span class="title-text-count">0자/50자</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <label th:for="*{content}">내용 <span>*</span></label>
                                    </th>
                                    <td class="content">
                                        <textarea class="content-input" th:field="*{content}" maxlength="500"></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="btn-box">
                                <button class="black-btn-w130-h40 enroll-btn" type="button">등록</button>
                                <button class="white-btn-w130-h40" type="button" onclick="location.href='/board/notice'">취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <div th:replace="/layouts/default-layout.html :: footer"></div>
        </article>
    </main>

    <div th:replace="/layouts/default-layout.html :: commonJs"></div>
    <!-- editor -->
    <script src="/node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
    <script src="/node_modules/@ckeditor/ckeditor5-build-classic/build/translations/ko.js"></script>
    <!-- 사용자 JS -->
    <script th:inline="javascript">

        /* 유효성 검사 통과 유무 변수 */
        let checkTitle = false;
        let checkContent = false;

        $(function () {
            /* 위지웍 적용 */
            ClassicEditor
                .create(document.querySelector('.content-input'), {
                    language: 'ko'
                })
                .then( newEditor => {
                    window.editor = newEditor;
                })
                .catch(error => {
                    console.error(error);
                });

            /* 게시글 저장 */
            $(".enroll-btn").click(function () {
                let titleInputVal = $(".title-input").val();
                let contentInputVal = editor.getData();

                /* 제목 빈값 검사 */
                if (titleInputVal === '') {
                    alert("제목을 입력하세요.");
                    $(".title-input").focus();
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    checkTitle = true;
                }

                /* 내용 빈값 검사 */
                if (contentInputVal === '') {
                    alert("내용을 입력하세요.");
                    $(".content-input").focus();
                    window.scrollTo(0, 0);
                    return false;
                } else {
                    checkContent = true;
                }

                /* 최종 유효성 검사 */
                if (checkTitle && checkContent) {
                    $("#noticeEnrollForm").submit();
                }
            });

            /* 게시글 제목 글자 수 제한 */
            $(".title-input").on("propertychange change keyup paste input", function () {
                let titleInputVal = $(this).val();

                // 글자 수 세기
                if (titleInputVal.length === 0 || titleInputVal === '') {
                    $(".title-text-count").text("0자/50자");
                } else {
                    $(".title-text-count").text(titleInputVal.length + '자/50자');
                }

                // 글자 수 제한
                if (titleInputVal.length > 50) {
                    // 50자 부터는 타이핑 되지 않도록
                    $(this).val($(this).val().substring(0, 50));
                    // 50자 넘으면 알림창 뜨도록
                    alert('제목은 50자까지 입력 가능합니다.');
                }
            });
        })
    </script>
</body>
</html>