<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layouts/default-layout.html :: head"></div>
</head>

<body>
    <main class="def-main-area">
        <div th:replace="/layouts/default-layout.html :: sidebar"></div>

        <article class="def-content-area">
            <div th:replace="/layouts/default-layout.html :: nav"></div>

            <!-- section start -->
            <section class="def-section-area">
                <div class="container-fluid ">

                    <div class="section-header">
                        <h2>공지사항 수정</h2>
                        <div class="divider"></div>
                    </div>

                    <div class="section-body notice-form-body row">

                        <div class="review-form-wrap col-11 col-md-10 col-xxl-8">
                            <form th:object="${notice}" method="post">
                                <div class="table-wrapper">
                                    <table class="base-table base-table--post">
                                        <colgroup>
                                            <col style="width:20%;">
                                            <col style="width: auto;">
                                        </colgroup>
                                        <tbody class="base-table__body">
                                        <tr class="base-table__row">
                                            <th class="base-table__header-cell" scope="row">
                                                <label th:for="*{noticeYN}">공지 여부 <span>*</span></label>
                                            </th>
                                            <td class="base-table__cell check">
                                                <input class="noticeYN-input" type="checkbox" id="noticeYN" th:field="*{noticeYN}">
                                                <label for="noticeYN">상단 고정</label>
                                            </td>
                                        </tr>
                                        <tr class="base-table__row">
                                            <th class="base-table__header-cell base-table__header-cell--border-top" scope="row">
                                                <label th:for="*{title}">제목 <span>*</span></label>
                                            </th>
                                            <td class="base-table__cell base-table__cell--border-top">
                                                <input class="base-table__input base-table__input--big title-input" type="text" th:field="*{title}" maxlength="50" placeholder="제목을 입력하세요.">
                                                <span class="title-text-count">0자/50자</span>
                                            </td>
                                        </tr>
                                        <tr class="base-table__row">
                                            <td class="base-table__cell" colspan="2">
                                                <textarea class="content-input" th:field="*{content}" maxlength="500"></textarea>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="btn-box">
                                    <button class="button button--black button--130x40 save-btn" type="button">저장</button>
                                    <button class="button button--white button--130x40 cancel-btn" type="button">취소</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </section>

            <div th:replace="/layouts/default-layout.html :: footer"></div>
        </article>
    </main>
    <div th:replace="/layouts/default-layout.html :: commonJs"></div>
    <!-- editor -->
    <script src="/node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
    <script src="/node_modules/@ckeditor/ckeditor5-build-classic/build/translations/ko.js"></script>
    <!-- 사용자 JS -->
    <script th:inline="javascript">
        $(function () {
            /* 위지웍 적용 */
            ClassicEditor
                .create(document.querySelector('.content-input'), {
                    language: 'ko'
                })
                .then( newEditor => {
                    window.editor = newEditor;
                })
                .catch(error => {
                    console.error(error);
                });

            /* 게시글 수정 */
            $(".save-btn").click(function () {
                let noticeId = [[${notice.id}]];
                let titleInputVal = $(".title-input").val();
                let contentInputVal = editor.getData();
                let noticeYNVal = $(".noticeYN-input").val();

                $.ajax({
                    url: "/board/notice/" + noticeId,
                    type: "PATCH",
                    data: {
                        title: titleInputVal,
                        content: contentInputVal,
                        noticeYN: noticeYNVal
                    },
                    success(result) {
                        alert(result);
                        location.href = '/board/notice/' + noticeId
                    },
                    error(request) {
                        alert(request.responseText);
                    }
                })
            });

            /* 공지사항 게시판으로 이동 */
            $(".cancel-btn").click(function () {
                let page = [[${page}]];
                if (page !== null) {
                    location.href = '/board/notice?page=' + page;
                }
                location.href = '/board/notice?page=0';
            });

            /* 게시글 제목 글자 수 제한 */
            $(".title-input").on("propertychange change keyup paste input", function () {
                let titleInputVal = $(this).val();

                // 글자 수 세기
                if (titleInputVal.length === 0 || titleInputVal === '') {
                    $(".title-text-count").text("0자/50자");
                } else {
                    $(".title-text-count").text(titleInputVal.length + '자/50자');
                }

                // 글자 수 제한
                if (titleInputVal.length > 50) {
                    // 50자 부터는 타이핑 되지 않도록
                    $(this).val($(this).val().substring(0, 50));
                    // 50자 넘으면 알림창 뜨도록
                    alert('제목은 50자까지 입력 가능합니다.');
                }
            });
        })
    </script>
</body>